
<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="_LivePagelayout">

<head>
<title>Apply Now</title>
<meta charset="utf-8">
<style type="text/css">



</style>
<body id="page-top">


	<!-- Content Wrapper -->
	<div layout:fragment="contentPlus">

		<section class="bg_grey_light support_help_area sec_pad pt-5">
			<div class="container">
				<h2
					class="f_p f_size_40  f_600 t_color text-center wow fadeInUp mb_10"
					style="visibility: visible; animation-name: fadeInUp;">Apply
					For Education Loan</h2>
				<h4 class="f_p   text-center wow fadeInUp mb_60">Fill in the
					details and help us connect with you.</h4>
					<div class="apply-now-form py-5 shadow pr-5 pl-5">
						<form  
							th:action="@{/apply-now/thankyou}"
							th:object="${applyNowGeneralDTO}" class="contact_form_box"
							method="post" id="myForm" novalidate="novalidate">
							<div class="row">
	
								<div class="col-lg-6">
									<div class="form-group text_box">
										<input type="text" id="fname" name="name"
											th:field="*{name}" placeholder="Full Name">
									</div>
								</div>
								
								<div class="col-lg-6">
									<div class="form-group text_box">
										<input type="number" maxlength="10"  id="number"  name="number"
											th:field="*{contactNumber}" placeholder="Contact Number">
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group text_box">
										<input type="email" name="email" id="email"
											th:field="*{emailId}" placeholder="E-mail ID">
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group text_box">
										<input type="text" id="city" name="city" th:field="*{city}"
											placeholder="City">
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group text_box">
										<input type="text" id="placeOfStudy" name="placeOfStudy"
											th:field="*{placeOfStudy}" placeholder="Place of Study">
	
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group text_box">
										<input type="date" id="year" th:name="timeOfStudy"
											placeholder="Duration of Study" required>
									</div>
								</div>
	
								<div class="col-lg-6">
									<div class="form-group text_box ">
										<select class="form-control" th:field="*{loanAmount}"
											id="country_name" name="loanAmount">
											<option value="">Select Loan Amount</option>
											<option value="5 Lacs to 10 Lacs">₹ 5 Lacs to 10 Lacs</option>
											<option value="10 Lacs to 20 Lacs">₹ 10 Lacs to 20
												Lacs</option>
											<option value="20 Lacs to 30 Lacs">₹ 20 Lacs to 30
												Lacs</option>
											<option value="30 Lacs to 40 Lacs">₹ 30 Lacs to 40
												Lacs</option>
											<option value="40 Lacs to 50 Lacs">₹ 40 Lacs to 50
												Lacs</option>
											<option value="50 Lacs and above">₹ 50 Lacs and above</option>
	
										</select>
									</div>
								</div>
	
								<div class="col-lg-12">
									<p>Admission Status</p>
									<label class="pr_20"><input type="radio" id="applied1"
										th:name="admissionStatus" value="Not Applied" name="admissionStatus" required> Not
										Applied</label> <label class="pr_20"><input type="radio"
										id="applied2" th:name="admissionStatus" value="Confirmed" name="admissionStatus" required>
										Confirmed </label> <label class="pr_20"><input type="radio"
										id="applied3" th:name="admissionStatus" value="Applied" name="admissionStatus" required>
										Applied</label>
										<p><label for="admissionStatus" class="error" style="display:none;">This field is required.</label></p>
								</div>
								<div class="col-lg-12">
									<input type="checkbox" id="checkbox" th:name="permission" name="permission"
										value="Agreed To use data for communication" required> <span
										class="f_size_14 c_cyan">I authorize Avanse Financial
										Services to connect with me over call and Whatsapp overriding
										my registration with NDNC </span>
										<p><label for="permission" class="error" style="display: none;">This field is required.</label></p>
								</div>
								
								<div class="col-lg-12 text-center pt-5">
									<button type="submit" class="btn_three f_size_22">Submit</button>
								</div>
							</div>
												
						</form>
					</div>
				<div class="text-center pt-5">
					<h2 class="f_size_40 f_500 t_color3 l_height45 text-center">
						Customized <span class="c_cyan">Solutions</span> For Your <br />
						<span class="c_cyan">Desired</span> International Education
					</h2>


				</div>
				<div class="row pt-5">
					<div class="col-lg-6">
						<div class="row">
							<div class="col-lg-6">
								<div class="salient-features s_integration_item">
									<h4 class="c_cyan f_size_18 f_500">
										Fastest Sanction<br /> within 72hrs*
									</h4>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="salient-features s_integration_item">
									<h4 class="c_cyan f_size_18 f_500">
										Loan Tenure<br /> up to 15 years
									</h4>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="salient-features s_integration_item">
									<h4 class="c_cyan f_size_18 f_500">
										Unsecured Loan<br /> up to 75 Lacs*
									</h4>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="salient-features s_integration_item">
									<h4 class="c_cyan f_size_18 f_500">100% Finance for Course
										Fee, Living & other Expenses</h4>
								</div>
							</div>

						</div>
					</div>
					<div class="col-lg-5 ml-auto">
						<h4>Opt for a student loan today, and give yourself a bright
							future tomorrow!</h4>
						<p>We help students to conquer their dreams & aspirations by
							providing them study loans. We provide attractive interest rates
							starting at 9.5% and processing fees as low as just 1%. This
							ensures that budding aspirants are able to fulfil their dreams of
							acquiring quality education, not only in international
							institutions, but also in renowned Indian institutions with
							complete ease!</p>
					</div>
				</div>
			</div>
		</section>
		<section class="recognitionaward-section bg_color sec_pad">
			<div class="container">
				<div class="sec_title text-center mb_50 wow fadeInUp">
					<h2 class="f_size_40 f_500  t_color3 l_height45">Awards &
						Accolades</h2>
					<p>
						Have a look at some of our achievements! We’re proud to count the
						following awards <br />and certifications among our achievements.
					</p>
				</div>
				<div class="row py-5">
					<div class="col-lg-12">
						<div class="recognition_carousel owl-carousel">
							<div th:each="award, iStat : ${awards}">
								<div class="item">
									<div class="award_section">
										<div class="award_info">
											<span th:text="${award.description}">"Great Place to
												Work®" 2021 a prestigious recognition based on employees
												experience</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>