
<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="_LivePagelayout">
<head>
<title>Associate with Us</title>
<meta charset="utf-8">

<body id="page-top">

	<!-- Content Wrapper -->
	<div layout:fragment="contentPlus">
	<section class="top_avanse_banner_area career_bg_top">

	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="h_avaneses_content">
					<h2 class="wow fadeInLeft" data-wow-delay="0.4s">
						Associate With <span> Avanse </span>
					</h2>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="h_avanse_img">
					<img src="/viewPagesAssets/img/associate-with-us-top-banner.png"
						alt="">
				</div>
			</div>
		</div>
	</div>
</section>

<section class="bg_grey_color sec_pad">
	<div class="container">
		<div class="sec_title wow fadeInUp" data-wow-delay="0.3s"
			style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
			<h2 class="f_size_40 f_600 t_color3 l_height45 ">
				Join hands. <br />Collaborate Now. <span class="c_cyan"><br />Synergise
					for the Future </span>
			</h2>
		</div>
		<div class="row pb-5">
			<div class="col-lg-12">
				<p>It’s been an adventure so far. Avanse, a non-banking, new age
					education loan company has been making huge in-roads in the
					education sector.</p>
			</div>
			<div class="col-lg-10">

				<p>We are committed to empower the Indian youth in their quest
					for a better future, by fuelling their aspirations through easy
					access to education finance. In our journey to offer only the best,
					Avanse partnered with leading Education Consultants and
					Universities to provide education finance for their students, to
					study in India or abroad.</p>
			</div>

		</div>

	</div>
</section>
<section class="sec_pad bg_grey">
	<div class="container">
		<div class="row partner_info">
			<div class="col-lg-12 pb-4">
				<h2 class="f_size_40 f_600 t_color3 l_height45 ">
					Universities </span>
				</h2>
				<p>Our collaborative measures with top-notch universities
					benefit students tremendously. Here are some of our University
					partners.</p>
			</div>
			<div class="logo_item">
				<img
					src="/viewPagesAssets/img/universities/ARIZONA-STATE-UNIVERSITY.jpg"
					alt="ARIZONA-STATE-UNIVERSITY" title="ARIZONA-STATE-UNIVERSITY" />
			</div>
			<div class="logo_item">
				<img
					src="/viewPagesAssets/img/universities/CONESTOGA-COLLEGE-INSTITUTE-OF-TECHNOLOGY-AND-ADVANCED-LEARNING.jpg"
					alt="CONESTOGA-COLLEGE-INSTITUTE-OF-TECHNOLOGY-AND-ADVANCED-LEARNING"
					title="CONESTOGA-COLLEGE-INSTITUTE-OF-TECHNOLOGY-AND-ADVANCED-LEARNING" />
			</div>

			<div class="logo_item">
				<img src="/viewPagesAssets/img/universities/FANSHAWE-COLLEGE.jpg"
					alt="FANSHAWE-COLLEGE" title="FANSHAWE-COLLEGE" />
			</div>

			<div class="logo_item">
				<img
					src="/viewPagesAssets/img/universities/GREAT-LAKES-INSTITUTE-OF-MANAGEMENT.jpg"
					alt="GREAT-LAKES-INSTITUTE-OF-MANAGEMENT"
					title="GREAT-LAKES-INSTITUTE-OF-MANAGEMENT" />
			</div>

			<div class="logo_item">
				<img src="/viewPagesAssets/img/universities/ICFAI-UNIVERSITY.jpg"
					alt="ICFAI-UNIVERSITY" title="ICFAI-UNIVERSITY" />
			</div>

			<div class="logo_item">
				<img
					src="/viewPagesAssets/img/universities/ILLINOIS-INSTITUTE-OF-TECHNOLOGY.jpg"
					alt="ILLINOIS-INSTITUTE-OF-TECHNOLOGY"
					title="ILLINOIS-INSTITUTE-OF-TECHNOLOGY" />
			</div>

			<div class="logo_item">
				<img
					src="/viewPagesAssets/img/universities/LAMBTON-COLLEGE-OF-APPLIED-ARTS-AND-TECHNOLOGY.jpg"
					alt="LAMBTON-COLLEGE-OF-APPLIED-ARTS-AND-TECHNOLOGY"
					title="LAMBTON-COLLEGE-OF-APPLIED-ARTS-AND-TECHNOLOGY" />
			</div>

			<div class="logo_item">
				<img
					src="/viewPagesAssets/img/universities/NARSEE-MONJEE-INSTITUTE-OF-MANAGEMENT-STUDIES-(NMIMS).jpg"
					alt="NARSEE-MONJEE-INSTITUTE-OF-MANAGEMENT-STUDIES-(NMIMS)"
					title="NARSEE-MONJEE-INSTITUTE-OF-MANAGEMENT-STUDIES-(NMIMS)" />
			</div>

			<div class="logo_item">
				<img
					src="/viewPagesAssets/img/universities/NATIONAL-INSTITUTE-OF-CONSTRUCTION-MANAGEMENT-&amp;-RESEARCH-(NICMAR).jpg"
					alt="NATIONAL-INSTITUTE-OF-CONSTRUCTION-MANAGEMENT-&amp;-RESEARCH-(NICMAR)"
					title="NATIONAL-INSTITUTE-OF-CONSTRUCTION-MANAGEMENT-&amp;-RESEARCH-(NICMAR)" />
			</div>

			<div class="logo_item">
				<img
					src="/viewPagesAssets/img/universities/NEW-YORK-UNIVERSITY-(NYU).jpg"
					alt="NEW-YORK-UNIVERSITY-(NYU)" title="NEW-YORK-UNIVERSITY-(NYU)" />
			</div>

			<div class="logo_item">
				<img
					src="/viewPagesAssets/img/universities/NORTHEASTERN-UNIVERSITY.jpg"
					alt="NORTHEASTERN-UNIVERSITY" title="NORTHEASTERN-UNIVERSITY" />
			</div>

			<div class="logo_item">
				<img
					src="/viewPagesAssets/img/universities/ROCHESTER-INSTITUTE-OF-TECHNOLOGY-RIT.jpg"
					alt="ROCHESTER-INSTITUTE-OF-TECHNOLOGY-RIT"
					title="ROCHESTER-INSTITUTE-OF-TECHNOLOGY-RIT" />
			</div>

			<div class="logo_item">
				<img
					src="/viewPagesAssets/img/universities/S-P-JAIN-SCHOOL-OF-GLOBAL-MANAGEMENT.jpg"
					alt="S-P-JAIN-SCHOOL-OF-GLOBAL-MANAGEMENT"
					title="S-P-JAIN-SCHOOL-OF-GLOBAL-MANAGEMENT" />
			</div>

			<div class="logo_item">
				<img
					src="/viewPagesAssets/img/universities/Stevens-Institute-of-Technology.jpg"
					alt="Stevens-Institute-of-Technology"
					title="Stevens-Institute-of-Technology" />
			</div>

			<div class="logo_item">
				<img
					src="/viewPagesAssets/img/universities/SYMBIOSIS-INTERNATIONAL-UNIVERSITY.jpg"
					alt="SYMBIOSIS-INTERNATIONAL-UNIVERSITY"
					title="SYMBIOSIS-INTERNATIONAL-UNIVERSITY" />
			</div>

			<div class="logo_item">
				<img
					src="/viewPagesAssets/img/universities/UNIVERSITY-AT-BUFFALO-SUNY.jpg"
					alt="UNIVERSITY-AT-BUFFALO-SUNY" title="UNIVERSITY-AT-BUFFALO-SUNY" />
			</div>

			<div class="logo_item">
				<img
					src="/viewPagesAssets/img/universities/UNIVERSITY-OF-SOUTHERN-CALIFORNIA.jpg"
					alt="UNIVERSITY-OF-SOUTHERN-CALIFORNIA"
					title="UNIVERSITY-OF-SOUTHERN-CALIFORNIA" />
			</div>

			<div class="logo_item">
				<img
					src="/viewPagesAssets/img/universities/UNIVERSITY-OF-TEXAS-AT-ARLINGTON.jpg"
					alt="UNIVERSITY-OF-TEXAS-AT-ARLINGTON"
					title="UNIVERSITY-OF-TEXAS-AT-ARLINGTON" />
			</div>

			<div class="logo_item">
				<img
					src="/viewPagesAssets/img/universities/UNIVERSITY-OF-TEXAS-AT-DALLAS.jpg"
					alt="UNIVERSITY-OF-TEXAS-AT-DALLAS"
					title="UNIVERSITY-OF-TEXAS-AT-DALLAS" />
			</div>
		</div></section>

        <section class="sec_pad">
            <div class="container">
                <div class="row partner_info">
                    <div class="col-lg-12 pb-4">
                        <h2 class="f_size_40 f_600 t_color3 l_height45 ">Consultants </span>
				</h2>
                        <p>Our synergy with Educational Consultants translates into direct benefits to students who are able to apply, process and secure their education loan speedily through a single platform. Here are some of our top-class Educational partners.</p>
                    </div>
                        <div class="logo_item">
				<img
					src="/viewPagesAssets/img/consultants/AVARIS-INDIA-BUSINESS-SOLUTIONS-PVT.LTD.jpg"
					alt="AVARIS-INDIA-BUSINESS-SOLUTIONS-PVT.LTD"
					title="AVARIS-INDIA-BUSINESS-SOLUTIONS-PVT.LTD">
			</div>
                        
                        <div class="logo_item">
				<img src="/viewPagesAssets/img/consultants/Bolster.jpg"
					alt="Bolster" title="Bolster">
			</div>
                        
                        <div class="logo_item">
				<img src="/viewPagesAssets/img/consultants/Brainstorm-new.jpg"
					alt="Brainstorm" title="Brainstorm">
			</div>
                        
                        <div class="logo_item">
				<img src="/viewPagesAssets/img/consultants/Broadmind.jpg"
					alt="Broadmind" title="Broadmind">
			</div>
                        
                        <div class="logo_item">
				<img src="/viewPagesAssets/img/consultants/College-Pond.jpg"
					alt="College-Pond" title="College-Pond">
			</div>
                        
                        <div class="logo_item">
				<img src="/viewPagesAssets/img/consultants/Edwise.jpg" alt="Edwise"
					title="Edwise">
			</div>
                        
                    <div class="logo_item">
				<img src="/viewPagesAssets/img/consultants/Global-Opportunities.jpg"
					alt="Global-Opportunities" title="Global-Opportunities">
			</div>
                    
                    <div class="logo_item">
				<img src="/viewPagesAssets/img/consultants/Great-Lakes.jpg"
					alt="Great-Lakes" title="Great-Lakes">
			</div>
                    
                    <div class="logo_item">
				<img src="/viewPagesAssets/img/consultants/Ibs.jpg" alt="Ibs"
					title="Ibs">
			</div>
                    
                    <div class="logo_item">
				<img src="/viewPagesAssets/img/consultants/Icici-Bank.jpg"
					alt="Icici-Bank" title="Icici-Bank">
			</div>
                    
                    <div class="logo_item">
				<img src="/viewPagesAssets/img/consultants/Imfs.jpg" alt="Imfs"
					title="Imfs">
			</div>
                    
                    <div class="logo_item">
				<img src="/viewPagesAssets/img/consultants/Isb.jpg" alt="Isb"
					title="Isb">
			</div>
                    
                    <div class="logo_item">
				<img src="/viewPagesAssets/img/consultants/Nicmar.jpg" alt="Nicmar"
					title="Nicmar">
			</div>
                    
                    <div class="logo_item">
				<img src="/viewPagesAssets/img/consultants/Saphairs-India.jpg"
					alt="Saphairs-India" title="Saphairs-India">
			</div>
                    
                    <div class="logo_item">
				<img
					src="/viewPagesAssets/img/consultants/Senbonz_Kuraconsultancy.jpg"
					alt="Senbonz_Kuraconsultancy" title="Senbonz_Kuraconsultancy">
			</div>
                    
                    <div class="logo_item">
				<img src="/viewPagesAssets/img/consultants/Sm_Consulting.jpg"
					alt="Sm_Consulting" title="Sm_Consulting">
			</div>
                    
                    <div class="logo_item">
				<img src="/viewPagesAssets/img/consultants/Sp-Jain.jpg"
					alt="Sp-Jain" title="Sp-Jain">
			</div>
                    
                    <div class="logo_item">
				<img src="/viewPagesAssets/img/consultants/Ss-Consultants.jpg"
					alt="Ss-Consultants" title="Ss-Consultants">
			</div>
                    
                    <div class="logo_item">
				<img src="/viewPagesAssets/img/consultants/Student_Cover.jpg"
					alt="Student_Cover" title="Student_Cover">
			</div>
                    
                    <div class="logo_item">
				<img src="/viewPagesAssets/img/consultants/Symbiosis.jpg"
					alt="Symbiosis" title="Symbiosis">
			</div>
                    
                        <div class="logo_item">
				<img src="/viewPagesAssets/img/consultants/The_Globalizers.jpg"
					alt="The_Globalizers" title="The_Globalizers">
			</div>
                    
                    <div class="logo_item">
				<img src="/viewPagesAssets/img/consultants/The-Chopras.jpg"
					alt="The-Chopras" title="The-Chopras">
			</div>
                    
                    <div class="logo_item">
				<img src="/viewPagesAssets/img/consultants/Ved.jpg" alt="Ved"
					title="Ved">
			</div>
                    
                    <div class="logo_item">
				<img
					src="/viewPagesAssets/img/consultants/WeMakeScholars-Edtech-Pvt.-Ltd.jpg"
					alt="WeMakeScholars-Edtech-Pvt.-Ltd"
					title="WeMakeScholars-Edtech-Pvt.-Ltd">
			</div>
                    
                    <div class="logo_item">
				<img src="/viewPagesAssets/img/consultants/Worldwide-Education.jpg"
					alt="Worldwide-Education" title="Worldwide-Education">
			</div>
                    
                    <div class="logo_item">
				<img
					src="/viewPagesAssets/img/consultants/Yathapu-Consulting-Pvt-Ltd.jpg"
					alt="Yathapu-Consulting-Pvt-Ltd" title="Yathapu-Consulting-Pvt-Ltd">
			</div>
                    
                    <div class="logo_item">
				<img
					src="/viewPagesAssets/img/consultants/NARSEE-MONJEE-INSTITUTE-OF-MANAGEMENT-STUDIES-(NMIMS).jpg"
					alt="NARSEE-MONJEE-INSTITUTE-OF-MANAGEMENT-STUDIES-(NMIMS)"
					title="NARSEE-MONJEE-INSTITUTE-OF-MANAGEMENT-STUDIES-(NMIMS)">
			</div>
            </div>
        
</section>
        <section class="sec_pad bg_grey_light">
            <div class="container">
                <div class="row partner_info">
                    <div class="col-lg-12 pb-4">
                        <h2 class="f_size_40 f_600 t_color3 l_height45 ">Foreign Exchange Partners </span>
				</h2>
                        <p>If you share our vision, step in and be a part of a student’s journey.</p>
                    </div>
                        <div class="logo_item">
				<img
					src="/viewPagesAssets/img/foreign-exchange-partners/Centrumforex.jpg">
			</div>
                        <div class="logo_item">
				<img
					src="/viewPagesAssets/img/foreign-exchange-partners/ESSEL-FOREX.jpg">
			</div>
                        <div class="logo_item">
				<img
					src="/viewPagesAssets/img/foreign-exchange-partners/thomascook.jpg">
			</div>
                        
                        
            </div>
        
</section>
        <section class="bg_grey support_help_area sec_pad pt-5">
            <div class="container">
                <h2
			class="f_p f_size_40  f_600 t_color text-center wow fadeInUp mb_10"
			style="visibility: visible; animation-name: fadeInUp;">Want to associate with us?</h2>
                <h4 class="f_p   text-center wow fadeInUp mb_60"
			style="visibility: visible; animation-name: fadeInUp;">Fill in the details and help us connect with you.</h4>
                <div class="apply-now-form pb-5">
                    <form onsubmit="validateCaptcha()" th:action="@{/associate-with-us/add}" th:object = "${associateWithUsDTO}" class="contact_form_box"
				method="post" id="myForm" novalidate="novalidate">
                        <div class="row">
                            
                            <div class="col-lg-6">
                                <div class="form-group text_box">
                                    <input type="text" id="name"
								name="name" th:field = "*{name}" placeholder="Your Name">
                                </div>
                            </div>
                            
                            <div class="col-lg-6">
                                <div class="form-group text_box">
                                    <input type="number" id="contactNumber"
								name="contactNumber" th:field = "*{contactNumber}" placeholder="Contact Number">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group text_box">
                                    <input type="email" name="email"
								id="email" th:field = "*{email}" placeholder="E-mail ID">
                                </div>
                            </div>
                           
                            
                            <div class="col-lg-6">
                                <div class="form-group text_box ">
                                    
                                    <select class="form-control"
								id="city_name" name="city">
                                        <option value=""
									selected="selected" th:field="*{city}" >Select a City</option>
                                          <option value="Delhi">Delhi</option>
                                          <option value="Kolkata">Kolkata</option>
                                          <option value="Mumbai">Mumbai</option>
                                          <option value="New Mumbai">New Mumbai</option>
                                          <option value="Thane">Thane</option>
                                          <option value="Chennai">Chennai</option>
                                          <option value="Bangalore">Bangalore</option>
                                          <option value="Hyderabad">Hyderabad</option>
                                          <option value="Gurgaon">Gurgaon</option>
                                          <option value="Gaziabad">Gaziabad</option>
                                          <option value="Noida">Noida</option>
                                          <option value="Greater Noida">Greater Noida</option>
                                          <option value="Faridabad">Faridabad</option>
                                          <option value="Sonipat">Sonipat</option>
                                          <option value="Bhiwadi">Bhiwadi</option>
                                          <option value="Pune">Pune</option>
                                          <option value="Ahmedabad">Ahmedabad</option>
                                          <option value="Agra">Agra</option>
                                          <option value="Ahmednagar">Ahmednagar</option>
                                          <option value="Ajmer">Ajmer</option>
                                          <option value="Akola">Akola</option>
                                          <option value="Alappuzha">Alappuzha</option>
                                          <option value="Aligarh">Aligarh</option>
                                          <option value="Allahabad">Allahabad</option>
                                          <option value="Alleppey">Alleppey</option>
                                          <option value="Aluva">Aluva</option>
                                          <option value="Alwar">Alwar</option>
                                          <option value="Ambala">Ambala</option>
                                          <option value="Amravati">Amravati</option>
                                          <option value="Amritsar">Amritsar</option>
                                          <option value="Anand">Anand</option>
                                          <option value="Anantapur">Anantapur</option>
                                          <option value="Anantnag">Anantnag</option>
                                          <option value="Ankleshwar">Ankleshwar</option>
                                          <option value="Arakkonam">Arakkonam</option>
                                          <option value="Asansol">Asansol</option>
                                          <option value="Aurangabad">Aurangabad</option>
                                          <option value="Avadi">Avadi</option>
                                          <option value="Baddi">Baddi</option>
                                          <option value="Bagalkot">Bagalkot</option>
                                          <option value="Bardoli">Bardoli</option>
                                          <option value="Bareilly">Bareilly</option>
                                          <option value="Barkathpura">Barkathpura</option>
                                          <option value="Baroda">Baroda</option>
                                          <option value="Batala">Batala</option>
                                          <option value="Beawar">Beawar</option>
                                          <option value="Belgaum">Belgaum</option>
                                          <option value="Bellary">Bellary</option>
                                          <option value="Berhampur">Berhampur</option>
                                          <option value="Bharuch">Bharuch</option>
                                          <option value="Bhatinda">Bhatinda</option>
                                          <option value="Bhavnagar">Bhavnagar</option>
                                          <option value="Bhilai">Bhilai</option>
                                          <option value="Bhilwara">Bhilwara</option>
                                          <option value="Bhimavaram">Bhimavaram</option>
                                          <option value="Bhiwandi">Bhiwandi</option>
                                          <option value="Bhopal">Bhopal</option>
                                          <option value="Bhubaneshwar">Bhubaneshwar</option>
                                          <option value="Bhuj">Bhuj</option>
                                          <option value="Bidar">Bidar</option>
                                          <option value="Bijapur">Bijapur</option>
                                          <option value="Bikaner">Bikaner</option>
                                          <option value="Bilaspur">Bilaspur</option>
                                          <option value="Boisar">Boisar</option>
                                          <option value="Bokaro">Bokaro</option>
                                          <option value="Calicut">Calicut</option>
                                          <option value="Chandigarh">Chandigarh</option>
                                          <option value="Chandrapur">Chandrapur</option>
                                          <option value="Changanacherry">Changanacherry</option>
                                          <option value="Chankheda">Chankheda</option>
                                          <option value="Chidambaram">Chidambaram</option>
                                          <option value="Chitradurga">Chitradurga</option>
                                          <option value="Chokodi">Chokodi</option>
                                          <option value="Cochin">Cochin</option>
                                          <option value="Coimbatore">Coimbatore</option>
                                          <option value="Cuddalore">Cuddalore</option>
                                          <option value="Cuttack">Cuttack</option>
                                          <option value="Dahanu">Dahanu</option>
                                          <option value="Dahej">Dahej</option>
                                          <option value="Daman">Daman</option>
                                          <option value="Dausa">Dausa</option>
                                          <option value="Davangere">Davangere</option>
                                          <option value="Dehradun">Dehradun</option>
                                          <option value="Derabassi">Derabassi</option>
                                          <option value="Dewas">Dewas</option>
                                          <option value="Dhanbad">Dhanbad</option>
                                          <option value="Dharwad">Dharwad</option>
                                          <option value="Dhule">Dhule</option>
                                          <option value="Dindigul">Dindigul</option>
                                          <option value="Durg">Durg</option>
                                          <option value="Durgapur">Durgapur</option>
                                          <option value="Eluru">Eluru</option>
                                          <option value="Ernakulam">Ernakulam</option>
                                          <option value="Erode">Erode</option>
                                          <option value="Faizabad">Faizabad</option>
                                          <option value="Firozabad">Firozabad</option>
                                          <option value="Gandhidham">Gandhidham</option>
                                          <option value="Gandhinagar">Gandhinagar</option>
                                          <option value="Gangtok">Gangtok</option>
                                          <option value="Goa">Goa</option>
                                          <option value="Gokak">Gokak</option>
                                          <option value="Gorakhpur">Gorakhpur</option>
                                          <option value="Gulbarga">Gulbarga</option>
                                          <option value="Guntur">Guntur</option>
                                          <option value="Guwahati">Guwahati</option>
                                          <option value="Gwalior">Gwalior</option>
                                          <option value="Haldwani">Haldwani</option>
                                          <option value="Hapur">Hapur</option>
                                          <option value="Haridwar">Haridwar</option>
                                          <option value="Harpanahalli">Harpanahalli</option>
                                          <option value="Hassan">Hassan</option>
                                          <option value="Haveri">Haveri</option>
                                          <option value="Hazirabagh">Hazirabagh</option>
                                          <option value="Himmatnagar">Himmatnagar</option>
                                          <option value="Hissar">Hissar</option>
                                          <option value="Hoshiarpur">Hoshiarpur</option>
                                          <option value="Hospet">Hospet</option>
                                          <option value="Hosur">Hosur</option>
                                          <option value="Howrah">Howrah</option>
                                          <option value="Hubli">Hubli</option>
                                          <option value="Idukki">Idukki</option>
                                          <option value="Indore">Indore</option>
                                          <option value="Jabalpur">Jabalpur</option>
                                          <option value="Jaipur">Jaipur</option>
                                          <option value="Jalandhar">Jalandhar</option>
                                          <option value="Jalgaon">Jalgaon</option>
                                          <option value="Jalna">Jalna</option>
                                          <option value="Jammu">Jammu</option>
                                          <option value="Jamnagar">Jamnagar</option>
                                          <option value="Jamshedpur">Jamshedpur</option>
                                          <option value="Jhansi">Jhansi</option>
                                          <option value="Jodhpur">Jodhpur</option>
                                          <option value="Junagadh">Junagadh</option>
                                          <option value="Kadappa">Kadappa</option>
                                          <option value="Kakinada">Kakinada</option>
                                          <option value="Kalka">Kalka</option>
                                          <option value="Kallakurichi">Kallakurichi</option>
                                          <option value="Kalyan">Kalyan</option>
                                          <option value="Kancheepuran">Kancheepuran</option>
                                          <option value="Kankroli">Kankroli</option>
                                          <option value="Kannur">Kannur</option>
                                          <option value="Kanpur">Kanpur</option>
                                          <option value="Kanyakumari">Kanyakumari</option>
                                          <option value="Kapurthala">Kapurthala</option>
                                          <option value="Karad">Karad</option>
                                          <option value="Karaikudi">Karaikudi</option>
                                          <option value="Karimnagar">Karimnagar</option>
                                          <option value="Karnal">Karnal</option>
                                          <option value="Karur">Karur</option>
                                          <option value="Karwar">Karwar</option>
                                          <option value="Kasaragode">Kasaragode</option>
                                          <option value="Katni">Katni</option>
                                          <option value="Khammam">Khammam</option>
                                          <option value="Khandwa">Khandwa</option>
                                          <option value="Khanna">Khanna</option>
                                          <option value="Khargone">Khargone</option>
                                          <option value="Kolar">Kolar</option>
                                          <option value="Kolhapur">Kolhapur</option>
                                          <option value="Kollam">Kollam</option>
                                          <option value="Kota">Kota</option>
                                          <option value="Kottayam">Kottayam</option>
                                          <option value="Kovilatti">Kovilatti</option>
                                          <option value="Kozhikode">Kozhikode</option>
                                          <option value="Kumbakonam">Kumbakonam</option>
                                          <option value="Kurnool">Kurnool</option>
                                          <option value="Kurukshetra">Kurukshetra</option>
                                          <option value="Lathur">Lathur</option>
                                          <option value="Lucknow">Lucknow</option>
                                          <option value="Ludhiana">Ludhiana</option>
                                          <option value="Madurai">Madurai</option>
                                          <option value="Mahabubnagar">Mahabubnagar</option>
                                          <option value="Mahad">Mahad</option>
                                          <option value="Malappuram">Malappuram</option>
                                          <option value="Mandya">Mandya</option>
                                          <option value="Mangalore">Mangalore</option>
                                          <option value="Mangan">Mangan</option>
                                          <option value="Manipal">Manipal</option>
                                          <option value="Manjeri">Manjeri</option>
                                          <option value="Mansarovar">Mansarovar</option>
                                          <option value="Mapusa">Mapusa</option>
                                          <option value="Mathura">Mathura</option>
                                          <option value="Mavelikara">Mavelikara</option>
                                          <option value="Meerut">Meerut</option>
                                          <option value="Mehsana">Mehsana</option>
                                          <option value="Moga">Moga</option>
                                          <option value="Mohali">Mohali</option>
                                          <option value="Morvi">Morvi</option>
                                          <option value="Mudhol">Mudhol</option>
                                          <option value="Mysore">Mysore</option>
                                          <option value="Nabha">Nabha</option>
                                          <option value="Nadiad">Nadiad</option>
                                          <option value="Nagercoil">Nagercoil</option>
                                          <option value="Nagpur">Nagpur</option>
                                          <option value="Nanded">Nanded</option>
                                          <option value="Nandyal">Nandyal</option>
                                          <option value="Narsipatnam">Narsipatnam</option>
                                          <option value="Nashik">Nashik</option>
                                          <option value="Navsari">Navsari</option>
                                          <option value="Neelamangala">Neelamangala</option>
                                          <option value="Nellore">Nellore</option>
                                          <option value="New Delhi">New Delhi</option>
                                          <option value="Nizamabad">Nizamabad</option>
                                          <option value="Nokha">Nokha</option>
                                          <option value="Ongole">Ongole</option>
                                          <option value="Palakkad">Palakkad</option>
                                          <option value="Palanpur">Palanpur</option>
                                          <option value="Palghar">Palghar</option>
                                          <option value="Pali">Pali</option>
                                          <option value="Panchkulla">Panchkulla</option>
                                          <option value="Panipat">Panipat</option>
                                          <option value="Panjim">Panjim</option>
                                          <option value="Panvel">Panvel</option>
                                          <option value="Parbhani">Parbhani</option>
                                          <option value="Patalganga">Patalganga</option>
                                          <option value="Pathanamthitta">Pathanamthitta</option>
                                          <option value="Pathankot">Pathankot</option>
                                          <option value="Patiala">Patiala</option>
                                          <option value="Patna">Patna</option>
                                          <option value="Pen">Pen</option>
                                          <option value="Phagwara">Phagwara</option>
                                          <option value="Pithampur">Pithampur</option>
                                          <option value="Pollachi">Pollachi</option>
                                          <option value="Ponda">Ponda</option>
                                          <option value="Pondichery">Pondichery</option>
                                          <option value="Porbunder">Porbunder</option>
                                          <option value="Poruru">Poruru</option>
                                          <option value="Porvorim">Porvorim</option>
                                          <option value="Pudukottai">Pudukottai</option>
                                          <option value="Raichur">Raichur</option>
                                          <option value="Raigarh">Raigarh</option>
                                          <option value="Raipur">Raipur</option>
                                          <option value="Rajkot">Rajkot</option>
                                          <option value="Rajmundry">Rajmundry</option>
                                          <option value="Rajnandgaon">Rajnandgaon</option>
                                          <option value="Rajpura">Rajpura</option>
                                          <option value="Ranchi">Ranchi</option>
                                          <option value="Ranipet">Ranipet</option>
                                          <option value="Ratlam">Ratlam</option>
                                          <option value="Ratnagiri">Ratnagiri</option>
                                          <option value="Rewari">Rewari</option>
                                          <option value="Rohtak">Rohtak</option>
                                          <option value="Ropar">Ropar</option>
                                          <option value="Rourkela">Rourkela</option>
                                          <option value="Rudrapur">Rudrapur</option>
                                          <option value="Saharanpur">Saharanpur</option>
                                          <option value="Salem">Salem</option>
                                          <option value="Sangareddy">Sangareddy</option>
                                          <option value="Sangli">Sangli</option>
                                          <option value="Sangrur">Sangrur</option>
                                          <option value="Satara">Satara</option>
                                          <option value="Secunderabad">Secunderabad</option>
                                          <option value="Shimla">Shimla</option>
                                          <option value="Shimoga">Shimoga</option>
                                          <option value="Sikar">Sikar</option>
                                          <option value="Silchar">Silchar</option>
                                          <option value="Siliguri">Siliguri</option>
                                          <option value="Silvassa">Silvassa</option>
                                          <option value="Sirsa">Sirsa</option>
                                          <option value="Sitapur">Sitapur</option>
                                          <option value="Sivakasi">Sivakasi</option>
                                          <option value="Sohana">Sohana</option>
                                          <option value="Solan">Solan</option>
                                          <option value="Solapur">Solapur</option>
                                          <option value="Sri Ganganagar">Sri Ganganagar</option>
                                          <option value="Srikakulam">Srikakulam</option>
                                          <option value="Srinagar">Srinagar</option>
                                          <option value="Surat">Surat</option>
                                          <option value="Swargate">Swargate</option>
                                          <option value="Tadepalligudem">Tadepalligudem</option>
                                          <option value="Tamilnadu">Tamilnadu</option>
                                          <option value="Tanjore">Tanjore</option>
                                          <option value="Thanjavur">Thanjavur</option>
                                          <option value="Theni">Theni</option>
                                          <option value="Thiruvananthapuram">Thiruvananthapuram</option>
                                          <option value="Thiruvannamalai">Thiruvannamalai</option>
                                          <option value="Thripunithura">Thripunithura</option>
                                          <option value="Thrissur">Thrissur</option>
                                          <option value="Tirunelveli">Tirunelveli</option>
                                          <option value="Tirupathi">Tirupathi</option>
                                          <option value="Tirupur">Tirupur</option>
                                          <option value="Tiruvalla">Tiruvalla</option>
                                          <option value="Tonk">Tonk</option>
                                          <option value="Trichur">Trichur</option>
                                          <option value="Trichy">Trichy</option>
                                          <option value="Trivandrum">Trivandrum</option>
                                          <option value="Tumkur">Tumkur</option>
                                          <option value="Udaipur">Udaipur</option>
                                          <option value="Udupi">Udupi</option>
                                          <option value="Ujjain">Ujjain</option>
                                          <option value="Unjha">Unjha</option>
                                          <option value="Valsad">Valsad</option>
                                          <option value="Vapi">Vapi</option>
                                          <option value="Varanasi">Varanasi</option>
                                          <option value="Vastral">Vastral</option>
                                          <option value="Vellore">Vellore</option>
                                          <option value="Veraval">Veraval</option>
                                          <option value="Vijayawada">Vijayawada</option>
                                          <option value="Villupuram">Villupuram</option>
                                          <option value="Virudhachalam">Virudhachalam</option>
                                          <option value="Virudhunagar">Virudhunagar</option>
                                          <option value="Vizag">Vizag</option>
                                          <option value="Warangal">Warangal</option>
                                          <option value="Wardha">Wardha</option>
                                          <option value="Yamunanagar">Yamunanagar</option>
                                          <option value="Yavatmal">Yavatmal</option>
                                          <option value="Yelanka">Yelanka</option>
                                          <option value="Zirakpur">Zirakpur</option>
                                          <option value="Other">Other City</option>
                                      </select>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group text_box">
                                    <input type="text" id="partnership"
								name="partnership" th:field = "*{partnershipType}" placeholder="What type of partnership:">
                                    
                                </div>
                            </div>
                            
                            <div class="col-lg-12 text-center pt-5">
						<button type="submit" class="btn_three f_size_22">Submit</button>
					</div>
                        </div>
                </form>
                </div>
               
            </div>
        </section>
    </div>