<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="_LivePagelayout">
<head>
<meta charset="utf-8">
<body id="page-top">

	<!-- Content Wrapper -->
	<div layout:fragment="contentPlus">

		<section class="top_avanse_banner_area career_bg_top">

			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-7">
						<div class="h_avaneses_content">
							<h2 class="wow fadeInLeft" data-wow-delay="0.4s">
								<span>Avanse</span>, Where
							</h2>
							<h2 class="wow fadeInLeft" data-wow-delay="0.6s">Growing
								Means Learning</h2>
						</div>
					</div>
					<div class="col-lg-5">
						<div class="h_avanse_img">
							<img src="/viewPagesAssets/img/career-banner.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="bg_grey_light sec_pad">

			<div class="container">
				<div class="row">

					<div class="col-lg-12 col-sm-12">
						<h2 class="f_size_40 f_600 t_color3 l_height45 text-center mb_50">Working
							at Avanse</h2>
					</div>
					<div class="col-lg-1 col-sm-1"></div>
					<div class="col-lg-10 col-sm-10 text-center">
						<p class="f_400 ">As a people-centric organization, we always
							strive to support our employees with the right atmosphere where
							each one can learn and grow. Our organizational culture motivates
							each employee to think of innovative ways to add value in the
							lives of our customers. We persistently aspire to achieve newer
							heights which takes us closer to our mission of providing
							seamless and affordable education financing for every deserving
							Indian student and to build quality education infrastructure in
							India to support the education ecosystem</p>
						<a href="" class="btn_six text-center slider_btn">Read More</a>
					</div>
				</div>
			</div>
		</section>

		<section class="get_started_three sec_pad">
			<div class="circel-bg"></div>
			<div class="circel-yellow-bg"></div>
			<div class="dot-bg"></div>
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-sm-12">
						<div class="sec_title text-center mb_70">
							<h2 class="f_p f_size_40 l_height45 f_600 t_color3">Cultural
								Pillars</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-sm-4 text-center mb-5">
						<img class="pillars_icon"
							src="/viewPagesAssets/img/icon/government.png">
						<h4 class="pt-3 f_400">Governance</h4>
						<p>We believe in good governance. You work independently but
							have peers and seniors around for help whenever you need it!</p>

					</div>
					<div class="col-lg-4 col-sm-4 text-center mb-5">
						<img class="pillars_icon"
							src="/viewPagesAssets/img/icon/accountability.png">
						<h4 class="pt-3 f_400">Accountability</h4>
						<p>We work with pride and take responsibility for our actions
							and decisions. You enjoy the rewards of your work!</p>

					</div>
					<div class="col-lg-4 col-sm-4 text-center mb-5">
						<img class="pillars_icon"
							src="/viewPagesAssets/img/icon/inclusivity.png">
						<h4 class="pt-3 f_400">Inclusivity</h4>
						<p>The word discrimination does not exist in our dictionary.
							You can join Avanse as long as you’re passionate about the work
							we do. Nothing else matters.</p>

					</div>
					<div class="col-lg-4 col-sm-4 text-center mb-5">
						<img class="pillars_icon"
							src="/viewPagesAssets/img/icon/meritocracy.png">
						<h4 class="pt-3 f_400">Meritocracy</h4>
						<p>If you do well, you get to rise through the ranks. Your
							performance dictates where you go next.</p>

					</div>
					<div class="col-lg-4 col-sm-4 text-center mb-5">
						<img class="pillars_icon"
							src="/viewPagesAssets/img/icon/value.png">
						<h4 class="pt-3 f_400">Value Creation</h4>
						<p>We’ve built an environment that allows you to thrive. There
							are new opportunities for you to grow and learn every single day.</p>

					</div>
					<div class="col-lg-4 col-sm-4 text-center mb-5">
						<img class="pillars_icon"
							src="/viewPagesAssets/img/icon/happy.png">
						<h4 class="pt-3 f_400">Happiness Quotient</h4>
						<p>We measure our success based on the happiness of our
							people. The happier you are, the better we perform!</p>

					</div>
				</div>

			</div>
		</section>
		<section class="feedback_area  sec_pad bg_grey_light">
			<div class="container">
				<div class="sec_title text-center mb_70 wow fadeInUp"
					data-wow-delay="0.4s">
					<h2 class="f_size_40 l_height50 f_600 ">Student Success
						Stories</h2>
					<p class="f_400  ">Read about the success stories of students
						who have achieved their educational aspiration.</p>
				</div>
				<div class="feedback_slider owl-carousel">
					<div class="item">
						<div class="feedback_item">
							<div class="feed_back_author">
								<div class="media">
									<div class="img">
										<img
											src="/viewPagesAssets/img/testimonials/Nikhil-Walimbe.jpg"
											alt="">
									</div>
									<div class="media-body">
										<h5 class="w_color f_500">Nikhil Walimbe</h5>
										<h6 class="w_color f_400">Management MSc. Queen Mary
											University of London, England</h6>
									</div>
								</div>

							</div>
							<p class="w_color">After submitting all my documents, my
								education loan was sanctioned within two days. Thank you Avanse
								Financial Services for such an amazing and prompt service.</p>
							<a href="#" class="learn_btn_two text-white">Read More <i
								class="ti-arrow-right"></i></a>
							<div class="shap_one"></div>
							<div class="shap_two"></div>
						</div>
					</div>
					<div class="item">
						<div class="feedback_item">
							<div class="feed_back_author">
								<div class="media">
									<div class="img">
										<img
											src="/viewPagesAssets/img/testimonials/Shradha-Agarwal.jpg"
											alt="">
									</div>
									<div class="media-body">
										<h5 class="w_color   f_500">Shradha Agarwal</h5>
										<h6 class="w_color f_400">Master of Global Management
											Royal Road University, British Columbia</h6>
									</div>
								</div>

							</div>
							<p class="w_color">I was in the process of availing an
								education loan to pursue my higher education in Canada. I got in
								touch with Avanse Financial Services ....</p>
							<a href="#" class="learn_btn_two text-white">Read More <i
								class="ti-arrow-right"></i></a>
							<div class="shap_one"></div>
							<div class="shap_two"></div>
						</div>
					</div>
					<div class="item">
						<div class="feedback_item">
							<div class="feed_back_author">
								<div class="media">
									<div class="img">
										<img src="/viewPagesAssets/img/testimonials/rayan-amal.jpg"
											alt="">
									</div>
									<div class="media-body">
										<h5 class="w_color   f_500">Rayan Amal</h5>
										<h6 class="w_color f_400">International business
											management Heriot-Watt University, Edinburgh</h6>
									</div>
								</div>

							</div>
							<p class="w_color">I approached Avanse Financial Services for
								my study loan. A special shout out to the Sales Managers,
								despite the challenging situation caused ....</p>
							<a href="#" class="learn_btn_two text-white">Read More <i
								class="ti-arrow-right"></i></a>
							<div class="shap_one"></div>
							<div class="shap_two"></div>
						</div>
					</div>
					<div class="item">
						<div class="feedback_item">
							<div class="feed_back_author">
								<div class="media">
									<div class="img">
										<img src="/viewPagesAssets/img/testimonials/meet-shah.jpg"
											alt="">
									</div>
									<div class="media-body">
										<h5 class="w_color   f_500">Meet Shah</h5>
										<h6 class="w_color f_400">M.Sc. in Strategic Management
											Technological University Dublin (TU Dublin)</h6>
									</div>
								</div>

							</div>
							<p class="w_color">My education plans went through some last
								minute change, so I had extremely limited time to go through the
								whole process again. Hence, the lookout ....</p>
							<a href="#" class="learn_btn_two text-white">Read More <i
								class="ti-arrow-right"></i></a>
							<div class="shap_one"></div>
							<div class="shap_two"></div>
						</div>
					</div>
					<div class="item">
						<div class="feedback_item">
							<div class="feed_back_author">
								<div class="media">
									<div class="img">
										<img
											src="/viewPagesAssets/img/testimonials/monika-gwalani.jpg"
											alt="">
									</div>
									<div class="media-body">
										<h5 class="w_color   f_500">Monika Gwalani</h5>
										<h6 class="w_color f_400">Master of Engineering in
											Engineering Management, University of Ottawa, Canada</h6>
									</div>
								</div>

							</div>
							<p class="w_color">A very big thank you to Avanse Financial
								Services. My experience with Avanse has been extremely smooth.
								The disbursement of my loan was super quick.</p>
							<a href="#" class="learn_btn_two text-white">Read More <i
								class="ti-arrow-right"></i></a>
							<div class="shap_one"></div>
							<div class="shap_two"></div>
						</div>
					</div>
				</div>
				<div class="text-center">
					<a href="#" class="btn_six text-center slider_btn yello_btn mt-5">Know
						More</a>
				</div>
			</div>
		</section>
		<section class="cyan-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-3 col-sm-12 ">
						<h2 class="text-uppercase text-white vertical_left_title">Life
							At Avanse</h2>
					</div>
					<div class="col-lg-9 col-md-8 col-sm-12 ml-auto sec_pad ">

						<div class=" ">
							<div class="lifeevent_carousel owl-carousel">
								<div class="item">
									<div class="life_event">
										<img src="/viewPagesAssets/img/event1.jpg">
									</div>
								</div>
								<div class="item">
									<div class="life_event">
										<img src="/viewPagesAssets/img/event2.jpg">
									</div>
								</div>
								<div class="item">
									<div class="life_event">
										<img src="/viewPagesAssets/img/event1.jpg">
									</div>
								</div>
								<div class="item">
									<div class="life_event">
										<img src="/viewPagesAssets/img/event2.jpg">
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="sec_pad">
			<div class="circel-bg"></div>
			<div class="circel-yellow-bg"></div>
			<div class="dot-bg"></div>
			<div class="banner_top">
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<h2 class="f_p f_size_40 l_height40 wow fadeInUp"
								data-wow-delay="0.3s">
								<span class="f_600">Job Openings</span>
							</h2>
							<p class="f_size_18 l_height30 wow fadeInUp"
								data-wow-delay="0.5s">Discover your new career</p>
							<form class=" wow fadeInUp" data-wow-delay="0.7s" method="post">
								<div class="input-group subcribes">
									<input type="text" name="EMAIL" class="form-control memail"
										placeholder="Search for your city">
									<button class="btn btn-submit search-button-home" type="submit">
										<i class="ti-search f_size_24"></i>
									</button>
								</div>

							</form>
						</div>
					</div>
					<div class=" wow fadeInUp text-center" data-wow-delay="0.8s">
						<ul class="job_opening">
							<li class="city_list text-center"><a href="jobsearch.html"><img
									src="/viewPagesAssets/img/icon/mumbai.png">
									<p>Mumbai</p></a></li>
							<li class="city_list text-center"><a href="#delhi"><img
									src="/viewPagesAssets/img/icon/delhi-icon.png">
								<p>Delhi</p></a></li>
							<li class="city_list text-center"><a href="#bengaluru"><img
									src="/viewPagesAssets/img/icon/bengaluru.png">
									<p>Bengaluru</p></a></li>
							<li class="city_list text-center"><a href="#secure"><img
									src="/viewPagesAssets/img/icon/hyderabad.png">
									<p>Hyderabad</p></a></li>
							<li class="city_list text-center"><a href="#scale"><img
									src="/viewPagesAssets/img/icon/lucknow.png">
									<p>Lucknow</p></a></li>


						</ul>
					</div>
				</div>
			</div>
			<div class="">
				<div class="container">
					<div id="jobCardContainer" class="row s_service_info">

						<div class="col-lg-4 col-sm-6">
							<div class="s_service_item latest_job_box wow fadeInLeft"
								data-wow-delay="0.3s">
								<div class="solid_overlay"></div>

								<h5 class="f_p f_size_20 f_500 t_color">Branch Sales
									Manager- Overseas</h5>
								<p class="l_height28">Ensure the target set is achieved.
									Motivate and monitor the team performance. Endeavour to make
									Avanse a brand of first choice within our customer segment in
									his respective branch.</p>
								<a href="#" class="learn_btn_two">Learn More <i
									class="ti-arrow-right"></i></a>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
							<div class="s_service_item latest_job_box wow fadeInLeft"
								data-wow-delay="0.5s">
								<div class="solid_overlay"></div>

								<h5 class="f_p f_size_20 f_500 t_color">Contact Centre
									Manager</h5>
								<p class="l_height28">Responsible for seamless customer
									service and complaint management through contact centre and
									collaboration with stakeholder departments</p>
								<a href="#" class="learn_btn_two">Learn More <i
									class="ti-arrow-right"></i></a>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
							<div class="s_service_item wow latest_job_box fadeInLeft"
								data-wow-delay="0.7s">
								<div class="solid_overlay"></div>

								<h5 class="f_p f_size_20 f_500 t_color">HR Business Partner</h5>
								<p class="l_height28">As a Corporate HRBP, you will be
									responsible for end to end employee life cycle and will be the
									SPOC for employees for the designated functions. The role will
									have key 3 gamut - 50% TA including source</p>
								<a href="#" class="learn_btn_two">Learn More <i
									class="ti-arrow-right"></i></a>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
							<div class="s_service_item wow latest_job_box fadeInLeft"
								data-wow-delay="0.8s">
								<div class="solid_overlay"></div>
								<h5 class="f_p f_size_20 f_500 t_color">Collections
									Strategy Specialist</h5>
								<p class="l_height28">The incumbent will be responsible to
									analyze and implement collection strategies and suggest
									improvements in processes. Has to define & design policies and
									processes for collections</p>
								<a href="#" class="learn_btn_two">Learn More <i
									class="ti-arrow-right"></i></a>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
							<div class="s_service_item wow latest_job_box fadeInLeft"
								data-wow-delay="0.8s">
								<div class="solid_overlay"></div>
								<h5 class="f_p f_size_20 f_500 t_color">Collections
									Strategy Specialist</h5>
								<p class="l_height28">The incumbent will be responsible to
									analyze and implement collection strategies and suggest
									improvements in processes. Has to define & design policies and
									processes for collections</p>
								<a href="#" class="learn_btn_two">Learn More <i
									class="ti-arrow-right"></i></a>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
							<div class="s_service_item wow latest_job_box fadeInLeft"
								data-wow-delay="0.8s">
								<div class="solid_overlay"></div>
								<h5 class="f_p f_size_20 f_500 t_color">Collections
									Strategy Specialist</h5>
								<p class="l_height28">The incumbent will be responsible to
									analyze and implement collection strategies and suggest
									improvements in processes. Has to define & design policies and
									processes for collections</p>
								<a href="#" class="learn_btn_two">Learn More <i
									class="ti-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<script>
		            function charOptimize(descText) {
		                let size;
		                let summaryJobDescription='';
		                /* if(descText.length<250) size=descText.length; else size=250; */
		                for(let i=0;i<250;i++) {summaryJobDescription=summaryJobDescription+descText.charAt(i);}
		                return summaryJobDescription;	
		           }
            	console.log('SCRIPT RUNNING>>>>>>')
            	let urlForAllJobs=window.location.origin+"/public/api/getAllJobs";
            	console.log(urlForAllJobs);
            	let http = new XMLHttpRequest();
                let listOfJobs;
                let jobContainer=document.getElementById('jobCardContainer');
                jobContainer.innerHTML="";
                http.open('GET',urlForAllJobs);
                http.onloadend=()=>{
                	console.log('ONLOAD FUNCTION START')
                    listOfJobs = JSON.parse(http.responseText);
                	console.log(listOfJobs);
                    for(let job of listOfJobs) {
                    	jobContainer.innerHTML=jobContainer.innerHTML+'<a style="color:inherit;" href="'+window.location.origin +'/viewDynamicPages/jobApplication/'+job.id+'"><div class="col-lg-4 col-sm-6"><div class="s_service_item latest_job_box wow fadeInLeft" data-wow-delay="0.3s"><div class="solid_overlay"></div><h5 class="f_p f_size_20 f_500 t_color">'+job.title+'</h5><p class="l_height28">'+job.shortDescription+''+charOptimize(job.shortDescription)+'</p><a href="'+window.location.origin+'/viewDynamicPages/jobApplication/'+job.id+'" class="learn_btn_two">Learn More <i class="ti-arrow-right"></i></a></div></div></a>';		
                        
                    }
                }
                http.send();
                
            </script>
		</section>


		<section class="recognitionaward-section bg_color sec_pad">
			<div class="container">
				<div class="row">
					<div class="col-lg-1 text-center"></div>
					<div class="col-lg-10 text-center">
						<h2 class="f_size_40 f_400 t_color3 mb-5">Building
							Recognition By Living up to Commitments</h2>
						<p>Being a customer-centric organization, Avanse Financial
							Services has always been focused on delivering the highest
							quality experience to its customers. Thus, this organization has
							always enjoyed the trust and loyalty of its customers which has
							been recognized by the industry and peers over the years. Avanse
							has been acknowledged and awarded by prominent organizations for
							its constant endeavour to provide customized financial solutions
							for each individual (Education Loan) and institution (Education
							Institution Loan). Our vision to strengthen the company’s
							leadership position in education lending space with the help of
							innovative-thinking, entrepreneurial spirit and collaborative
							approach has helped us stay ahead of curve.</p>
					</div>
				</div>
				<div class="row py-5">
					<div class="col-lg-12">
						<div class="recognition_carousel owl-carousel">
							<div class="item">
								<div class="award_section">
									<div class="award_info">
										<span>"Great Place to Work®" 2021 a prestigious
											recognition based on employees experience</span>
									</div>
								</div>

							</div>
							<div class="item">
								<div class="award_section">
									<div class="award_info">
										<span>"Great Place to Work®" 2021 a prestigious
											recognition based on employees experience</span>
									</div>
								</div>

							</div>
							<div class="item">
								<div class="award_section">
									<div class="award_info">
										<span>"Great Place to Work®" 2021 a prestigious
											recognition based on employees experience</span>
									</div>
								</div>

							</div>
							<div class="item">
								<div class="award_section">
									<div class="award_info">
										<span>"Great Place to Work®" 2021 a prestigious
											recognition based on employees experience</span>
									</div>
								</div>

							</div>
							<div class="item">
								<div class="award_section">
									<div class="award_info">
										<span>"Great Place to Work®" 2021 a prestigious
											recognition based on employees experience</span>
									</div>
								</div>

							</div>
							<div class="item">
								<div class="award_section">
									<div class="award_info">
										<span>"Great Place to Work®" 2021 a prestigious
											recognition based on employees experience</span>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>
			</div>
		</section>

	</div>