<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="_LivePagelayout">
<head>
<meta charset="utf-8">
<body id="page-top">

	<!-- Content Wrapper -->
	<div layout:fragment="contentPlus">
		<section class="bg_grey_light support_help_area sec_pad">
			<div class="container">
				<h2
					class="f_p f_size_40  f_600 t_color text-center wow fadeInUp mb_10"
					style="visibility: visible; animation-name: fadeInUp;">Contact
					Us</h2>
				<h4 class="f_p   text-center wow fadeInUp mb_60">Get in Touch
					with Us for</h4>
				<div class="d-flex pb-5">
					<div class="support_item">
						<img src="/viewPagesAssets/img/icon/loan-enquiries.png" alt="">
						<h4>
							New Loan <br />Enquiries on
						</h4>
						<a href="tel:18002669722"
							class="btn_six text-center slider_btn yello_btn">1-800-266-9722</a>
					</div>
					<div class="support_item">
						<img src="/viewPagesAssets/img/icon/existing-loan-enquiries.png"
							alt="">
						<h4>
							Services for Your Existing <br />Loan on
						</h4>
						<a href="tel:18002660200"
							class="btn_six text-center slider_btn yello_btn">1-800-266-0200</a>
					</div>
					<div class="support_item">
						<img src="/viewPagesAssets/img/icon/abroad-loan-enquiries.png"
							alt="">
						<h4>
							Services for Your Existing <br />Loan from Abroad on
						</h4>
						<a href="tel:+912266806464"
							class="btn_six text-center slider_btn yello_btn">(+91)
							22-6680-6464</a>
					</div>
				</div>
				<div class="text-center pt-5">
					<h4>Our Timings:</h4>
					<p class="f_size_22 c_cyan mb-0">10 a.m. to 7 p.m. IST</p>
					<p>Monday to Saturday (excluding public holidays)</p>
				</div>
			</div>
		</section>
		<section class="sec_pad">
			<div class="container">
				<div class="sec_title text-center">
					<h2 class="f_p f_size_40 l_height45 f_600 t_color3">Want to
						Know More?</h2>
					<h4>
						You can send customer queries to <a class="c_cyan"
							href="mailto:wecare@avanse.com" target="_blank">wecare@avanse.com</a>
					</h4>
				</div>
				<div class="row mt-5">
					<div class="col-lg-4 pr_50">
						<div class="faq_tab">
							<ul class="nav nav-tabs develor_tab mb-30" id="myTab1"
								role="tablist">
								<li class="nav-item"><a class="nav-link active show"
									id="branches-tab" data-toggle="tab" href="#branches" role="tab"
									aria-controls="branches" aria-selected="true"><h5>Branches</h5></a>
								</li>

								<li class="nav-item"><a class="nav-link"
									id="sales-office-tab" data-toggle="tab" href="#sales-office"
									role="tab" aria-controls="sales-office" aria-selected="true"><h5>Sales
											Representative Office</h5></a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-8">
						<div class="tab-content developer_tab_content">
							<div class="tab-pane fade active show" id="branches"
								role="tabpanel" aria-labelledby="branches-tab">
								<div class="row">
									<div class="col-lg-6">
										<div class="address_info">
											<div class="contact-addres pt-2">
												<h4 class="f_size_18 f_500">Corporate and Registered
													Office Address</h4>
												<p>
													Avanse Financial Services Ltd. <br />001 & 002 Fulcrum,
													A-Wing, Ground Floor, Sahar Road, Next to Hyatt Regency,
													Andheri (East), <br />Mumbai, Maharashtra 400099
												</p>
												<a
													href="https://www.google.com/maps?ll=28.651269,77.205826&z=16&t=m&hl=en&gl=IN&mapclient=embed&cid=16953271975213023362"
													class="c_cyan" target="_blank"><i class="ti-map"></i>
													View Map</a>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="address_info">
											<div class="contact-addres pt-2">
												<h4 class="f_size_18 f_500">Delhi Office Address</h4>
												<p>
													Avanse Financial Services Ltd.<br /> 35, 1st floor, Motia
													Khan, Rani Jhansi Road, Jhandewalan, Delhi -110055 <br />Tel:
													<a href="tel:01123602600" class="c_cyan">011 2360 2600</a>
												</p>
												<a
													href="https://www.google.com/maps?ll=28.651269,77.205826&z=16&t=m&hl=en&gl=IN&mapclient=embed&cid=16953271975213023362"
													class="c_cyan" target="_blank"><i class="ti-map"></i>
													View Map</a>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="address_info">
											<div class="contact-addres pt-2">
												<h4 class="f_size_18 f_500">Kolkata Address</h4>
												<p>
													Avanse Financial Services Ltd. <br />Saket Building, 2nd
													Floor, Premise No. 44, Park Street, Kolkata, <br />West
													Bengal 700016
												</p>
												<a
													href="https://www.google.com/maps?ll=22.547825,88.358989&z=16&t=m&hl=en&gl=IN&mapclient=embed&cid=11061365280337450422"
													class="c_cyan" target="_blank"><i class="ti-map"></i>
													View Map</a>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="address_info">
											<div class="contact-addres pt-2">
												<h4 class="f_size_18 f_500">Hyderabad Address</h4>
												</p>
												Avanse Financial Services Ltd. V.V.Vintage Boulevard
												Complex, Flat No 101,1st Floor, Raj Bhavan Road, Nr Yashodha
												Hospital, Somajiguda, Hyderabad, Telangana 500082 <br>
												Tel: <a href="tel:040 4995 9900" class="c_cyan">040 4995
													9900</a>
												</p>
												<a
													href="https://www.google.com/maps?ll=17.426475,78.45761&z=16&t=m&hl=en&gl=IN&mapclient=embed&cid=9616868194333565580"
													class="c_cyan" target="_blank"><i class="ti-map"></i>
													View Map</a>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="address_info">
											<div class="contact-addres pt-2">
												<h4 class="f_size_18 f_500">Chennai Address</h4>
												<p>
													Avanse Financial Services Ltd.<br /> 138/30, 1st Floor,
													Florida Tower, Nelson Manickam Road, Chennai, <br />Tamil
													Nadu 600029 <br> Tel : <a href="tel:04449192600"
														class="c_cyan">04449192600</a>
												</p>
												<a
													href="https://www.google.com/maps?ll=13.068628,80.225618&z=16&t=m&hl=en&gl=IN&mapclient=embed&cid=8108235105977173997"
													class="c_cyan" target="_blank"><i class="ti-map"></i>
													View Map</a>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="address_info">
											<div class="contact-addres pt-2">
												<h4 class="f_size_18 f_500">Pune Address</h4>
												<p>
													Avanse Financial Services Ltd. <br>Amelia Apartments,
													302 A & 302 B, 3rd Floor, Squadron Leader Sureshchandra <br>Bhagwat
													Road, Model Colony, Shivaji Nagar, <br>Pune-411016
													Maharashtra
												</p>
												<a
													href="https://www.google.com/maps?ll=18.529081,73.840388&z=16&t=m&hl=en&gl=IN&mapclient=embed&cid=5357280817389762663"
													class="c_cyan" target="_blank"><i class="ti-map"></i>
													View Map</a>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="address_info">
											<div class="contact-addres pt-2">
												<h4 class="f_size_18 f_500">Raipur Address</h4>
												<p>
													Avanse Financial Services Ltd.<br /> Shristi Garden
													Complex, Office Number 10/11, 2nd Floor Near Subham
													Corporate, Opposite Airtel Office, Telibanda Main Road,
													Telibanda, <br />Raipur - 492 001 Chattisgarh <br /> <a
														class="c_cyan" href="tel:+91 96913 66066">+91 96913
														66066</a>
												</p>
												<a
													href="https://www.google.com/maps?ll=21.237311,81.66951&z=16&t=m&hl=en&gl=IN&mapclient=embed&cid=13900991940541673369"
													class="c_cyan" target="_blank"><i class="ti-map"></i>
													View Map</a>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="address_info">
											<div class="contact-addres pt-2">
												<h4 class="f_size_18 f_500">Ahmedabad Address</h4>
												<p>
													Avanse Financial Services Ltd. <br />B-808, 8th Floor,
													Pinnacle Bussiness Park, Corporate Road, Prahlad Nagar,
													Opp. Royal Arcade, Ahmedabad, <br />Gujarat 380015 <br />
													<a class="c_cyan" href="tel:+91 96913 66066">+91 96913
														66066</a>
												</p>
												<a
													href="https://www.google.com/maps?ll=23.007283,72.50559&z=16&t=m&hl=en&gl=IN&mapclient=embed&cid=9533878082745851037"
													class="c_cyan" target="_blank"><i class="ti-map"></i>
													View Map</a>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="address_info">
											<div class="contact-addres pt-2">
												<h4 class="f_size_18 f_500">Mumbai Office Address</h4>
												<p>
													Avanse Financial Services Ltd. Unit No. 2, 3, 4, Dynasty
													Business Park, JB Nagar, Andheri Kurla Road, Andheri
													(East), Mumbai, Maharashtra 400059 <br /> <a
														class="c_cyan" href="tel:022 6133 1800">022 6133 1800</a>
												</p>
												<a
													href="https://www.google.com/maps?ll=19.112942,72.865957&z=16&t=m&hl=en&gl=IN&mapclient=embed&cid=16028715314901819960"
													class="c_cyan" target="_blank"><i class="ti-map"></i>
													View Map</a>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="address_info">
											<div class="contact-addres pt-2">
												<h4 class="f_size_18 f_500">Bengaluru Office Address</h4>
												<p>
													Avanse Financial Services Ltd.<br /> No.777/E, AL- MANNAR
													Building, 3rd Floor, HAL 2nd Stage, Doopanahalli, 100Feet
													Road, Indiranagar, Bengaluru, <br />Karnataka 560038 <br />
													<a class="c_cyan" href="tel:080 4660 6500">080 4660
														6500</a>
												</p>
												<a
													href="https://www.google.com/maps?ll=12.967761,77.641289&z=16&t=m&hl=en&gl=IN&mapclient=embed&cid=14861767443504140447"
													class="c_cyan" target="_blank"><i class="ti-map"></i>
													View Map</a>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="address_info">
											<div class="contact-addres pt-2">
												<h4 class="f_size_18 f_500">Jaipur Address</h4>
												<p>
													Avanse Financial Services Ltd. <br />Plot No E-1, Office
													No 1 (West Part), Second Floor,, Prestige Tower, Amrapali
													Marg, Vaishali Nagar, Jaipur, <br />Rajasthan 302021 <br />
													<a class="c_cyan" href="tel:080 4660 6500">080 4660
														6500</a>
												</p>
												<a
													href="https://www.google.com/maps?ll=26.911253,75.745104&z=16&t=m&hl=en&gl=IN&mapclient=embed&cid=15832386014840638358"
													class="c_cyan" target="_blank"><i class="ti-map"></i>
													View Map</a>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="address_info">
											<div class="contact-addres pt-2">
												<h4 class="f_size_18 f_500">Chandigarh Address</h4>
												<p>
													Avanse Financial Services Ltd.<br /> Unit No. 2&3, 2nd
													floor, Plot No. 143,, City Emporium, Industrial Area, Phase
													1, Chandigarh, <br />Punjab 160002 <br /> <a
														class="c_cyan" href="tel:017 2495 0400">017 2495 0400</a>
												</p>
												<a
													href="https://www.google.com/maps?ll=26.911253,75.745104&z=16&t=m&hl=en&gl=IN&mapclient=embed&cid=15832386014840638358"
													class="c_cyan" target="_blank"><i class="ti-map"></i>
													View Map</a>
											</div>
										</div>
									</div>
								</div>

							</div>



							<div class="tab-pane fade " id="sales-office" role="tabpanel"
								aria-labelledby="sales-office-tab">
								<div class="row">
									<div class="col-lg-6">
										<div class="address_info">
											<div class="contact-addres pt-2">
												<h4 class="f_size_18 f_500">Chandigarh Address</h4>
												<p>
													Avanse Financial Services Limited.<br /> 47-9-13/1 Sri Sai
													Plaza 3rd Floor Dwarakanagar 3rd Line <br />Visakhapatnam
													-530016. <br /> Education Loan Enquiries <a class="c_cyan"
														href="tel:+91 8142400094">+91 8142400094</a> <br />
													Education Institution Loan Enquiries <a class="c_cyan"
														href="tel:+91 9246196794">+91 9246196794</a>
												</p>
												<a
													href="https://www.google.com/maps/place/Avanse+Financial+Services/@17.7277061,83.3020805,17z/data=!4m12!1m6!3m5!1s0x3a39434040f4c0d7:0x70deccf033b89b65!2sAvanse+Financial+Services!8m2!3d17.7277015!4d83.304274!3m4!1s0x3a39434040f4c0d7:0x70deccf033b89b65!8m2!3d17.7277015!4d83.304274"
													class="c_cyan" target="_blank"><i class="ti-map"></i>
													View Map</a>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="address_info">
											<div class="contact-addres pt-2">
												<h4 class="f_size_18 f_500">Vijayawada Address</h4>
												<p>
													Avanse Financial Services Ltd. <br />40-6/3-3 PCS Business
													Centre Co-operative bank colony, Moghalrajpuram,
													Vijayawada, <br />Andhra Pradesh 520010
												</p>
												<a
													href="https://www.google.com/maps?ll=16.505607,80.646242&z=16&t=m&hl=en&gl=IN&mapclient=embed&cid=2842135940707121238"
													class="c_cyan" target="_blank"><i class="ti-map"></i>
													View Map</a>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="address_info">
											<div class="contact-addres pt-2">
												<h4 class="f_size_18 f_500">Coimbatore Address</h4>
												<p>
													Avanse Financial Services Ltd.<br /> 1264 B, 3B, 7th
													floor, Mayflower Valencia, Avinashi Road, Nava India,
													Coimbatore, <br />Tamil Nadu 641004
												</p>
												<a
													href="https://www.google.com/maps?ll=11.018983,76.990839&z=16&t=m&hl=en&gl=IN&mapclient=embed&cid=14005539846147414355"
													class="c_cyan" target="_blank"><i class="ti-map"></i>
													View Map</a>
											</div>
										</div>
									</div>

									<div class="col-lg-6">
										<div class="address_info">
											<div class="contact-addres pt-2">
												<h4 class="f_size_18 f_500">Indore Address</h4>
												<p>
													Avanse Financial Services Ltd. <br /> Incuspaze Solutions
													Pvt Ltd, Metro Tower, A Block, 7th Floor AB Road Vijay
													Nagar, <br />Indore – 452010 <br /> Tel: <a
														class="c_cyan" href="tel:+91 75092 07217">+91 75092
														07217</a>
												</p>
												<a
													href="https://www.google.com/maps?ll=22.75336,75.897219&z=16&t=m&hl=en&gl=IN&mapclient=embed&cid=17097240587759861888"
													class="c_cyan" target="_blank"><i class="ti-map"></i>
													View Map</a>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="address_info">
											<div class="contact-addres pt-2">
												<h4 class="f_size_18 f_500">Ludhiana</h4>
												<p>
													Education Loan customers <a class="c_cyan"
														href="tel:+91 9013884892">+91 9013884892</a><br />
													Education Institution Loan customers <br /> <a
														class="c_cyan" href="tel:+91 9996677330">+91
														9996677330</a>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="developer_product_area">
			<div class="container">
				<div class="sec_title text-center pb-5">
					<h2 class="f_p f_size_40 l_height45 f_600 t_color3">Need
						Further Assistance?</h2>
					<h4>
						Send us your suggestions, customer queries and complaints,<br />
						we’ll get back to you as soon as possible!
					</h4>
				</div>
				<div class="row pt-3">
					<div class="col-lg-1"></div>
					<div class="col-lg-10">
						<div class="developer_product_content d_product_content_two">

							<div class="text-center">
								<ul class="nav nav-tabs develor_tab mb-30 te" id="myTab2"
									role="tablist">
									<li class="nav-item"><a class="nav-link active show"
										id="customer-tab" data-toggle="tab" href="#customer"
										role="tab" aria-controls="customer" aria-selected="false"><h5>Customer</h5>
									</a></li>
									<li class="nav-item"><a class="nav-link" id="eduinst-tab"
										data-toggle="tab" href="#eduinst" role="tab"
										aria-controls="eduinst" aria-selected="false">
											<h5>Educational Institution</h5>
									</a></li>
									<li class="nav-item"><a class="nav-link" id="media-tab"
										data-toggle="tab" href="#media" role="tab"
										aria-controls="media" aria-selected="false"><h5>Media</h5></a>
									</li>
									<li class="nav-item"><a class="nav-link "
										id="investors-tab" data-toggle="tab" href="#investors"
										role="tab" aria-controls="investors" aria-selected="true"><h5>Investors</h5></a>
									</li>
								</ul>
							</div>
							<div class="tab-content developer_tab_content mt-4">
                                <div class="tab-pane fade active show" id="customer"
                                    role="tabpanel" aria-labelledby="customer-tab">
                                    <form th:action="@{/contact-us/thankyou}"
                                        th:object="${customerDTO}" class="contact_form_box"
                                        name="customerDTO" value="customer" method="post" id="myForm"
                                        novalidate="novalidate">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <input hidden type="text" name="leadType" value="customer">
                                                <div class="form-group text_box">
                                                    <input type="radio" id="loanStatusOption1"
                                                        name="loanStatus" value="I have an Avanse education loan" required>
                                                    <label>I have an Avanse education loan</label>
                                                    <label for="loanStatus" class="error" style="display: none;">This field is required.</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-5">
                                                <div class="form-group text_box">
                                                    <input type="radio" id="loanStatusOption2"
                                                        name="loanStatus"
                                                        value="I have applied for an Avanse education loan" required>
                                                    <label>I have applied for an Avanse education loan</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group text_box">
                                                    <input type="radio" id="loanStatusOption3"
                                                        name="loanStatus" value="Others" required> <label>Others</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group text_box">
                                                    <input type="text" id="name" name="name" th:field="*{name}"
                                                        placeholder="Your Name">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group text_box">
                                                    <input type="number" id="number" th:field="*{phoneNumber}"
                                                        name="phoneNumber" placeholder="Contact Number">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group text_box">
                                                    <input type="email" name="email" th:field="*{email}"
                                                        id="email" placeholder="E-mail ID">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group text_box">
                                                    <input type="text" id="city" th:field="*{city}" name="city"
                                                        placeholder="City">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group text_box">
                                                    <input type="text" id="loanaccount"
                                                        th:field="*{loanAccountNumber}" name="loanAccountNumber"
                                                        placeholder="Loan Account Number (wherever applicable)">
                                                </div>
                                            </div>
                            
                                                                        
                                            <div class="col-lg-12 text-center pt-5">
                                                <button type="submit" class="btn_three">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane fade" id="eduinst" role="tabpanel"
                                    aria-labelledby="eduinst-tab">
                                    
                                    <form th:action="@{/contact-us/thankyou}" th:object="${instituteDTO}"
                                        class="contact_form_box" method="post" id="eduinstontactForm"
                                        novalidate="novalidate">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <input type="text" hidden name="leadType" value="institute">
                                                <div class="form-group text_box">
                                                    <input type="radio" id="loanTypeOption1" name="loanType"
                                                        value="Institutional Loan" required> <label>Institutional
                                                        Loan</label>
                                                        <p><label for="loanType" class="error" style="display: none;">This field is required.</label></p>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group text_box">
                                                    <input type="radio" id="loanTypeOption2" name="loanType"
                                                        value="Sponsorships" required> <label>Sponsorships</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group text_box">
                                                    <input type="radio" id="loanTypeOption3" name="loanType"
                                                        value="Others" required> <label>Others</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group text_box">
                                                    <input type="text" id="name" name="name"
                                                        th:field="*{nameOfPerson}" placeholder="Your Name">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group text_box">
                                                    <input type="text" id="institution" name="institution"
                                                        th:field="*{nameOfInstitute}"
                                                        placeholder="Name of the Institution">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group text_box">
                                                    <input type="number" id="number" name="phoneNumber"
                                                        th:field="*{phoneNumber}" placeholder="Contact Number">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group text_box">
                                                    <input type="email" name="email" th:field="*{email}"
                                                        id="email" placeholder="E-mail ID">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group text_box">
                                                    <input type="text" id="city" th:field="*{city}" name="city"
                                                        placeholder="City">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group text_box">
                                                    <input type="text" id="subject" name="subjectLine"
                                                        th:field="*{subjectLine}" placeholder="Subject Line">
                                                </div>
                                            </div>
                            
                                            
                            
                                            <div class="col-lg-12 text-center pt-5">
                                                <button type="submit" class="btn_three">Submit</button>
                                            </div>
                                        </div>
                            
                                    </form>
                                </div>
                                <div class="tab-pane fade" id="media" role="tabpanel"
                                    aria-labelledby="media-tab">
                                    <form th:action="@{/contact-us/thankyou}" th:object="${mediaDTO}"
                                        class="contact_form_box" method="post" id="mediacontactForm"
                                        novalidate="novalidate">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <input type="text" hidden name="leadType" value="media">
                            
                                                <div class="form-group text_box">
                                                    <input type="text" id="name" name="name" th:field="*{name}"
                                                        placeholder="Your Name">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group text_box">
                                                    <input type="text" id="mediahouse" name="mediahouse"
                                                        th:field="*{mediaHouse}"
                                                        placeholder="Name of the Media House You Represent">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group text_box">
                                                    <input type="number" id="number" name="number"
                                                        th:field="*{phoneNumber}" placeholder="Contact Number">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group text_box">
                                                    <input type="email" name="email" id="email"
                                                        th:field="*{emailId}" placeholder="E-mail ID">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group text_box">
                                                    <input type="text" id="city" name="city" th:field="*{city}"
                                                        placeholder="City">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group text_box">
                                                    <input type="text" id="subject" th:field="*{subjectLine}"
                                                        name="subjectLine" placeholder="Subject Line">
                                                </div>
                                            </div>
                            
                                        
                            
                                            <div class="col-lg-12 text-center pt-5">
                                                <button type="submit" class="btn_three">Submit</button>
                                            </div>
                                        </div>
                            
                                    </form>
                                </div>
                            
                            
                                <div class="tab-pane " id="investors" role="tabpanel"
                                    aria-labelledby="investors-tab">
                                    <form th:action="@{/contact-us/thankyou}" th:object="${investorDTO}"
                                        class="contact_form_box" method="post"
                                        id="investorscontactForm" novalidate="novalidate">
                            
                                        <input type="text" hidden name="leadType" value="investor">
                            
                                        <div class="row">
                            
                                            <div class="col-lg-6">
                                                <div class="form-group text_box">
                                                    <input type="text" id="name" name="name" th:field="*{name}"
                                                        placeholder="Your Name">
                                                </div>
                                            </div>
                            
                                            <div class="col-lg-6">
                                                <div class="form-group text_box">
                                                    <input type="number" id="number" name="number"
                                                        th:field="*{phoneNumber}" placeholder="Contact Number">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group text_box">
                                                    <input type="email" name="email" id="email"
                                                        th:field="*{emailId}" placeholder="E-mail ID">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group text_box">
                                                    <input type="text" id="city" name="city" th:field="*{city}"
                                                        placeholder="City">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group text_box">
                                                    <input type="text" id="subject" th:field="*{subjectLine}"
                                                        name="subjectLine" placeholder="Subject Line">
                                                </div>
                                            </div>
                            
                                            <div class="col-lg-12 text-center pt-5">
                                                <button type="submit" class="btn_three">Submit</button>
                                            </div>
                                        </div>
                            
                                    </form>
                                </div>
                            
                            
                            </div>
						</div>
					</div>

				</div>
			</div>
		</section>
		<section class="sec_pad">
			<div class="container">
				<div class="sec_title ">
					<h2 class="f_p f_size_30 l_height45 f_600 t_color3">Customer
						Grievance</h2>
					<p class="mb-0">Avanse Education Loan Grievance Redressal
						Mechanism</p>
					<p>We have a three-tier system to ensure that you get the help
						you need.</p>
				</div>
				<div class="row pt-5">
					<div class="developer_product_content d_product_content_two">

						<ul class="nav nav-tabs develor_tab mb-30 " id="myTab3"
							role="tablist" style="width: 100%;">
							<li class="nav-item"><a class="nav-link active show"
								id="Level1-tab " data-toggle="tab" href="#Level1" role="tab"
								aria-controls="Level1" aria-selected="false"><span
									class="f_size_20">Level 1 </span></a></li>
							<li class="nav-item"><a class="nav-link" id="Level2-tab"
								data-toggle="tab" href="#Level2" role="tab"
								aria-controls="Level2" aria-selected="false"> <span
									class="f_size_20">Level 2 </span></a></li>
							<li class="nav-item"><a class="nav-link" id="Level3-tab"
								data-toggle="tab" href="#Level3" role="tab"
								aria-controls="Level3" aria-selected="false"><span
									class="f_size_20">Level 3 </span></a></li>

						</ul>
						<div class="tab-content developer_tab_content">
							<div class="tab-pane fade active show" id="Level1"
								role="tabpanel" aria-labelledby="Level1-tab">

								<p>For service requests or complaints, you can contact our
									Customer Engagement team at:</p>
								<p>
									<a class="c_cyan" href="mailto:wecare@avanse.com">wecare@avanse.com</a>
									OR
								</p>
								<p>
									<a class="c_cyan" href="tel:18002660200">1-800-266-0200 </a> if
									you're in India OR
								</p>
								<p>
									<a class="c_cyan" href="tel:+912266806464 ">(+91)
										22-6680-6464 </a> if you're abroad OR
								</p>
								<p>Send a written request to Avanse Financial Services
									Limited, 001 & 002 Fulcrum, A-Wing, Ground Floor, Sahar Road,
									Next to Hyatt Regency, Andheri (East), Mumbai – 400 099.</p>
								<hr />
								<p>Once we receive the request or complaint, we'll share an
									acknowledgement within two working days. We might reach out
									over e-mail, a letter in the post, SMS or other electronic
									communication that is legally valid, including WhatsApp. Our
									aim is to respond to your query within 10 working days.</p>
								<hr />
								<p>If we need to investigate your complaint, we may need
									more than 10 working days to resolve your issue.</p>
								<hr />
								<p>If you aren't happy with our response, you can escalate
									the issue to Level 2.</p>
							</div>
							<div class="tab-pane fade" id="Level2" role="tabpanel"
								aria-labelledby="Level2-tab">

								<p>If you’re unhappy with the resolution provided in Level 1
									or haven't received an adequate response to your query, you can
									escalate it to our Grievance Redressal Officer (GRO). You can
									contact the GRO at:</p>
								<p>
									Kind Attention: Grievance Redressal Officer (GRO) - Avanse
									Financial Services Limited, <br />001 & 002 Fulcrum, A-Wing, <br />Ground
									Floor, Sahar Road, <br />Next to Hyatt Regency, <br />Andheri
									(East), <br /> Mumbai – 400 099, Maharashtra.
								</p>
								<p>
									Tel No.: <a class="c_cyan" href="tel:+912268599999">(+91)22-6859
										9999</a>
								</p>
								<p>
									E-mail: <a class="c_cyan" href="mailto:wecare@avanse.com">wecare@avanse.com</a>
								</p>
							</div>

							<div class="tab-pane fade" id="Level3" role="tabpanel"
								aria-labelledby="Level3-tab">

								<p>If you do not get an adequate response within 30 days
									since escalating it to Level 2, you can contact us by following
									the below links:</p>
								<table class="table-responsive table-bordered table-hover"
									width="100%" cellspacing="2" cellpadding="5" style="border: 0;">
									<thead>
										<tr>
											<th><strong>#</strong></th>
											<th><strong>Particulars</strong></th>
											<th><strong>Link</strong></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>3.1</td>
											<td>Salient features of NBFC Ombudsman Scheme</td>
											<td><a
												href="/viewPagesAssets/img/pdf/salient-features-of-the-nbfc-ombudsman-scheme.pdf"
												class="c_cyan" target="_blank">Download</a></td>
										</tr>
										<tr>
											<td>3.2</td>
											<td>Format of complaint to Ombudsman</td>
											<td><a
												href="/viewPagesAssets/img/pdf/form-of-complaint.pdf"
												class="c_cyan" target="_blank">Download</a></td>
										</tr>
										<tr>
											<td>3.3</td>
											<td>Contact details of Nodal Officers of Avanse and RBI
												Ombudsman Offices</td>
											<td><a
												href="/viewPagesAssets/img/pdf/nodal-officers-details-2020.pdf"
												class="c_cyan" target="_blank">Download</a></td>
										</tr>
									</tbody>
								</table>
								<p>OR</p>
								<p class="mb-0">You can write to:</p>
								<p>
									Officer in-charge, Department of Non-Banking
									Supervision,Reserve Bank of India, <br />Mumbai Regional
									Office, 3rd Floor, <br />Opposite Mumbai Central Station, <br />Byculla,
									Mumbai – 400 008
								</p>
								<p>
									E-mail: <a class="c_cyan" href="mailto:dnbsmro@rbi.org.in">dnbsmro@rbi.org.in</a>
								</p>
							</div>
						</div>
					</div>


				</div>
			</div>
		</section>
		<section class="bg_grey support_help_area sec_pad">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 my-auto">
						<h2 class="f_p f_size_40  f_600 t_color wow fadeInUp mb_90"
							style="visibility: visible; animation-name: fadeInUp;">Ombudsman
							Scheme Downloads</h2>
					</div>
					<div class="col-lg-7">
						<div class="row">
							<div class="col-lg-6">
								<a
									href="/viewPagesAssets/img/pdf/Annex1_Integrated_Ombudsman_Scheme_2021.pdf"
									target="_blank" class="s_integration_item"> <img
									src="/viewPagesAssets/img/icon/intigrated-ombudsman.png" alt="">
									<h5>
										Integrated Ombudsman<br /> Scheme, 2021
									</h5>
								</a>

							</div>
							<div class="col-lg-6">
								<a href="#ombudsmanfeature"
									class="salient-features s_integration_item"> <img
									src="/viewPagesAssets/img/icon/silent-intigrated-ombudsman.png"
									alt="">
									<h5>Salient features of Integrated Ombudsman Scheme 2021</h5>
								</a>
								<div id="ombudsmanfeature" class="white-popup-block mfp-hide">
									<div class="row text-center">
										<div class="text-center col-lg-12 pb-3">
											<h5>Salient features of Integrated Ombudsman Scheme 2021</h5>
										</div>
										<div class="col-sm-6">
											<a
												href="/viewPagesAssets/pdf/ombudsman-scheme/bengali-salient-features.pdf"
												class="c_cyan" target="_blank">Bengali </a>
										</div>
										<div class="col-sm-6">
											<a
												href="/viewPagesAssets/pdf/ombudsman-scheme/gujarati-salient-features.pdf"
												class="c_cyan" target="_blank">Gujarati </a>
										</div>
										<div class="col-sm-6">
											<a
												href="/viewPagesAssets/pdf/ombudsman-scheme/hindi-salient-features.pdf"
												class="c_cyan" target="_blank">Hindi </a>
										</div>
										<div class="col-sm-6">
											<a
												href="/viewPagesAssets/pdf/ombudsman-scheme/kannada-salient-features.pdf"
												class="c_cyan" target="_blank">Kannada </a>
										</div>
										<div class="col-sm-6">
											<a
												href="/viewPagesAssets/pdf/ombudsman-scheme/marathi-salient-features.pdf"
												class="c_cyan" target="_blank">Marathi </a>
										</div>
										<div class="col-sm-6">
											<a
												href="/viewPagesAssets/pdf/ombudsman-scheme/punjabi-salient-features.pdf"
												class="c_cyan" target="_blank">Punjabi </a>
										</div>
										<div class="col-sm-6">
											<a
												href="/viewPagesAssets/pdf/ombudsman-scheme/tamil-salient-features.pdf"
												class="c_cyan" target="_blank">Tamil </a>
										</div>
										<div class="col-sm-6">
											<a
												href="/viewPagesAssets/pdf/ombudsman-scheme/telugu-salient-features.pdf"
												class="c_cyan" target="_blank">Telugu </a>
										</div>
										<div class="col-sm-6">
											<a
												href="/viewPagesAssets/pdf/ombudsman-scheme/english-salient-features.pdf"
												class="c_cyan" target="_blank">English </a>
										</div>
									</div>

								</div>
							</div>
							<div class="col-lg-6">
								<a href="#" class="s_integration_item"> <img
									src="/viewPagesAssets/img/icon/form-complaint.png" alt="">
									<h5>Form of Complaint</h5>
								</a>
							</div>
							<div class="col-lg-6">
								<a href="#" class="s_integration_item"> <img
									src="/viewPagesAssets/img/icon/officers.png" alt="">
									<h5>Avanse Nodal Officers</h5>
								</a>
							</div>

						</div>
					</div>


				</div>
			</div>

		</section>


		<script>
			$(document).ready(function() {
				$('.salient-features').magnificPopup({
					type : 'inline',
					preloader : false,
					focus : '#name',

					// When elemened is focused, some mobile browsers in some cases zoom in
					// It looks not nice, so we disable it:
					callbacks : {
						beforeOpen : function() {
							if ($(window).width() < 700) {
								this.st.focus = false;
							} else {
								this.st.focus = '#name';
							}
						}
					}
				});
			});
		</script>
</body>

</html>