
<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="_LivePagelayout">
<head>
<meta charset="utf-8">

<body id="page-top">

	<!-- Content Wrapper -->
	<div layout:fragment="contentPlus">
	
	<section class="sec_pad bg_grey_light">
            <div class="container">
                <div class="sec_title text-center mb_70 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <h2 class="f_p f_size_30 l_height50 f_600 t_color3">Which Country do you wish to pursue<br/> your education in?</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="row justify-content-center">
                            <div class="col-lg-3 col-sm-6">
                                <a href="#" class="s_integration_item">
                                    <img src="/viewPagesAssets/img/country-icon/australia.png" alt="">
                                    <h5>Australia</h5>
                                </a>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <a href="#" class="s_integration_item">
                                    <img src="/viewPagesAssets/img/country-icon/canada.png" alt="">
                                    <h5>Canada</h5>
                                </a>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <a href="#" class="s_integration_item">
                                    <img src="/viewPagesAssets/img/country-icon/germany.png" alt="">
                                    <h5>Germany</h5>
                                </a>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <a href="#" class="s_integration_item">
                                    <img src="/viewPagesAssets/img/country-icon/new-zealand.png" alt="">
                                    <h5>New Zealand</h5>
                                </a>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <a href="#"class="s_integration_item">
                                    <img src="/viewPagesAssets/img/country-icon/singapore.png" alt="">
                                    <h5>Singapore</h5>
                                </a>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <a href="#" class="s_integration_item">
                                    <img src="/viewPagesAssets/img/country-icon/uk.png" alt="">
                                    <h5>United Kingdom</h5>
                                </a>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <a href="#" class="s_integration_item">
                                    <img src="/viewPagesAssets/img/country-icon/us.png" alt="">
                                    <h5>United States</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </section>
</div>


