
<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="_LivePagelayout">
<head>
<meta charset="utf-8">
<body id="page-top">

	<!-- Content Wrapper -->
	<div layout:fragment="contentPlus">

		<section class="sec_pad pb-0">
            <div class="container">
            	<div class="row justify-content-center text-center">
            		<div class="col-lg-12">
            			<h1 th:text="${course.title}">Bachelor of Business
												Administration (BBA)</h1>
						<h5><span class="c_cyan">Duration- <span
													th:text="${course.duration}">4 years</span></span> |
							<span>1st Year Tuition Fees- INR <span
													th:text="${course.fees}">1000000</span></span> | 
							<span><span class="c_yellow">Exams Accepted- <span
														th:text="${course.examsEligibility}">TOEFL IELTS</span></span></span>												
						</h5>
            		</div>
            	</div>
          </div>
        </section>
		<section class="sec_pad">
            <div class="container">
            <div class="row">
            	<div class="col-lg-12">
            		<div class="coudetail shadow"
													style="display: fixed; top: 100px">
													<h4>
														Some points you should remember while applying for
														admission at <b><span
															th:text="${course.university.name}">Acadia
																University</span></b> are as listed below:>
													</h4>
													<table width="100%"
														class="table table-bordered table-strip">
														<tbody>
															<tr>
																<td><strong> Eligibility </strong></td>
																<td id="eligibility"
																	th:text="${course.examsEligibility}">TOEFL: 90,
																	IELTS: 6.5</td>
															</tr>
															<tr>
																<td><strong> Documents Required </strong></td>
																<td th:text="${course.documentsRequired}">
																	Transcripts, essay, passport, LOR, Resume, medical
																	insurance</td>
															</tr>
															<tr>
																<td><strong> Academic Documents Required </strong></td>
																<td th:text="${course.academicDocumentsRequired}">
																	Transcripts, essay, passport, LOR, Resume, medical
																	insurance</td>
															</tr>
															<tr>
																<td><strong> Application Process </strong></td>
																<td id="eligibility"
																	th:text="${course.university.applicationProcess}">
																	online application, INR 2,510 non-refundable fee</td>
															</tr>
															<tr>
																<td><strong> Accommodation </strong></td>
																<!-- <td th:if="${course.university.accomodation == 'Yes'}"  id="eligibility">
                                                                    Available
                                                                </td>
                                                                <td th:if="${course.university.accomodation == 'No'}"  id="eligibility">
                                                                   Not Available
                                                                </td> -->
																<td th:text="${course.university.accomodation}"
																	id="eligibility">Not Available</td>
															</tr>
															<tr>
																<td><strong> Intakes </strong></td>
																<td th:text="${course.university.intakePeriod}"
																	id="eligibility">February, June</td>
															</tr>
														</tbody>
													</table>
                                                        
                                                </div>
            	</div>
            </div>
				<div th:utext="${course.staticContent}"
														id="staticContentContainer">
				</div>
		</section>

			
