
<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="_LivePagelayout">

<head>
<title>Cross Sell</title>
<meta charset="utf-8">
<style type="text/css">
</style>
<body id="page-top">


	<!-- Content Wrapper -->
	<div layout:fragment="contentPlus">
	
	<section class="top_avanse_banner_area career_bg_top">
            
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="h_avaneses_content">
                            <h2 class="wow fadeInLeft" data-wow-delay="0.4s">Finance Your  <span> Child's Future, </span> The Right Way.</h2>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="h_avanse_img">
                            <img src="/viewPagesAssets/img/cross-sell-top.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg_grey_color event_fact_area sec_pad">
            <div class="container">
                <div class="sec_title wow text-center fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <h2 class="f_size_40 f_600 t_color3 l_height45 ">A special pre-approved financing option <br/>for your child's school fees.</h2>
                </div>
                <div class="row py-5 text-center">
                    <div class="col-lg-3 col-6 mb-5">
                        <div class="shadow  py-5">
                            <img src="/viewPagesAssets/img/icon/doorstep.png">
                            <h4 class="mt-4">One stop <br/>solution</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 mb-5">
                        <div class="shadow  py-5">
                            <img src="/viewPagesAssets/img/icon/form-complaint.png">
                            <h4 class="mt-4">Quick <br/>Disbursal</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 mb-5">
                        <div class="shadow  py-5">
                            <img src="/viewPagesAssets/img/icon/silent-intigrated-ombudsman.png">
                            <h4 class="mt-4">Hassle Free <br/>process</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 mb-5">
                        <div class="shadow  py-5">
                            <img src="/viewPagesAssets/img/icon/interest.png">
                            <h4 class="mt-4">Affordable <br/>Interest Rate</h4>
                        </div>
                    </div>
                    
                    
                </div>
                <div class="seo_fact_info">
                    <div class="seo_fact_item wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                        <div class="text">
                            <h5>Loan Amount</h5><br/>
                            <h4 class="c_cyan f_600">Rs. 10000/-</h4>
                        </div>
                    </div>
                    <div class="seo_fact_item wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                        <div class="text">
                            <h5>Duration of <br/>the Loan</h5>
                            <h4 class="c_cyan f_600">6 months</h4>
                        </div>
                    </div>
                   
                    <div class="seo_fact_item last wow fadeIn" data-wow-delay="0.9s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeIn;">
                        <div class="text">
                            <h5>Interest Amount <br/>to be paid</h5>
                            <h4 class="c_cyan f_600">Rs. 500/-</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p>*The Amount Above is For A Duration of 6 Months. The Interest Amount Will Vary As Per Your Loan Amount, Based On Similar Calculations.
                        </p>
                    </div>
                </div>
                
                
            </div>
        </section>
       
       
        <section class=" support_help_area sec_pad pt-5">
            <div class="container">
                <h2 class="f_p f_size_40  f_600 t_color text-center wow fadeInUp mb_10" style="visibility: visible; animation-name: fadeInUp;">To Know More, Fill the Form<br/> Below & We'll Get Back to You.</h2>
                <div class="apply-now-form py-5">
                    <form th:action="@{/cross-sell/thankyou}" th:object = "${crossSellDTO}"  class="contact_form_box"
				method="post" id="myForm" novalidate="novalidate">
                        <div class="row">
                            
                            <div class="col-lg-6">
                                <div class="form-group text_box">
                                    <input type="text" name="name"  th:field="*{customerName}" placeholder="Name of Customer" required>
                                </div>
                            </div>
                            
                            <div class="col-lg-6">
                                <div class="form-group text_box">
                                    <input type="email" name="email" th:field="*{customerEmail}"  placeholder="Email of Customer" required>
                                </div>
                            </div>
                            
                            
                            <div class="col-lg-6">
                                <div class="form-group text_box">
                                    <input type="number" name="number" th:field="*{mobileNumber}" placeholder="Mobile No. of Customer" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group text_box ">
                                    
                                    <select class="form-control"  th:field="*{city}"
								id="city_name" name="city">
                                        <option value=""
									selected="selected" >Select a City</option>
                                          <option value="Delhi">Delhi</option>
                                          <option value="Kolkata">Kolkata</option>
                                          <option value="Mumbai">Mumbai</option>
                                          <option value="New Mumbai">New Mumbai</option>
                                          <option value="Thane">Thane</option>
                                          <option value="Chennai">Chennai</option>
                                          <option value="Bangalore">Bangalore</option>
                                          <option value="Hyderabad">Hyderabad</option>
                                          <option value="Gurgaon">Gurgaon</option>
                                          <option value="Gaziabad">Gaziabad</option>
                                          <option value="Noida">Noida</option>
                                          <option value="Greater Noida">Greater Noida</option>
                                          <option value="Faridabad">Faridabad</option>
                                          <option value="Sonipat">Sonipat</option>
                                          <option value="Bhiwadi">Bhiwadi</option>
                                          <option value="Pune">Pune</option>
                                          <option value="Ahmedabad">Ahmedabad</option>
                                          <option value="Agra">Agra</option>
                                          <option value="Ahmednagar">Ahmednagar</option>
                                          <option value="Ajmer">Ajmer</option>
                                          <option value="Akola">Akola</option>
                                          <option value="Alappuzha">Alappuzha</option>
                                          <option value="Aligarh">Aligarh</option>
                                          <option value="Allahabad">Allahabad</option>
                                          <option value="Alleppey">Alleppey</option>
                                          <option value="Aluva">Aluva</option>
                                          <option value="Alwar">Alwar</option>
                                          <option value="Ambala">Ambala</option>
                                          <option value="Amravati">Amravati</option>
                                          <option value="Amritsar">Amritsar</option>
                                          <option value="Anand">Anand</option>
                                          <option value="Anantapur">Anantapur</option>
                                          <option value="Anantnag">Anantnag</option>
                                          <option value="Ankleshwar">Ankleshwar</option>
                                          <option value="Arakkonam">Arakkonam</option>
                                          <option value="Asansol">Asansol</option>
                                          <option value="Aurangabad">Aurangabad</option>
                                          <option value="Avadi">Avadi</option>
                                          <option value="Baddi">Baddi</option>
                                          <option value="Bagalkot">Bagalkot</option>
                                          <option value="Bardoli">Bardoli</option>
                                          <option value="Bareilly">Bareilly</option>
                                          <option value="Barkathpura">Barkathpura</option>
                                          <option value="Baroda">Baroda</option>
                                          <option value="Batala">Batala</option>
                                          <option value="Beawar">Beawar</option>
                                          <option value="Belgaum">Belgaum</option>
                                          <option value="Bellary">Bellary</option>
                                          <option value="Berhampur">Berhampur</option>
                                          <option value="Bharuch">Bharuch</option>
                                          <option value="Bhatinda">Bhatinda</option>
                                          <option value="Bhavnagar">Bhavnagar</option>
                                          <option value="Bhilai">Bhilai</option>
                                          <option value="Bhilwara">Bhilwara</option>
                                          <option value="Bhimavaram">Bhimavaram</option>
                                          <option value="Bhiwandi">Bhiwandi</option>
                                          <option value="Bhopal">Bhopal</option>
                                          <option value="Bhubaneshwar">Bhubaneshwar</option>
                                          <option value="Bhuj">Bhuj</option>
                                          <option value="Bidar">Bidar</option>
                                          <option value="Bijapur">Bijapur</option>
                                          <option value="Bikaner">Bikaner</option>
                                          <option value="Bilaspur">Bilaspur</option>
                                          <option value="Boisar">Boisar</option>
                                          <option value="Bokaro">Bokaro</option>
                                          <option value="Calicut">Calicut</option>
                                          <option value="Chandigarh">Chandigarh</option>
                                          <option value="Chandrapur">Chandrapur</option>
                                          <option value="Changanacherry">Changanacherry</option>
                                          <option value="Chankheda">Chankheda</option>
                                          <option value="Chidambaram">Chidambaram</option>
                                          <option value="Chitradurga">Chitradurga</option>
                                          <option value="Chokodi">Chokodi</option>
                                          <option value="Cochin">Cochin</option>
                                          <option value="Coimbatore">Coimbatore</option>
                                          <option value="Cuddalore">Cuddalore</option>
                                          <option value="Cuttack">Cuttack</option>
                                          <option value="Dahanu">Dahanu</option>
                                          <option value="Dahej">Dahej</option>
                                          <option value="Daman">Daman</option>
                                          <option value="Dausa">Dausa</option>
                                          <option value="Davangere">Davangere</option>
                                          <option value="Dehradun">Dehradun</option>
                                          <option value="Derabassi">Derabassi</option>
                                          <option value="Dewas">Dewas</option>
                                          <option value="Dhanbad">Dhanbad</option>
                                          <option value="Dharwad">Dharwad</option>
                                          <option value="Dhule">Dhule</option>
                                          <option value="Dindigul">Dindigul</option>
                                          <option value="Durg">Durg</option>
                                          <option value="Durgapur">Durgapur</option>
                                          <option value="Eluru">Eluru</option>
                                          <option value="Ernakulam">Ernakulam</option>
                                          <option value="Erode">Erode</option>
                                          <option value="Faizabad">Faizabad</option>
                                          <option value="Firozabad">Firozabad</option>
                                          <option value="Gandhidham">Gandhidham</option>
                                          <option value="Gandhinagar">Gandhinagar</option>
                                          <option value="Gangtok">Gangtok</option>
                                          <option value="Goa">Goa</option>
                                          <option value="Gokak">Gokak</option>
                                          <option value="Gorakhpur">Gorakhpur</option>
                                          <option value="Gulbarga">Gulbarga</option>
                                          <option value="Guntur">Guntur</option>
                                          <option value="Guwahati">Guwahati</option>
                                          <option value="Gwalior">Gwalior</option>
                                          <option value="Haldwani">Haldwani</option>
                                          <option value="Hapur">Hapur</option>
                                          <option value="Haridwar">Haridwar</option>
                                          <option value="Harpanahalli">Harpanahalli</option>
                                          <option value="Hassan">Hassan</option>
                                          <option value="Haveri">Haveri</option>
                                          <option value="Hazirabagh">Hazirabagh</option>
                                          <option value="Himmatnagar">Himmatnagar</option>
                                          <option value="Hissar">Hissar</option>
                                          <option value="Hoshiarpur">Hoshiarpur</option>
                                          <option value="Hospet">Hospet</option>
                                          <option value="Hosur">Hosur</option>
                                          <option value="Howrah">Howrah</option>
                                          <option value="Hubli">Hubli</option>
                                          <option value="Idukki">Idukki</option>
                                          <option value="Indore">Indore</option>
                                          <option value="Jabalpur">Jabalpur</option>
                                          <option value="Jaipur">Jaipur</option>
                                          <option value="Jalandhar">Jalandhar</option>
                                          <option value="Jalgaon">Jalgaon</option>
                                          <option value="Jalna">Jalna</option>
                                          <option value="Jammu">Jammu</option>
                                          <option value="Jamnagar">Jamnagar</option>
                                          <option value="Jamshedpur">Jamshedpur</option>
                                          <option value="Jhansi">Jhansi</option>
                                          <option value="Jodhpur">Jodhpur</option>
                                          <option value="Junagadh">Junagadh</option>
                                          <option value="Kadappa">Kadappa</option>
                                          <option value="Kakinada">Kakinada</option>
                                          <option value="Kalka">Kalka</option>
                                          <option value="Kallakurichi">Kallakurichi</option>
                                          <option value="Kalyan">Kalyan</option>
                                          <option value="Kancheepuran">Kancheepuran</option>
                                          <option value="Kankroli">Kankroli</option>
                                          <option value="Kannur">Kannur</option>
                                          <option value="Kanpur">Kanpur</option>
                                          <option value="Kanyakumari">Kanyakumari</option>
                                          <option value="Kapurthala">Kapurthala</option>
                                          <option value="Karad">Karad</option>
                                          <option value="Karaikudi">Karaikudi</option>
                                          <option value="Karimnagar">Karimnagar</option>
                                          <option value="Karnal">Karnal</option>
                                          <option value="Karur">Karur</option>
                                          <option value="Karwar">Karwar</option>
                                          <option value="Kasaragode">Kasaragode</option>
                                          <option value="Katni">Katni</option>
                                          <option value="Khammam">Khammam</option>
                                          <option value="Khandwa">Khandwa</option>
                                          <option value="Khanna">Khanna</option>
                                          <option value="Khargone">Khargone</option>
                                          <option value="Kolar">Kolar</option>
                                          <option value="Kolhapur">Kolhapur</option>
                                          <option value="Kollam">Kollam</option>
                                          <option value="Kota">Kota</option>
                                          <option value="Kottayam">Kottayam</option>
                                          <option value="Kovilatti">Kovilatti</option>
                                          <option value="Kozhikode">Kozhikode</option>
                                          <option value="Kumbakonam">Kumbakonam</option>
                                          <option value="Kurnool">Kurnool</option>
                                          <option value="Kurukshetra">Kurukshetra</option>
                                          <option value="Lathur">Lathur</option>
                                          <option value="Lucknow">Lucknow</option>
                                          <option value="Ludhiana">Ludhiana</option>
                                          <option value="Madurai">Madurai</option>
                                          <option value="Mahabubnagar">Mahabubnagar</option>
                                          <option value="Mahad">Mahad</option>
                                          <option value="Malappuram">Malappuram</option>
                                          <option value="Mandya">Mandya</option>
                                          <option value="Mangalore">Mangalore</option>
                                          <option value="Mangan">Mangan</option>
                                          <option value="Manipal">Manipal</option>
                                          <option value="Manjeri">Manjeri</option>
                                          <option value="Mansarovar">Mansarovar</option>
                                          <option value="Mapusa">Mapusa</option>
                                          <option value="Mathura">Mathura</option>
                                          <option value="Mavelikara">Mavelikara</option>
                                          <option value="Meerut">Meerut</option>
                                          <option value="Mehsana">Mehsana</option>
                                          <option value="Moga">Moga</option>
                                          <option value="Mohali">Mohali</option>
                                          <option value="Morvi">Morvi</option>
                                          <option value="Mudhol">Mudhol</option>
                                          <option value="Mysore">Mysore</option>
                                          <option value="Nabha">Nabha</option>
                                          <option value="Nadiad">Nadiad</option>
                                          <option value="Nagercoil">Nagercoil</option>
                                          <option value="Nagpur">Nagpur</option>
                                          <option value="Nanded">Nanded</option>
                                          <option value="Nandyal">Nandyal</option>
                                          <option value="Narsipatnam">Narsipatnam</option>
                                          <option value="Nashik">Nashik</option>
                                          <option value="Navsari">Navsari</option>
                                          <option value="Neelamangala">Neelamangala</option>
                                          <option value="Nellore">Nellore</option>
                                          <option value="New Delhi">New Delhi</option>
                                          <option value="Nizamabad">Nizamabad</option>
                                          <option value="Nokha">Nokha</option>
                                          <option value="Ongole">Ongole</option>
                                          <option value="Palakkad">Palakkad</option>
                                          <option value="Palanpur">Palanpur</option>
                                          <option value="Palghar">Palghar</option>
                                          <option value="Pali">Pali</option>
                                          <option value="Panchkulla">Panchkulla</option>
                                          <option value="Panipat">Panipat</option>
                                          <option value="Panjim">Panjim</option>
                                          <option value="Panvel">Panvel</option>
                                          <option value="Parbhani">Parbhani</option>
                                          <option value="Patalganga">Patalganga</option>
                                          <option value="Pathanamthitta">Pathanamthitta</option>
                                          <option value="Pathankot">Pathankot</option>
                                          <option value="Patiala">Patiala</option>
                                          <option value="Patna">Patna</option>
                                          <option value="Pen">Pen</option>
                                          <option value="Phagwara">Phagwara</option>
                                          <option value="Pithampur">Pithampur</option>
                                          <option value="Pollachi">Pollachi</option>
                                          <option value="Ponda">Ponda</option>
                                          <option value="Pondichery">Pondichery</option>
                                          <option value="Porbunder">Porbunder</option>
                                          <option value="Poruru">Poruru</option>
                                          <option value="Porvorim">Porvorim</option>
                                          <option value="Pudukottai">Pudukottai</option>
                                          <option value="Raichur">Raichur</option>
                                          <option value="Raigarh">Raigarh</option>
                                          <option value="Raipur">Raipur</option>
                                          <option value="Rajkot">Rajkot</option>
                                          <option value="Rajmundry">Rajmundry</option>
                                          <option value="Rajnandgaon">Rajnandgaon</option>
                                          <option value="Rajpura">Rajpura</option>
                                          <option value="Ranchi">Ranchi</option>
                                          <option value="Ranipet">Ranipet</option>
                                          <option value="Ratlam">Ratlam</option>
                                          <option value="Ratnagiri">Ratnagiri</option>
                                          <option value="Rewari">Rewari</option>
                                          <option value="Rohtak">Rohtak</option>
                                          <option value="Ropar">Ropar</option>
                                          <option value="Rourkela">Rourkela</option>
                                          <option value="Rudrapur">Rudrapur</option>
                                          <option value="Saharanpur">Saharanpur</option>
                                          <option value="Salem">Salem</option>
                                          <option value="Sangareddy">Sangareddy</option>
                                          <option value="Sangli">Sangli</option>
                                          <option value="Sangrur">Sangrur</option>
                                          <option value="Satara">Satara</option>
                                          <option value="Secunderabad">Secunderabad</option>
                                          <option value="Shimla">Shimla</option>
                                          <option value="Shimoga">Shimoga</option>
                                          <option value="Sikar">Sikar</option>
                                          <option value="Silchar">Silchar</option>
                                          <option value="Siliguri">Siliguri</option>
                                          <option value="Silvassa">Silvassa</option>
                                          <option value="Sirsa">Sirsa</option>
                                          <option value="Sitapur">Sitapur</option>
                                          <option value="Sivakasi">Sivakasi</option>
                                          <option value="Sohana">Sohana</option>
                                          <option value="Solan">Solan</option>
                                          <option value="Solapur">Solapur</option>
                                          <option value="Sri Ganganagar">Sri Ganganagar</option>
                                          <option value="Srikakulam">Srikakulam</option>
                                          <option value="Srinagar">Srinagar</option>
                                          <option value="Surat">Surat</option>
                                          <option value="Swargate">Swargate</option>
                                          <option value="Tadepalligudem">Tadepalligudem</option>
                                          <option value="Tamilnadu">Tamilnadu</option>
                                          <option value="Tanjore">Tanjore</option>
                                          <option value="Thanjavur">Thanjavur</option>
                                          <option value="Theni">Theni</option>
                                          <option value="Thiruvananthapuram">Thiruvananthapuram</option>
                                          <option value="Thiruvannamalai">Thiruvannamalai</option>
                                          <option value="Thripunithura">Thripunithura</option>
                                          <option value="Thrissur">Thrissur</option>
                                          <option value="Tirunelveli">Tirunelveli</option>
                                          <option value="Tirupathi">Tirupathi</option>
                                          <option value="Tirupur">Tirupur</option>
                                          <option value="Tiruvalla">Tiruvalla</option>
                                          <option value="Tonk">Tonk</option>
                                          <option value="Trichur">Trichur</option>
                                          <option value="Trichy">Trichy</option>
                                          <option value="Trivandrum">Trivandrum</option>
                                          <option value="Tumkur">Tumkur</option>
                                          <option value="Udaipur">Udaipur</option>
                                          <option value="Udupi">Udupi</option>
                                          <option value="Ujjain">Ujjain</option>
                                          <option value="Unjha">Unjha</option>
                                          <option value="Valsad">Valsad</option>
                                          <option value="Vapi">Vapi</option>
                                          <option value="Varanasi">Varanasi</option>
                                          <option value="Vastral">Vastral</option>
                                          <option value="Vellore">Vellore</option>
                                          <option value="Veraval">Veraval</option>
                                          <option value="Vijayawada">Vijayawada</option>
                                          <option value="Villupuram">Villupuram</option>
                                          <option value="Virudhachalam">Virudhachalam</option>
                                          <option value="Virudhunagar">Virudhunagar</option>
                                          <option value="Vizag">Vizag</option>
                                          <option value="Warangal">Warangal</option>
                                          <option value="Wardha">Wardha</option>
                                          <option value="Yamunanagar">Yamunanagar</option>
                                          <option value="Yavatmal">Yavatmal</option>
                                          <option value="Yelanka">Yelanka</option>
                                          <option value="Zirakpur">Zirakpur</option>
                                          <option value="Other">Other City</option>
                                      </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group text_box">
                                    <input type="text" name="childname"  th:field = "*{childName}" placeholder="Name of Child" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group text_box">
                                    <input type="text" name="instituename" th:field = "*{schoolOrInstituteName}" placeholder="School/Institute Name" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group text_box">
                                    <input type="text" name="studentname" th:field = "*{classOfStudent}" placeholder="Class of Student" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group text_box">
                                    <input type="text" name="studentrollnumber" th:field = "*{rollNo}" placeholder="Student Roll No" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group text_box">
                                    <input type="text" name="admission" th:field = "*{admissionOrStudentID}" placeholder="Admission or Student ID" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group text_box">
                                    <input type="text" name="schoolfees"th:field = "*{annualSchoolFees}"  placeholder="Annual School Fees" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group text_box">
                                    <input type="text" name="loanamount" th:field = "*{loanAmount}" placeholder="Loan Amount Required" required>
                                </div>
                            </div>
                            
                            <div class="col-lg-12">
								<input type="checkbox" id="checkbox" th:name="consent" name="consent" value="Agreed To use data for communication" required=""> <span class="f_size_14 c_cyan">I authorize Avanse Financial Services to connect with me over call and Whatsapp overriding my registration with NDNC</span>
									<p><label for="consent" class="error" style="display: none;">This field is required.</label></p>
							</div>
                            <div class="col-lg-12 text-center pt-5">
						<button type="submit" class="btn_three f_size_22">Submit</button>
					</div>
                        </div>
                </form>
                </div>
               
            </div>
        </section>
    </div>