
<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="_LivePagelayout">
<head>
<meta charset="utf-8">
<body id="page-top">

	<!-- Content Wrapper -->
	<div layout:fragment="contentPlus">

		<section class="home_avanse_banner_area">

			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-7">
						<div class="h_avaneses_content">
							<h2 class="wow fadeInLeft" data-wow-delay="0.4s">
								We Can Turn Your <br /> <span class="c_cyan">Dreams</span> Into
								Reality!
							</h2>

							<form action="apply-now.html" class="contact_form_home"
								method="post" id="contactForm">
								<span>How much do you need?</span> <select
									class="form-control mb-3" id="amount">
									<option value="500000">₹ 5,00,000</option>
									<option value="700000">₹ 7,00,000</option>
								</select> <span>For how long?</span> <select class="form-control mb-3"
									id="month">
									<option value="36month">36 Months</option>
									<option value="18month">18 Months</option>
									<option value="12month">12 Months</option>
									<option value="6month">6 Months</option>
								</select>
								<button type="submit" class="btn_six text-center slider_btn ">Apply
									Now</button>
							</form>

						</div>
					</div>
					<div class="col-lg-5 text-left">
						<div class="h_avanse_img">
							<img src="/viewPagesAssets/img/home-banner.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="bg_grey_light sec_pad pb-0">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-sm-12">
						<h2 class="f_size_40 f_500 t_color3 l_height45 text-center">
							Let Your <span class="c_cyan">Dreams</span> Take Flight
						</h2>
						<p class="text-center f_size_20">Tailor-made financial
							solutions that power your education!</p>
					</div>
					<div class="col-lg-6 col-sm-12">
						<img src="/viewPagesAssets/img/study-abroad-home.png"
							class="img-fluid">
					</div>
					<div class="col-lg-5 col-sm-12  my-auto py-5">
						<div class="home_tab">
							<ul class="nav nav-tabs develor_tab mb-30" id="myTab1"
								role="tablist">
								<li class="nav-item"><a class="nav-link active show"
									id="studyabroad-tab" data-toggle="tab" href="#studyabroad"
									role="tab" aria-controls="studyabroad" aria-selected="true">Study
										Abroad </a></li>
								<li class="nav-item"><a class="nav-link"
									id="studyinindia-tab" data-toggle="tab" href="#studyinindia"
									role="tab" aria-controls="studyinindia" aria-selected="false">
										Study in India</a></li>
							</ul>
							<div class="tab-content developer_tab_content">
								<div class="tab-pane fade active show" id="studyabroad"
									role="tabpanel" aria-labelledby="studyabroad-tab">
									<p class="mb_40">Moving abroad for your higher education
										opens several doors. You can gain access to highly-acclaimed
										and globally recognised programmes, or you may enhance your
										career prospects for the future. With a study abroad loan, you
										can achieve all your academic aspirations with ease!</p>
									<div class="row">
										<div class="col-lg-3 col-6 text-center">
											<img src="/viewPagesAssets/img/icon/loan-amount-abroad.png"
												class="home_study_icon">
											<p class="home_study_icon_text">100% Financing</p>
										</div>
										<div class="col-lg-3 col-6 text-center">
											<img src="/viewPagesAssets/img/icon/repayment.png"
												class="home_study_icon">
											<p class="home_study_icon_text">Flexible Repayments</p>
										</div>
										<div class="col-lg-3 col-6 text-center">
											<img src="/viewPagesAssets/img/icon/quick-sanctions.png"
												class="home_study_icon">
											<p class="home_study_icon_text">Quick Sanctions</p>
										</div>
										<div class="col-lg-3 col-6 text-center">
											<img src="/viewPagesAssets/img/icon/customisable.png"
												class="home_study_icon">
											<p class="home_study_icon_text">Customisable Loans</p>
										</div>
									</div>
									<a href="study-abroad.html"
										class="btn_six text-center slider_btn yello_btn mt-5">Apply
										Now</a>
								</div>
								<div class="tab-pane fade" id="studyinindia" role="tabpanel"
									aria-labelledby="studyinindia-tab">
									<p class="mb_40">India has been a hub of knowledge and
										learning since the 5th century, when institutes like the
										Nalanda University attracted scholars from around the world.
										Today, India is home to over 1,000 universities! When you get
										an education loan to study in India, you can fund your higher
										education in some of the world’s best-known institutes!</p>
									<div class="row">
										<div class="col-lg-3 col-6 text-center">
											<img src="/viewPagesAssets/img/icon/loan-amount-abroad.png"
												class="home_study_icon">
											<p class="home_study_icon_text">100% Financing</p>
										</div>
										<div class="col-lg-3 col-6 text-center">
											<img src="/viewPagesAssets/img/icon/repayment.png"
												class="home_study_icon">
											<p class="home_study_icon_text">Flexible Repayments</p>
										</div>
										<div class="col-lg-3 col-6 text-center">
											<img src="/viewPagesAssets/img/icon/quick-sanctions.png"
												class="home_study_icon">
											<p class="home_study_icon_text">Quick Sanctions</p>
										</div>
										<div class="col-lg-3 col-6 text-center">
											<img src="/viewPagesAssets/img/icon/customisable.png"
												class="home_study_icon">
											<p class="home_study_icon_text">Customisable Loans</p>
										</div>
									</div>
									<a href="#"
										class="btn_six text-center slider_btn yello_btn mt-5">Apply
										Now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="sec_pad">
			<div class="container">
				<div class="sec_title  wow fadeInUp pb-5 text-center">
					<h2 class="f_size_40 f_500 t_color3 l_height45">Avanse
						Offerings</h2>
					<p>
						At Avanse, we don’t just fuel academic aspirations, we help build
						India’s educational landscape. We provide financial solutions to <br />every
						student, adult learner or educational institute in <span
							class="c_cyan">need of educational finance.</span> Here’s a look
						at our other <span class="c_cyan">education loan</span> offerings:
					</p>
				</div>
				<div class="row">
					<div class="col-lg-4 mb-5 text-center ">
						<div class=" home-offer-box py-5 pl-3 pr-3">
							<img src="/viewPagesAssets/img/icon/e-tutoring-loans.png">
							<h4 class="f_500 my-2">E-Tutoring Loans</h4>
							<p>Help your child get the online help they need without
								breaking the bank. Get an education loan to fund your child’s
								online classes with Avanse!</p>
							<a href="etutoring.html" class="learn_btn_two c_violet">Read
								More <i class="ti-arrow-right"></i>
							</a>
						</div>
					</div>
					<div class="col-lg-4 mb-5 text-center ">
						<div class=" home-offer-box py-5 pl-3 pr-3">
							<img src="/viewPagesAssets/img/icon/tutor-home.png">
							<h4 class="f_500 my-2">Skill Enhancement</h4>
							<p>Take your career to the next level with a skill
								enhancement loan. Get the skills you need to up your game with
								Avanse’s education financing solutions.</p>
							<a href="skill-enhancement.html" class="learn_btn_two c_violet">Read
								More <i class="ti-arrow-right"></i>
							</a>
						</div>

					</div>
					<div class="col-lg-4 mb-5 text-center ">
						<div class=" home-offer-box py-5 pl-3 pr-3">
							<img src="/viewPagesAssets/img/icon/school-fee-financing.png">
							<h4 class="f_500 my-2">School Fee Financing</h4>
							<p>Never worry about paying your child’s school fees again!
								With Avanse, you can get the funds you need to pay the fees
								upfront and secure your child’s seat.</p>
							<a href="#" class="learn_btn_two c_violet">Read More <i
								class="ti-arrow-right"></i></a>
						</div>

					</div>

				</div>
				<div class="row">
					<div class="col-lg-2 mb-5 text-center"></div>
					<div class="col-lg-4 mb-5 text-center ">
						<div class=" home-offer-box py-5 pl-3 pr-3">
							<img src="/viewPagesAssets/img/icon/school-home.png">
							<h4 class="f_500 my-2">Education Instituion Loan</h4>
							<p>We provide education finance in India to institutions
								aiming to grow their reach and educate as many students as
								possible. Our education loans can be used to build
								infrastructure, update technology or even purchase land for
								educational institutions.</p>
							<a href="education-institution-loans.html"
								class="learn_btn_two c_violet">Read More <i
								class="ti-arrow-right"></i></a>
						</div>
					</div>


					<div class="col-lg-4 mb-5 text-center">
						<div class=" home-offer-box py-5 pl-3 pr-3">
							<img src="/viewPagesAssets/img/icon/loan-home.png">
							<h4 class="f_500 my-2">Executive Education Loan</h4>
							<p>We provide executive education loans for professionals
								looking to grow and climb the corporate ladder. We offer special
								education loans for working professionals in India, including
								education loans for MBA.</p>
							<br /> <a href="executive-education-loan.html"
								class="learn_btn_two c_violet">Read More <i
								class="ti-arrow-right"></i></a>
						</div>
					</div>

				</div>

			</div>
		</section>
		<section class="sec_pad bg_grey_light">
			<div class="container">
				<div class="row mt_50">
					<div class="col-lg-12">
						<div class="sec_title  wow fadeInUp text-center">
							<h2 class="f_size_40 f_500 t_color3 l_height45">Why Choose
								Avanse?</h2>
						</div>
					</div>
					<div class="col-lg-6 col-sm-12  my-auto py-5">

						<h5 class="c_cyan">Get up to 100% Financing</h5>
						<p>We provide up to 100% of the finance for your tuition fee,
							living costs and more!</p>
						<hr />
						<h5 class="c_cyan">Flexible Repayment Options</h5>
						<p>You decide how and when you’d like to pay your loan back.
							You don’t have to make any payments until after you complete your
							course or secure employment!</p>
						<hr />
						<h5 class="c_cyan">Quick Sanctions</h5>
						<p>With a fast-track education loan application, you can get
							the funds within 3 working days!</p>
						<hr />
						<h5 class="c_cyan">Customisable Loans</h5>
						<p>We provide better deals on student loan interest rates
							based on your academic performance. You can customise the loan
							terms and conditions based on your needs.</p>
						<hr />
						<h5 class="c_cyan">Doorstep Service</h5>
						<p>If you need help with your student loan, we’ll send an
							executive to you to help you get through the paperwork.</p>

					</div>
					<div class="col-lg-6 col-sm-12 my-auto">
						<img src="/viewPagesAssets/img/why-avanse.jpg" class="img-fluid">
					</div>
				</div>
			</div>
		</section>
		<section class="cyan-bg sec_pad">
			<div class="container">
				<div class="row">

					<div class="col-lg-12 text-center">
						<h2 class="f_size_40 f_500 t_color3 text-white l_height45 ">
							Find the Perfect <span class="c_dark">Courses</span> and <span
								class="c_dark">Country </span>
						</h2>
						<p class="text-white">Are you applying for a study abroad
							loan? Find out more about the courses and institutions where we
							can help you finance your higher education!</p>
						<h4 class="c_dark pt-5">The Ideal Student Guide</h4>

					</div>


					<div class="col-lg-12 col-sm-12 pt-3">
						<div class="course_abroad_form shadow">
							<div class="row">
								<div class="col-lg-4 py-5 lg-border-right">
									<!-- <form th:action="@{/viewDynamicPages/}" class="contact_form_box " method="post" id="contactForm"> -->
									<div class="form-group ">
										<div class="row">
											<div class="col-11">
												<select class="form-control" id="country_name"
													onchange="setCoursesAndUniversities()">
													<option value="">Select Country</option>
													<option value="Australia">Australia</option>
													<option value="Canada">Canada</option>
													<option value="Germany">Germany</option>
													<option value="New Zealand">New Zealand</option>
													<option value="Singapore">Singapore</option>
													<option value="United Kingdom">UK</option>
													<option value="United States of America">USA</option>
												</select>
											</div>

										</div>
									</div>
								</div>

								<div class="col-lg-4 py-5 lg-border-right">
									<!-- <form action="#" class="contact_form_box " method="post" id="contactForm"> -->
									<div class="form-group ">
										<div class="row">
											<div class="col-9">
												<select class="form-control" id="course_id">
													<option value="">Select Course</option>
													<option value="">Advanced Diploma of Business</option>
													<option value="">B.Eng in Computer Systems
														Engineering</option>
													<option value="">Bachelor of Arts (Sociology)</option>
												</select>
												<button onclick="onCourseSearchButtonClick()"
													class="btn btn-submit search-button-home" type="submit">
													GO</button>

											</div>

										</div>


									</div>
									<!--  </form> -->
									<script type="text/javascript">
			                                    let http= new XMLHttpRequest();
			                                    let fullCourseList;
			                                    let countrySpecificCourseList;
			                                    http.open('POST',window.location.origin+'/public/api/homePage/getAllCourses');
			                                    http.onloadend= () => {
			                                       let allCourseList=JSON.parse(http.responseText);
			                                       fullCourseList=allCourseList;
			                                       let count=document.getElementById('course_id').childElementCount;
			                                       if(document.getElementById('country_name').value == ''||document.getElementById('country_name').value == null)
			                                       for(let i=1;i<count;i++) {
			                                    	   document.getElementById('course_id').lastElementChild.remove();
			                                       }
			                                       for(let course of allCourseList) {
			                                    	   document.getElementById('course_id').innerHTML=document.getElementById('course_id').innerHTML + 
			                                    	   '<option id="CourseID:'+course.id+'" value="CourseID:'+course.id+'">'+course.title+'</option>';
			                                       }
			                                       
			                                    }
			                                    http.send();
			                                   
			                                   function onCourseSearchButtonClick() {
			                                	   if(document.getElementById('course_id').value!='') {
			                                		   if(document.getElementById('university_id').value!='') {
			                                			   /* Go to Country Page with Course Id and University Id */
			                                			   let currenturlinpieces=window.location.href.split('/');
			                                			   let selUniId = document.getElementById('university_id').value.split('UniversityID:')[1];
					                                	   currenturlinpieces[currenturlinpieces.length-1]
					                                	   ='courseDetail' +'/'+document.getElementById('course_id').value.split('CourseID:')[1]
					                              
					                                	   console.log(currenturlinpieces);
					                                	   let targeturl=currenturlinpieces[0]+'/';
					                                	   for(let i=1;i<currenturlinpieces.length;i++) {
					                                		   targeturl=targeturl+'/'+currenturlinpieces[i];
					                                	   }
					                                	   window.location.assign(targeturl);
			                                		   } else {
			                                			   /* Go to Country Page with Course Id only */
			                                			   let currenturlinpieces=window.location.href.split('/');
					                                	   currenturlinpieces[currenturlinpieces.length-1]= 'courseDetail' +'/'+document.getElementById('course_id').value.split('CourseID:')[1]
					                                	   console.log(currenturlinpieces);
					                                	   let targeturl=currenturlinpieces[0]+'/';
					                                	   for(let i=1;i<currenturlinpieces.length;i++) {
					                                		   targeturl=targeturl+'/'+currenturlinpieces[i];
					                                	   }
					                                	   window.location.assign(targeturl);
			                                		   }
				                                	   
				                                   }
			                                   }
                                    </script>


								</div>
								<div class="col-lg-4 py-5">
									<!-- <form action="#" class="contact_form_box " method="post" id="contactForm">  -->
									<div class="form-group">
										<div class="row">
											<div class="col-9">
												<select class="form-control" id="university_id">
													<option value="">Select University</option>
													<option value="">Academies Australasia Polytechnic</option>
													<option value="">Asia Pacific International
														College</option>
													<option value="">Australian National University</option>
												</select>
												<button onclick="universitySearchClicked()"
													class="btn btn-submit search-button-home" type="submit">
													GO</button>

											</div>

										</div>


									</div>
									<!-- </form> -->
								</div>
								<script type="text/javascript">
		                                    let http2= new XMLHttpRequest();
		                                    let fullUniversityList;
		                                    http2.open('POST',window.location.origin+'/public/api/homePage/getAllUniversites');
		                                    http2.onloadend = () => {
		                                       let allUniversityList=JSON.parse(http2.responseText);
		                                       fullUniversityList=allUniversityList;
		                                       let countUniOps=document.getElementById('university_id').childElementCount;
		                                       for(let i=1;i<countUniOps;i++) {
		                                    	   document.getElementById('university_id').lastElementChild.remove();
		                                       }
		                                       for(let university of allUniversityList) {
		                                    	   document.getElementById('university_id').innerHTML=document.getElementById('university_id').innerHTML + 
		                                    	   '<option id="UniversityID:'+university.id+'" value="UniversityID:'+university.id+'">'+university.name+'</option>';
		                                       }
		                                    }
		                                    http2.send();
		                                    
		                                    function universitySearchClicked() {
		                                    	if(document.getElementById('university_id').value!='') {
		                                    		if(document.getElementById('course_id').value!='') {
			                                    		/* Go to Country Page with University Id And Course Id */
			                                    		let selcourseId = document.getElementById('course_id').value.split('CourseID:')[1];
			                                    		let selUniId = document.getElementById('university_id').value.split('UniversityID:')[1];
			                                    		let selcountry = document.getElementById('country_name').value;
			                                    		let currenturlinpieces=window.location.href.split('/');
					                                	   currenturlinpieces[currenturlinpieces.length-1]
					                                	   	='Country/'+selcountry+'/'+selcourseId+'/'+selUniId;
					                                	   console.log(currenturlinpieces);
					                                	   let targeturl=currenturlinpieces[0]+'/';
					                                	   for(let i=1;i<currenturlinpieces.length;i++) {
					                                		   targeturl=targeturl+'/'+currenturlinpieces[i];
					                                	   }
					                                	   window.location.assign(targeturl);
			                                    		
			                                    	} else {
			                                    		/* Go to Country Page with University Id Only */
			                                    		let selUniId = document.getElementById('university_id').value.split('UniversityID:')[1];
			                                    		let selcountry = document.getElementById('country_name').value;
			                                    		let currenturlinpieces=window.location.href.split('/');
					                                	   currenturlinpieces[currenturlinpieces.length-1]
					                                	   	= 'UID/'+selUniId;
					                                	   console.log(currenturlinpieces);
					                                	   let targeturl=currenturlinpieces[0]+'/';
					                                	   for(let i=1;i<currenturlinpieces.length;i++) {
					                                		   targeturl=targeturl+'/'+currenturlinpieces[i];
					                                	   }
					                                	   window.location.assign(targeturl);
			                                    	}
		                                    	}
		                                    }
		                                    
		                                    function setCoursesAndUniversities() {
		                                    	
		                                    	countrySpecificCourseList = [];
		                                    	countrySpecificUniversityList = [];
		                                    		fullUniversityList.forEach((university) =>{
		                                    			if(university.location == document.getElementById('country_name').value) {
		                                    				countrySpecificUniversityList.push(university);
		                                    				university.courses.forEach((c) => countrySpecificCourseList.push(c));
		                                    			}
		                                    		});
		                                    	
		                                    	if(document.getElementById('country_name').value != '') {
	                                    		   let count=document.getElementById('course_id').childElementCount;
	                                    		   for(let i=1;i<count;i++) {
			                                    	   document.getElementById('course_id').lastElementChild.remove();
			                                       }
			                                       for(let course of countrySpecificCourseList) {
			                                    	   document.getElementById('course_id').innerHTML=document.getElementById('course_id').innerHTML + 
			                                    	   '<option id="CourseID:'+course.id+'" value="CourseID:'+course.id+'">'+course.title+'</option>';
			                                       }
			                                       let countUniOps=document.getElementById('university_id').childElementCount;
			                                       for(let i=1;i<countUniOps;i++) {
			                                    	   document.getElementById('university_id').lastElementChild.remove();
			                                       }
			                                       for(let university of countrySpecificUniversityList) {
			                                    	   document.getElementById('university_id').innerHTML=document.getElementById('university_id').innerHTML + 
			                                    	   '<option id="UniversityID:'+university.id+'" value="UniversityID:'+university.id+'">'+university.name+'</option>';
			                                       }
		                                    	} else {
	                                    		   let count=document.getElementById('course_id').childElementCount;
	                                    		   for(let i=1;i<count;i++) {
			                                    	   document.getElementById('course_id').lastElementChild.remove();
			                                       }
			                                       for(let course of fullCourseList) {
			                                    	   document.getElementById('course_id').innerHTML=document.getElementById('course_id').innerHTML + 
			                                    	   '<option id="CourseID:'+course.id+'" value="CourseID:'+course.id+'">'+course.title+'</option>';
			                                       }
			                                       let countUniOps=document.getElementById('university_id').childElementCount;
			                                       for(let i=1;i<countUniOps;i++) {
			                                    	   document.getElementById('university_id').lastElementChild.remove();
			                                       }
			                                       for(let university of fullUniversityList) {
			                                    	   document.getElementById('university_id').innerHTML=document.getElementById('university_id').innerHTML + 
			                                    	   '<option id="UniversityID:'+university.id+'" value="UniversityID:'+university.id+'">'+university.name+'</option>';
			                                       }
		                                    	}
		                                    		
		                                    }
		                                
		                                    
		                                    setCoursesAndUniversities();
                                    </script>

							</div>

							<!-- </form> -->
						</div>

					</div>
				</div>
			</div>
		</section>
		<section class="sec_pad">

			<div class="container-fluid">
				<div class="sec_title text-center mb_90 wow fadeInUp">
					<h2 class="f_size_40 f_500  t_color3 l_height45">
						The <span class="c_cyan">Education Loan</span> Process
					</h2>
					<p>Easy, quick and hassle-free applications!</p>
				</div>
				<div class="row">
					<div class="col-12 text-center">
						<img src="/viewPagesAssets/img/loan-process-home.jpg"
							class="img-fluid mouse-dis d-none d-lg-inline-block d-md-block">
						<img src="/viewPagesAssets/img/loan-process-home-mobile.jpg"
							class="img-fluid mouse-dis d-block d-lg-none d-md-none">
					</div>
				</div>
			</div>
		</section>
		<section class="sec_pad bg_grey">
			<div class="container">
				<div class="row mt_50">
					<div class="col-lg-5 col-sm-12  my-auto py-5">
						<div class="sec_title  wow fadeInUp">
							<h2 class="f_size_40 f_500 t_color3 l_height45">
								Avanse – Transforming <br />the<span class="c_cyan">
									Education </span>Ecosystem
							</h2>
						</div>
						<p>Since our inception, we have helped 1,00,000+ students
							realise their academic aspirations in 12,000 institutions across
							50 countries!</p>
						<a href="#" class="btn_six text-center slider_btn yello_btn mt-5">Learn
							More </a>
					</div>
					<div class="col-lg-7 col-sm-12">
						<img src="/viewPagesAssets/img/transforms.png"
							class="img-fluid mouse-dis">
					</div>
				</div>
			</div>
		</section>
		<section class="feedback_area  sec_pad">
			<div class="container">
				<div class="sec_title text-center mb_70 wow fadeInUp"
					data-wow-delay="0.4s">
					<h2 class="f_size_40 l_height50 f_600 ">Student Success
						Stories</h2>
					<p class="f_400  ">Read about the success stories of students
						who have achieved their educational aspiration.</p>
				</div>
				<div class="feedback_slider owl-carousel">

					<div th:each="testimonial, iStat : ${testimonials}">
						<div class="item">
							<div class="feedback_item testimonials-box">
								<div class="feed_back_author">
									<div class="media">
										<div class="img">
											<img
												th:src="@{${'/images/testimonialImages/' + testimonial.picFileName}}"
												alt="">
										</div>
										<div class="media-body">
											<h5 class="w_color f_500" th:text="${testimonial.name}">Nikhil
												Walimbe</h5>
											<h6 class="w_color f_400" th:text="${testimonial.info}">Management
												MSc. Queen Mary University of London, England</h6>
										</div>
									</div>

								</div>

								<div class="testim_info">
									<p class="w_color" th:text="${testimonial.message}">After
										submitting all my documents, my education loan was sanctioned
										within two days. Thank you Avanse Financial Services for such
										an amazing and prompt service.</p>
									<a href="/testimonials" class="learn_btn_two text-white">Read
										More <i class="ti-arrow-right"></i>
									</a>
									<div class="shap_one"></div>
									<div class="shap_two"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="text-center">
					<a href="/testimonials"
						class="btn_six text-center slider_btn yello_btn mt-5">Know
						More</a>
				</div>
			</div>
		</section>

		<section class="recognitionaward-section bg_color sec_pad">
			<div class="container">
				<div class="sec_title text-center mb_50 wow fadeInUp">
					<h2 class="f_size_40 f_500  t_color3 l_height45">Awards &
						Accolades</h2>
					<p>
						Have a look at some of our achievements! We’re proud to count the
						following awards <br />and certifications among our achievements.
					</p>
				</div>
				<div class="row py-5">
					<div class="col-lg-12">
						<div class="recognition_carousel owl-carousel">
							<div th:each="award, iStat : ${awards}">
								<div class="item">
									<div class="award_section">
										<div class="award_info">
											<span th:text="${award.description}">"Great Place to
												Work®" 2021 a prestigious recognition based on employees
												experience</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>