
<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="_LivePagelayout">
<head>
<meta charset="utf-8">
<body id="page-top">

	<!-- Content Wrapper -->
	<div layout:fragment="contentPlus">
        
        <section class="sec_pad pt-5">
            <div class="circel-bg"></div>
            <div class="circel-yellow-bg"></div>
            <div class="dot-bg"></div>
            <div class="banner_top">
                <div class="container">
                    <div class="row pb-5">
                        <div class="col-md-12 text-center">
                            <h2 id="cityname">Mumbai</h2>
                            <h5 class="f_p  l_height40 wow fadeInUp" data-wow-delay="0.3s"><span
                                class="f_600">Discover your new career</span></h5>
                            <form class=" wow fadeInUp" data-wow-delay="0.7s" method="post" novalidate="true" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
                                <div class="input-group subcribes">
                                    <input type="text" name="EMAIL" class="form-control memail" placeholder="Search Jobs at Avanse">
                                    <button class="btn btn-submit search-button-home" type="submit"><i class="ti-search f_size_24"></i></button>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                    <div class="row pb-5">
                        
                        <div class="col-md-3 ml-auto">
                            <div class="course_abroad_form">
                                <form action="#" class="contact_form_box" method="post" id="">
                                    <select class="form-control"  id="countrySelect" onchange="myFunction()">
                                        <option value="--">Select City</option>
                                        <option value="Mumbai">Mumbai</option>
                                        <option value="Ahmedabad">Ahmedabad</option>
                                        <option value="Chandigarh">Chandigarh</option>
                                        <option value="Bangalore">Bangalore</option>
                                        <option value="Chennai">Chennai</option>
                                        <option value="Delhi">Delhi</option>
                                        <option value="Hyderabad">Hyderabad</option>
                                        <option value="Indore">Indore</option>
                                        <option value="Jaipur">Jaipur</option>
                                        <option value="Kolkata">Kolkata</option>
                                        <option value="Pune">Pune</option>
                                        <option value="Raipur">Raipur</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="mt-1">
                <div class="container">
                    <div class="row s_service_info">
                       
                        <div class="col-lg-4 col-sm-6">
                            <div class="s_service_item latest_job_box text-center" >
                                <div class="solid_overlay"></div>
                                
                                <h5 class="f_p f_size_20 f_500 t_color">Branch Sales Manager- Overseas</h5>
                                <p class="l_height28">Ensure the target set is achieved. Motivate and monitor the team performance. Endeavour to make Avanse a brand of first choice within our customer segment in his respective branch.</p>
                                <a href="#job-apply" class="btn_six text-center slider_btn yello_btn popup-with-form">Apply Now</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="s_service_item latest_job_box text-center" >
                                <div class="solid_overlay"></div>
                               
                                <h5 class="f_p f_size_20 f_500 t_color">Contact Centre Manager</h5>
                                <p class="l_height28">Responsible for seamless customer service and complaint management through contact centre and collaboration with stakeholder departments</p>
                                <a href="" class="btn_six text-center slider_btn yello_btn">Apply Now</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                             <div class="s_service_item latest_job_box text-center" >
                                <div class="solid_overlay"></div>
                                
                                <h5 class="f_p f_size_20 f_500 t_color">HR Business Partner</h5>
                                <p class="l_height28">As a Corporate HRBP, you will be responsible for end to end employee life cycle and will be the SPOC for employees for the designated functions. The role will have key 3 gamut - 50% TA including source</p>
                                <a href="" class="btn_six text-center slider_btn yello_btn">Apply Now</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="s_service_item latest_job_box text-center" >
                                <div class="solid_overlay"></div>
                                <h5 class="f_p f_size_20 f_500 t_color">Collections Strategy Specialist</h5>
                                <p class="l_height28">The incumbent will be responsible to analyze and implement collection strategies and suggest improvements in processes. Has to define & design policies and processes for collections</p>
                                <a href="" class="btn_six text-center slider_btn yello_btn">Apply Now</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                             <div class="s_service_item latest_job_box text-center" >
                                <div class="solid_overlay"></div>
                                <h5 class="f_p f_size_20 f_500 t_color">Collections Strategy Specialist</h5>
                                <p class="l_height28">The incumbent will be responsible to analyze and implement collection strategies and suggest improvements in processes. Has to define & design policies and processes for collections</p>
                                <a href="" class="btn_six text-center slider_btn yello_btn">Apply Now</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                             <div class="s_service_item latest_job_box text-center" >
                                <div class="solid_overlay"></div>
                                <h5 class="f_p f_size_20 f_500 t_color">Collections Strategy Specialist</h5>
                                <p class="l_height28">The incumbent will be responsible to analyze and implement collection strategies and suggest improvements in processes. Has to define & design policies and processes for collections</p>
                                <a href="" class="btn_six text-center slider_btn yello_btn">Apply Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        

        
       

    <footer class="footer_area f_bg">
        <div class="footer_cta fcta_bg">
           <div class="container">
                <div class="row">
                    <div class="col-lg-3 text-lg-left text-sm-center">
                        <img src="/viewPagesAssets/img/logo.png">
                    </div>
                    <div class="col-lg-6 text-lg-center text-sm-center">
                            <h2 class="">Enroll to transform your Lives</h2>
                            <p class="f_size_22"> Get a hassle free education loan is 3 days</p>
                    </div>
                    <div class="col-lg-3 text-lg-right text-sm-center">
                        <a href="" class="btn_yellow ">Apply Now</a>
                    </div>
                </div>
           </div>
        </div>
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget about-widget  wow fadeInLeft" data-wow-delay="0.4s"
                            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_500 text-white f_size_18 mb_40">Education Loan </h3>
                            <ul class="list-unstyled f_list">
                                <li><a href="#">Avanse Education Loans</a></li>
                                <li><a href="#">Study in India Education Loan</a></li>
                                <li><a href="#">Study Abroad Education Loan</a></li>
                                <li><a href="#">Executive Education Loan</a></li>
                                <li><a href="#">Student Loan Refinancing</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget about-widget  wow fadeInLeft" data-wow-delay="0.4s"
                            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_500 text-white f_size_18 mb_40">Calculator</h3>
                            <ul class="list-unstyled f_list">
                                <li><a href="#">Course Expense Calculator</a></li>
                                <li><a href="#">Eligibility Calculator</a></li>
                                <li><a href="#">Eligibility Calculator</a></li>
                                <li><a href="#">Education Loan Repayment Calculator</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget about-widget  wow fadeInLeft" data-wow-delay="0.6s"
                            style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_500 text-white f_size_18 mb_40">Company</h3>
                            <ul class="list-unstyled f_list">
                                    <li><a href="#">About Avanse</a></li>
                                    <li><a href="#">Career</a></li>
                                    <li><a href="#">Investors</a></li>
                                    <li><a href="#">Media Room</a></li>
                                    <li><a href="#">Responsible Lending</a></li>
                                    <li><a href="#">Sitemap</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget about-widget  wow fadeInLeft" data-wow-delay="0.8s"
                            style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_500 text-white f_size_18 mb_40">Resources </h3>
                            <ul class="list-unstyled f_list">
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Good Credit</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Pay Online</a></li>
                                <li><a href="#">WhatsApp Communication</a></li>
                                <li><a href="#">Ex-gratia FAQs</a></li>
                                <li><a href="#">Sarfaesi Notice</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <p class="mb-2 f_300">Copyright © 2021 Avanse Financial Services Ltd. All Rights Reserved .       <a class="ml-4" href="https://www.digistreetmedia.com/" target="_blank">Site Credits</a></p>
                        <p class="mb-2 f_300">CIN : U67120MH1992PLC068060</p>
                    </div>
                    
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="f_social_icon_two text-right mb-2">
                            <a href="#"><i class="ti-facebook"></i></a>
                            <a href="#"><i class="ti-twitter-alt"></i></a>
                            <a href="#"><i class="ti-linkedin"></i></a>
                            <a href="#"><i class="ti-instagram"></i></a>
                        </div>
                        <p class="mb-2 f_300 text-lg-right">Phone support: 1800-266-0200</p>
                    </div>
                    <div class="col-lg-12">
                        <p>Disclaimer | Base Lending Rate | Privacy Policy | Terms & Conditions | Ombudsman Scheme | Customer Complaints | Moratorium Policy | WhatsApp T&C | Communication Policy | Digital Partners</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
        </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/viewPagesAssets/js/jquery-3.6.0.min.js"></script>
    <script src="/viewPagesAssets/js/propper.js"></script>
    <script src="/viewPagesAssets/js/bootstrap.min.js"></script>
    <script src="/viewPagesAssets/vendors/wow/wow.min.js"></script>
    <script src="/viewPagesAssets/vendors/sckroller/jquery.parallax-scroll.js"></script>
    <script src="/viewPagesAssets/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/viewPagesAssets/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="/viewPagesAssets/vendors/isotope/isotope-min.js"></script>
    <script src="/viewPagesAssets/vendors/magnify-pop/jquery.magnific-popup.min.js"></script>
    <script src="/viewPagesAssets/vendors/counterup/jquery.counterup.min.js"></script>
    <script src="/viewPagesAssets/vendors/counterup/jquery.waypoints.min.js"></script>
    <script src="/viewPagesAssets/vendors/counterup/appear.js"></script>
    <script src="/viewPagesAssets/vendors/circle-progress/circle-progress.js"></script>
    <script src="/viewPagesAssets/vendors/scroll/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/viewPagesAssets/js/plugins.js"></script>
    <script src="/viewPagesAssets/js/main.js"></script>

    <!-- form itself -->
    <div class="course_abroad_form mfp-hide">
        <form id="job-apply" class="white-popup-block mfp-hide contact_form_box" method="post">
            <div class="row">
                <div class="col-lg-12 pt-2 pb-3">
                    <h4>Branch Sales Manager- Overseas</h4>
                </div>
                <div class="col-lg-6">
                    <div class="form-group text_box">
                        <input type="text" name="name" placeholder="Your Name">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group text_box">
                        <input type="text" name="name" placeholder="Last Name">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group text_box">
                        <input type="text" name="email" placeholder="Your Email">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group text_box">
                        <input type="text" name="mobile" placeholder="Your Phone Number">
                    </div>
                </div>
                
                <div class="col-lg-12">
                    <div class="form-group text_box">
                        <textarea name="message" cols="30" rows="10" placeholder="Enter Your Message . . ."></textarea>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn_three">Send Message</button>
        </form>
        </div>
<script>
    $(document).ready(function() {
	$('.popup-with-form').magnificPopup({
		type: 'inline',
		preloader: false,
		focus: '#name',

		// When elemened is focused, some mobile browsers in some cases zoom in
		// It looks not nice, so we disable it:
		callbacks: {
			beforeOpen: function() {
				if($(window).width() < 700) {
					this.st.focus = false;
				} else {
					this.st.focus = '#name';
				}
			}
		}
	});
});
</script>
</body>

</html>