
<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="_LivePagelayout">
<head>
<title>Thank you</title>
<body id="page-top">

	<!-- Content Wrapper -->
	<div layout:fragment="contentPlus">

		<section class=" pt-3 pb-3" style="background: #02afb3">
			<div class="container">
				<div class="breadcrumb_content text-center">
					<h1 class="f_p f_500 f_size_40 w_color l_height50 mb_20">Looking
						for something?</h1>
					<p class="f_400 w_color f_size_21 l_height28"></p>
				</div>
			</div>
		</section>

		<section class="avanse_search_area bg_grey sec_pad">
			<div class="container">
				<div class="avanse_box_info">
					<h3 class="wow fadeInUp" data-wow-delay="0.3s"
						style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;"></h3>

					<!-- <form action="#" method="post"> -->
						<div class="avanse_form_inner">
							<input id="searchBox" type="text" class="form-control"
								placeholder="Search by keyword" onkeypress="onSearchClick(event)">
							<button onclick="onSearchClick()" class=""></button>
						</div>
					<!-- </form> -->
				</div>
				<div id="topSearchResultContainer" class="row  pt-5 justify-content-center">
					<div class="col-lg-10">
						<div class="table-responsive">
							<table class="table table-borderless" id="dataTable" width="100%"
								cellspacing="0">
								<thead class="thead-light">
									<tr>
										<th scope="col">Search Results</th>
									</tr>
								</thead>
								<tbody id="searchResultTableBodyContainer">
									<tr>
										<td>
											<div class="search-list-box">
												<a href="#">
													<h5>Education Loans</h5> <span class="c_dark">You've
														done almost all the hard work to turn your dream into
														reality. We can help you cross the finish line.</span>
												</a>
											</div>
										</td>
									</tr>

									<tr>
										<td>
											<div class="search-list-box">
												<a href="#">
													<h5>Study Abroad Loan</h5> <span class="c_dark">Moving
														abroad for your higher education opens several doors. You
														can gain access to highly-acclaimed and globally
														recognised programmes</span>
												</a>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="search-list-box">
												<a href="#">
													<h5>Study in India Loan</h5> <span class="c_dark">When
														it comes to selecting an institute for your higher
														education, we’re sure you want to consider all your
														options. India has been a hub of knowledge</span>
												</a>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="search-list-box">
												<a href="#">
													<h5>Study in India Loan</h5> <span class="c_dark">When
														it comes to selecting an institute for your higher
														education, we’re sure you want to consider all your
														options. India has been a hub of knowledge</span>
												</a>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="search-list-box">
												<a href="#">
													<h5>Study in India Loan</h5> <span class="c_dark">When
														it comes to selecting an institute for your higher
														education, we’re sure you want to consider all your
														options. India has been a hub of knowledge</span>
												</a>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="search-list-box">
												<a href="#">
													<h5>Study in India Loan</h5> <span class="c_dark">When
														it comes to selecting an institute for your higher
														education, we’re sure you want to consider all your
														options. India has been a hub of knowledge</span>
												</a>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="search-list-box">
												<a href="#">
													<h5>Study in India Loan</h5> <span class="c_dark">When
														it comes to selecting an institute for your higher
														education, we’re sure you want to consider all your
														options. India has been a hub of knowledge</span>
												</a>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="search-list-box">
												<a href="#">
													<h5>Study in India Loan</h5> <span class="c_dark">When
														it comes to selecting an institute for your higher
														education, we’re sure you want to consider all your
														options. India has been a hub of knowledge</span>
												</a>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<script type="text/javascript">
					document.getElementById('topSearchResultContainer').hidden=true;
					
					function onSearchClick(event) {
						if(event == null || event.keyCode === 13) {
							let value = $('#searchBox').val();
							let http = new XMLHttpRequest();
							let searchResultDtoList = [];
							http.open('POST',window.location.origin+'/globalSearch/'+value);
							http.onloadend = () => {
								let resDto = JSON.parse(http.responseText);
								searchResultDtoList = resDto;
								let tBodEle = document.getElementById('searchResultTableBodyContainer');
								document.getElementById('topSearchResultContainer').hidden=false;
								tBodEle.innerHTML = ''
								if(resDto.length>0) {
									for(let dto of resDto) {
										tBodEle.innerHTML = tBodEle.innerHTML + 
										'<tr><td> <div class="search-list-box"><a href="'+window.location.origin+dto.url.replace(/ /g,'-')+'"> <h5>'+dto.heading+'</h5> <span class="c_dark">'+dto.descriptionContainingKey+'</span></a></div> </td></tr>';
									}
								} else {
									tBodEle.innerHTML='<tr><td> <div class="search-list-box"><h5>No Results Found...</h5><span class="c_dark">Try Seaching Again with another keyword...</span></div> </td></tr>';
								}
								
							}
							http.send();	
						} 
					}
					
					
					
					/* $(document).ready( function () {
						$('#dataTable').DataTable();
					} ); */
					
					
					
				</script>
				<script type="text/javascript">
					setTimeout(()=> {
							document.getElementById('dataTable_filter').hidden=true;
					},500);
				</script>

				<!-- <div class="row justify-content-center">
					<div class="col-lg-10">
						<ul
							class="list-unstyled page-numbers shop_page_number text-left mt_30">
							<li><span aria-current="page" class="page-numbers current">1</span></li>
							<li><a class="page-numbers" href="#">2</a></li>
							<li><a class="page-numbers" href="#">3 </a></li>
							<li><a class="next page-numbers" href="#"><i
									class="ti-arrow-right"></i></a></li>
						</ul>
					</div>
				</div> -->
			</div>
		</section>
	</div>