
<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="_LivePagelayout">
<head>
<meta charset="utf-8">
<body id="page-top">

	<!-- Content Wrapper -->
	<div layout:fragment="contentPlus">


		<section class="top_avanse_banner_area abroad_top_bg">

			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-7">
						<div class="h_avaneses_content">
							<h2 class="wow fadeInLeft" data-wow-delay="0.4s">Let your
								dreams take flight</h2>
							<h2 class="wow fadeInLeft" data-wow-delay="0.6s">
								<span>While you stay rooted</span>
							</h2>
						</div>
					</div>
					<div class="col-lg-5">
						<div class="h_avanse_img">
							<img src="/viewPagesAssets/img/study-in-india-banner.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="bg_grey_light sec_pad pb-0">

			<div class="container">
				<div class="row">

					<div class="col-lg-12 col-sm-12">
						<h2 class="f_size_40 f_500 t_color3 l_height45 text-center mb_50">
							Study in India <br /> <span class="c_cyan">The World’s
								Education Hub</span>
						</h2>
					</div>
					<div class="col-lg-6 col-sm-12">
						<img src="/viewPagesAssets/img/ticket-to-our-dreams.png"
							class="img-fluid">
					</div>
					<div class="col-lg-6 col-sm-12  my-auto py-5">
						<p class="f_400 ">When it comes to selecting an institute for
							your higher education, we’re sure you want to consider all your
							options. India has been a hub of knowledge and learning since the
							5th century, when institutes like Nalanda University attracted
							scholars from around the world. Today, India is home to over
							1,000 universities ! So if you decide to study in India, your
							options are anything but limited.</p>
						<p class="f_400 ">Many of the world’s best talents and CEOs
							are products of India’s higher education system. But just because
							your college is close to home, it doesn’t mean you won’t need
							financial assistance. We provide study loans in India that aim to
							help you with 100% financial assistance for your course. With our
							help, you can focus on your education and work towards achieving
							your academic aspirations!</p>
					</div>
				</div>
			</div>
		</section>
		<section class="sec_pad">
			<div class="circel-bg"></div>
			<div class="circel-yellow-bg"></div>
			<div class="dot-bg"></div>
			<div class="container">
				<div class="row">

					<div class="col-lg-6 col-sm-12 my-auto">
						<h2 class="f_size_40 f_500 t_color3 l_height45  mb_50">
							What Is a <span class="c_cyan">Study Loan </span> in India
						</h2>
						<p>
							When you decide to study abroad, you have to worry about more
							than just your tuition fees. The cost of living in another
							country and buying your textbooks all start to add up. Before you
							even secure your admission, you must prove you have the funds
							required to pay for your student life abroad. With an Avanse <strong>study
								abroad loan in India</strong>, you don't have to worry about the costs.
							Our <strong>loan for education abroad </strong> covers all your
							education-related costs, right from course fees to travel, books
							and learning devices. Whatever you need, we’ve got you covered!
						</p>
					</div>

					<div class="col-lg-6 col-sm-12">
						<img src="/viewPagesAssets/img/study-abroad-loan.jpg"
							class="img-fluid">
					</div>
				</div>
			</div>
		</section>

		<section class="bg_grey sec_pad">
			<div class="container">
				<div class="sec_title text-center mb_70 wow fadeInUp"
					data-wow-delay="0.3s"
					style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
					<h2 class="f_size_40 f_500 t_color3 l_height45">
						Why Choose <br /> <span class="c_cyan">Student Loans in
							India?</span>
					</h2>
				</div>
				<div class="row">
					<div class="col-lg-2 text-center my-auto">
						<img src="/viewPagesAssets/img/icon/financing.png">
					</div>
					<div class="col-lg-10">
						<h4>Financial Independence</h4>
						<p class="">Many young adults today hope to build their future
							on their terms. By opting for a loan for higher studies in India,
							you can fund your education and remain financially independent.
							You don’t have to worry about being a burden on your loved ones.</p>
					</div>
				</div>
				<hr>
				<div class="row ">
					<div class="col-lg-2 text-center my-auto">
						<img src="/viewPagesAssets/img/icon/value.png">
					</div>
					<div class="col-lg-10">
						<h4>Preserve Family Savings</h4>
						<p class="">Most students today worry about the impact their
							education has on their family’s finances. With a student loan in
							India, you can preserve your family’s savings for the future
							while following your dreams. With an Avanse education loan for
							Indian students, you can get the education you deserve without
							dipping into your family’s savings.</p>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="col-lg-2 text-center my-auto">
						<img src="/viewPagesAssets/img/icon/independent.png">
					</div>
					<div class="col-lg-10">
						<h4>Build Your Credit</h4>
						<p class="">When you start managing your finances, you have
							the opportunity to build up your credit score. By opting for a
							student loan in India, you can start building your credit right
							from the time you’re 18. With a good credit score, you enjoy
							better deals on loans and interest rates in the future!</p>
					</div>
				</div>


			</div>
		</section>
		<section class="cyan-bg sec_pad">
			<div class="container">
				<div class="row">

					<div class="col-lg-6 mb-5 my-auto">
						<h2 class="f_size_50 f_500 t_color3 text-white l_height45 ">Ready
							to take charge of your future?</h2>
						<h5 class="c_dark mt-3">Apply NOW for a study in India loan!</h5>

					</div>
					<div class="col-lg-6 text-center c ml-auto my-auto">
						<a href="/apply-now" class="btn_six text-center slider_btn yello_btn mt-5">Apply
							Now</a>

					</div>
				</div>
			</div>
		</section>
		<section class=" sec_pad ">
			<div class="container">
				<div class="sec_title text-center mb_70 wow fadeInUp"
					data-wow-delay="0.3s"
					style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
					<h2 class="f_size_40 f_500 t_color3 l_height45">
						Why Choose Avanse <br /> <span class="c_cyan">Loan for
							Overseas Education?</span>
					</h2>
				</div>
				<div class="row">
					<div class="col-lg-12 ml-auto my-auto text-center">
						<img src="/viewPagesAssets/img/overseas-education.png"
							class="img-fluid" alt="">
					</div>


				</div>
				<div class="row justify-content-center mt-5">
					<div class="col-lg-4">
						<div class="s_integration_item text-center">
							<img src="/viewPagesAssets/img/icon/universities.png"
								class="img-fluid" alt="">
							<hr />
							<h1 class="f_600">
								<span>900</span>+
							</h1>
							<h5>Courses available in universities</h5>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="s_integration_item text-center">
							<img src="/viewPagesAssets/img/icon/students.png"
								class="img-fluid" alt="">
							<hr />
							<h1 class="f_600">
								<span>2,00,000</span>+
							</h1>
							<h5>Network of students</h5>

						</div>
					</div>


				</div>
			</div>
		</section>
		<section class="bg_grey_light sec_pad ">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 my-auto">
						<h2 class="f_size_40 f_500 t_color3 l_height45">
							The <span class="c_cyan">Avanse</span> Advantage
						</h2>
						<p>When you opt for an Avanse loan for higher studies in
							India, you can enjoy quick and hassle-free disbursals. Once we
							receive your application, we can disburse the loan in just a few
							days! You can fast-track your study in India loan and get the
							funds you need exactly when you need it!</p>
					</div>
					<div class="col-lg-6">
						<img src="/viewPagesAssets/img/importance-of-an-mba.png"
							class="img-fluid">
					</div>
				</div>
			</div>
		</section>
		<section class=" sec_pad">
			<div class="container">
				<div class="sec_title text-center mb_70 wow fadeInUp"
					data-wow-delay="0.3s"
					style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
					<h2 class="f_size_40 f_500 t_color3 l_height45">
						How Do I Apply for <br /> <span class="c_cyan">Education
							Finance in India?</span>
					</h2>
					<h4>
						Do you want to start the education loan in India application
						process <br />right away? Here’s what you need to do:
					</h4>
				</div>
				<div class="setup_inner">
					<div class="setup_item row ">
						<div class="col-md-5 setup_img wow fadeInLeft text-lg-right"
							data-wow-delay="0.2s">
							<img src="/viewPagesAssets/img/icon/application-form.png" alt="">
						</div>
						<div class="col-md-2 s_number">
							<div class="round">01</div>
						</div>
						<div class="col-md-5">
							<div class="setup_content wow fadeInRight" data-wow-delay="0.4s">
								<h4>
									Fill out the <a href="#" class="c_cyan">application form</a>
								</h4>
							</div>
						</div>
						<div class="line bottom_half wow height " data-wow-delay="0.5s"></div>
					</div>
					<div class="setup_item row flex-row-reverse">
						<div class="col-md-5 setup_img wow fadeInLeft text-lg-left"
							data-wow-delay="0.2s">
							<img src="/viewPagesAssets/img/icon/consulting.png" alt="">
						</div>
						<div class="col-md-2 s_number">
							<div class="round">02</div>
						</div>
						<div class="col-md-5">
							<div class="setup_content wow fadeInRight" data-wow-delay="0.4s">
								<h4>Speak to our consultants</h4>
							</div>
						</div>
						<div class="line wow height" data-wow-delay="0.9s"></div>
					</div>
					<div class="setup_item row">
						<div class="col-md-5 setup_img wow fadeInLeft text-lg-right"
							data-wow-delay="0.2s">
							<img src="/viewPagesAssets/img/icon/requisite-documents.png"
								alt="">
						</div>
						<div class="col-md-2 s_number">
							<div class="round">03</div>
						</div>
						<div class="col-md-5">
							<div class="setup_content wow fadeInRight" data-wow-delay="0.4s">
								<h4>Send us the requisite documents</h4>
							</div>
						</div>
						<div class="line wow height" data-wow-delay="1.5s"></div>
					</div>
					<div class="setup_item row flex-row-reverse">
						<div class="col-md-5 setup_img wow fadeInLeft text-lg-left"
							data-wow-delay="0.2s">
							<img src="/viewPagesAssets/img/icon/loan-amount.png" alt="">
						</div>
						<div class="col-md-2 s_number">
							<div class="round">04</div>
						</div>
						<div class="col-md-5">
							<div class="setup_content wow fadeInRight" data-wow-delay="0.4s">
								<h4>Receive the loan amount</h4>
							</div>
						</div>
						<div class="line wow height" data-wow-delay="1.9s"></div>
					</div>
				</div>
			</div>
		</section>

		<section class="bg_grey  sec_pad">
			<div class="container">
				<div class="sec_title text-center mb_90 wow fadeInUp"
					data-wow-delay="0.3s"
					style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
					<h2 class="f_size_40 f_500 t_color3 l_height45">
						Understanding Your <br /> <span class="c_cyan"> Loan for
							Higher Education in India </span>
					</h2>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-3">
						<ul class="nav nav-tabs software_service_tab" id="myTab"
							role="tablist">
							<li class="nav-item"><a class="nav-link active show"
								id="de-tab" data-toggle="tab" href="#ec" role="tab"
								aria-controls="de" aria-selected="false">Eligibility
									Criteria</a></li>
							<li class="nav-item"><a class="nav-link" id="dr-tab"
								data-toggle="tab" href="#dr" role="tab" aria-controls="dr"
								aria-selected="false">Documentation Required</a></li>
							<li class="nav-item"><a class="nav-link " id="la-tab"
								data-toggle="tab" href="#la" role="tab" aria-controls="la"
								aria-selected="true">Loan Amounts</a></li>
							<li class="nav-item"><a class="nav-link" id="cl-tab"
								data-toggle="tab" href="#lc" role="tab" aria-controls="cl"
								aria-selected="false">Loan Coverage</a></li>
							<li class="nav-item"><a class="nav-link" id="tlp-tab"
								data-toggle="tab" href="#tlp" role="tab" aria-controls="tlp"
								aria-selected="true">The Loan Process</a></li>
							<li class="nav-item"><a class="nav-link" id="ls-tab"
								data-toggle="tab" href="#ls" role="tab" aria-controls="ls"
								aria-selected="false">Loan Security</a></li>
							<li class="nav-item"><a class="nav-link" id="ld-tab"
								data-toggle="tab" href="#ld" role="tab" aria-controls="ld"
								aria-selected="false">Loan Disbursement</a></li>
							<li class="nav-item"><a class="nav-link" id="lpf-tab"
								data-toggle="tab" href="#lpf" role="tab" aria-controls="lpf"
								aria-selected="false">Loan Processing Fee</a></li>
							<li class="nav-item"><a class="nav-link" id="ir-tab"
								data-toggle="tab" href="#ir" role="tab" aria-controls="ir"
								aria-selected="false">Interest Rates</a></li>
							<li class="nav-item"><a class="nav-link" id="ac-tab"
								data-toggle="tab" href="#ac" role="tab" aria-controls="ac"
								aria-selected="false">Avanse Charges</a></li>
							<li class="nav-item"><a class="nav-link" id="lr-tab"
								data-toggle="tab" href="#lr" role="tab" aria-controls="lr"
								aria-selected="false">Loan Repayment</a></li>
							<li class="nav-item"><a class="nav-link" id="ro-tab"
								data-toggle="tab" href="#ro" role="tab" aria-controls="ro"
								aria-selected="false">Repayment Options</a></li>
							<li class="nav-item"><a class="nav-link" id="downloads-tab"
								data-toggle="tab" href="#downloads" role="tab"
								aria-controls="downloads" aria-selected="false">Downloads</a></li>
						</ul>
					</div>
					<div class="col-lg-9 col-md-9">
						<div class="tab-content software_service_tab_content">
							<div class="tab-pane fade active show" id="ec" role="tabpanel"
								aria-labelledby="ec-tab">
								<div class="row">
									<div class="col-lg-12 col-md-12">
										<h5>
											Who can apply for <span class="c_cyan">education
												finance in India?</span>
										</h5>
									</div>
									<div class="col-lg-12">
										<div class="software_service_item mb-30 wow fadeInUp"
											data-wow-delay="0.2s"
											style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">

											<h5 class="mt_30 mb_15">Students can apply if they:</h5>
											<ul class="check_list">
												<li>Are Indian citizens who are 18 or older</li>
												<li>Have a confirmed admission before the final
													disbursal</li>
												<li>Have a co-borrower who earns in India</li>
											</ul>
										</div>
									</div>

									<div class="col-lg-12">
										<div class="software_service_item mb-30 wow fadeInUp"
											data-wow-delay="0.4s"
											style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">

											<h5 class=" mb_15">Co-borrowers also need to meet the
												following criteria:</h5>
											<ul class="check_list">
												<li>Must be an Indian citizen and should be a parent,
													legal guardian, sibling or other blood relative</li>
												<li>Must have a bank account in India that allows them
													to sign cheques</li>
												<li>Must be the primary debtor</li>
											</ul>
										</div>
									</div>
									<div class="col-lg-12 ">
										<h5>
											For Which Courses Can Students Avail <span class="c_cyan">Education
												Finance in India?</span>
										</h5>
										<div class="software_service_item mb-30 wow fadeInUp"
											data-wow-delay="0.4s"
											style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">

											<h5 class=" mb_15">You can opt for a loan for higher
												studies in India for:</h5>
											<ul class="check_list">
												<li>Graduate, post-graduate and professional degree or
													diploma courses offered by colleges and universities
													approved by UGC, AICTE, IMC and the Government</li>
												<li>Technical and other professional courses such as
													engineering, medicine, management, law and aviation</li>
												<li>Courses offered by recognised foreign universities
													in India</li>
												<li>Executive programmes, vocational training and other
													courses approved by Avanse Financial Services Ltd.</li>
											</ul>
										</div>
									</div>

								</div>
							</div>
							<div class="tab-pane fade " id="dr" role="tabpanel"
								aria-labelledby="dr-tab">
								<div class="row">
									<div class="col-lg-12 col-md-12">
										<h5>To complete your application for a higher education
											loan in the country, you will have to provide the following
											documents:</h5>
									</div>
									<div class="col-lg-12 col-md-6">
										<div class="software_service_item mb-30">
											<ul class="check_list">
												<li>Student KYC and educational documents</li>
												<li>Details regarding the course and fees</li>
												<li>Co-borrower KYC and income details</li>
												<li>Collateral documents</li>
											</ul>
										</div>
									</div>

									<div class="col-lg-12 col-md-6">
										<div class="software_service_item mb-30">

											<h5 class=" mb_15">Here’s a quick document checklist
												that will help you get your papers in order</h5>
											<table class="table-responsive table-bordered table-hover"
												width="100%" cellspacing="0" cellpadding="5"
												style="border: 0;">
												<thead>
													<tr>
														<th><strong>Documents</strong></th>
														<th><strong>Applicant</strong></th>
														<th><strong>Co-Applicant</strong></th>
														<th><strong>Additional Co-Applicant</strong></th>
														<th><strong>Guarantor</strong></th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>2 Colour Passport-sized Photos</td>
														<td class="text-center"><i class="ti-check"></i></td>
														<td class="text-center"><i class="ti-check"></i></td>
														<td class="text-center"><i class="ti-check"></i></td>
														<td class="text-center"><i class="ti-check"></i></td>
													</tr>
													<tr>
														<td>Photo ID</td>
														<td class="text-center"><i class="ti-check"></i></td>
														<td class="text-center"><i class="ti-check"></i></td>
														<td class="text-center"><i class="ti-check"></i></td>
														<td class="text-center"><i class="ti-check"></i></td>
													</tr>
													<tr>
														<td>Residence Proof</td>
														<td class="text-center"><i class="ti-check"></i></td>
														<td class="text-center"><i class="ti-check"></i></td>
														<td class="text-center"><i class="ti-check"></i></td>
														<td class="text-center"><i class="ti-check"></i></td>
													</tr>
													<tr>
														<td>Date of Birth Proof</td>
														<td class="text-center"><i class="ti-check"></i></td>
														<td class="text-center"><i class="ti-check"></i></td>
														<td class="text-center"><i class="ti-check"></i></td>
														<td class="text-center"><i class="ti-check"></i></td>
													</tr>
													<tr>
														<td>Signature Verification</td>
														<td class="text-center"><i class="ti-check"></i></td>
														<td class="text-center"><i class="ti-check"></i></td>
														<td class="text-center"><i class="ti-check"></i></td>
														<td class="text-center"><i class="ti-check"></i></td>
													</tr>
													<tr>
														<td>Academic Documents</td>
														<td class="text-center"><i class="ti-check"></i></td>
														<td>&nbsp;</td>
														<td>&nbsp;</td>
														<td>&nbsp;</td>
													</tr>
													<tr>
														<td>Proof of Admission</td>
														<td class="text-center"><i class="ti-check"></i></td>
														<td>&nbsp;</td>
														<td>&nbsp;</td>
														<td>&nbsp;</td>
													</tr>
													<tr>
														<td>Fee Structure</td>
														<td class="text-center"><i class="ti-check"></i></td>
														<td>&nbsp;</td>
														<td>&nbsp;</td>
														<td>&nbsp;</td>
													</tr>
													<tr>
														<td>Income Proof</td>
														<td>&nbsp;</td>
														<td class="text-center"><i class="ti-check"></i></td>
														<td class="text-center"><i class="ti-check"></i></td>
														<td class="text-center"><i class="ti-check"></i></td>
													</tr>
													<tr>
														<td>Collateral Documents</td>
														<td>&nbsp;</td>
														<td class="text-center"><i class="ti-check"></i></td>
														<td class="text-center"><i class="ti-check"></i></td>
														<td class="text-center"><i class="ti-check"></i></td>
													</tr>
													<tr>
														<td>8-month Bank Statement</td>
														<td>&nbsp;</td>
														<td class="text-center"><i class="ti-check"></i></td>
														<td class="text-center"><i class="ti-check"></i></td>
														<td>&nbsp;</td>
													</tr>
													<tr>
														<td>Relationship Proof</td>
														<td>&nbsp;</td>
														<td class="text-center"><i class="ti-check"></i></td>
														<td class="text-center"><i class="ti-check"></i></td>
														<td>&nbsp;</td>
													</tr>

												</tbody>
											</table>
										</div>
									</div>


								</div>
							</div>
							<div class="tab-pane fade " id="la" role="tabpanel"
								aria-labelledby="la-tab">
								<div class="row">
									<div class="col-lg-10 col-md-12">
										<div class="software_service_item mb_70">

											<h5 class="mt_30 mb_15">At Avanse, we don’t want to
												limit your dreams. While the minimum loan amount for student
												loans in India is INR 1,00,000, we do not put a cap on the
												maximum loan amount. We strive to create customised loans
												that meet all your financial needs with ease. Additionally,
												we will not ask for any margin contribution. Our goal is to
												provide holistic funding for your education so you can
												achieve your academic aspirations successfully.</h5>
										</div>
									</div>

								</div>
							</div>
							<div class="tab-pane fade" id="lc" role="tabpanel"
								aria-labelledby="lc-tab">
								<div class="row">
									<div class="col-lg-12 col-md-12">
										<div class="software_service_item mb_70">

											<h5 class="mt_30 mb_15">Our higher education loan for
												students in India will cover:</h5>
											<ul class="check_list">
												<li>Up to 100% of the tuition fee as decided by the
													university or institute</li>
												<li>Up to 75% of your living expenses, including the
													purchase of books, computers and other equipment, as long
													as it does not exceed 20% of the tuition fee</li>
												<li>Up to 100% of the building fund or caution deposit
													or refundable deposit as long as it does not exceed 10% of
													the tuition fee and comes with valid bills or receipts from
													the institution</li>
											</ul>
										</div>
									</div>

								</div>
							</div>
							<div class="tab-pane fade" id="tlp" role="tabpanel"
								aria-labelledby="tlp-tab">
								<div class="row">
									<div class="col-lg-12 col-md-12">
										<div class="software_service_item mb_70">

											<h5 class="mt_30 mb_15">
												When you choose Avanse as your <span class="c_cyan">education
													loan provider in India</span>, you can count on quick, transparent
												and completely hassle-free loans. To apply for a <span>study
													loan in India,</span> you can fill up the <a href="#"
													class="c_cyan">online form</a> or send an e-mail to <a
													href="mailto:wecare@avanse.com" class="c_cyan">wecare@avanse.com</a>.
												For a smooth application journey, you should inform us
												about:
											</h5>
											<ul class="check_list mb-4">
												<li>The amount of financial assistance required</li>
												<li>The course and institute where you intend to study</li>
												<li>The identity of your co-applicant or guarantor</li>
											</ul>
											<p>Ideally, check which documents you need to submit and
												apply for the study in India loan well in advance to avoid
												last-minute hassles.</p>
											<p>Once we receive the loan application for higher
												studies in India, our consultants will review it and get in
												touch with you if they require any additional information.
												Once all the paperwork is ready, we will provide you with an
												education loan agreement. The agreement lists out all the
												terms and conditions. After you review the paperwork, sign
												it and share the required documents, we will disburse the
												loan amount via DD, cheque or electronic transfer.</p>
										</div>
									</div>

								</div>
							</div>
							<div class="tab-pane fade" id="ls" role="tabpanel"
								aria-labelledby="ls-tab">
								<div class="row">
									<div class="col-lg-12 col-md-12">
										<div class="software_service_item mb_70">

											<h5 class="mt_30 mb_15">
												Avanse provides secured <span class="c_cyan">student
													loans in India. </span>. <br />The collateral we accept as
												security includes:
											</h5>
											<ul class="check_list mb-4">
												<li>Residential property (apartment/house)</li>
												<li>Fixed deposit by any registered deposit-taking
													organisation, assigned in favour of Avanse</li>
												<li>Life insurance with a surrender value equal to the
													required security coverage</li>
												<li>Non-agricultural land</li>
											</ul>

										</div>
									</div>

								</div>
							</div>
							<div class="tab-pane fade" id="ld" role="tabpanel"
								aria-labelledby="ld-tab">
								<div class="row">
									<div class="col-lg-12 col-md-12">
										<div class="software_service_item mb_70">

											<h5 class="mt_30 mb_15">Take a look at how the loan
												amount gets disbursed to ensure you’re making an informed
												decision:</h5>
											<ul class="check_list mb-4">
												<li>The study in India loan amount will be disbursed in
													Indian Rupees.</li>
												<li>Tuition and hostel fees will be sent directly to
													the institute or university as per the agreed-upon schedule
													of payments.</li>
												<li>The loan amount for other expenses will get
													transferred to the co-borrower’s account in instalments
													over the duration of the course.</li>
												<li>When the student chooses to reside outside the
													hostel, the money gets transferred directly to the
													co-borrower’s account.</li>
											</ul>

										</div>
									</div>

								</div>
							</div>
							<div class="tab-pane fade" id="lpf" role="tabpanel"
								aria-labelledby="lpf-tab">
								<div class="row">
									<div class="col-lg-12 col-md-12">
										<div class="software_service_item mb_70">

											<h5 class=" mb_15">Generally, Avanse charges 1-2% of the
												loan amount as the processing fee. However, we evaluate the
												amount on a case-to-case basis and share the final amount
												while processing the loan.</h5>

										</div>
									</div>

								</div>
							</div>
							<div class="tab-pane fade" id="ir" role="tabpanel"
								aria-labelledby="ir-tab">
								<div class="row">
									<div class="col-lg-12 col-md-12">
										<div class="software_service_item mb_70">

											<h5 class=" mb_15">
												To ensure you always enjoy a competitive rate of interest,
												we work with floating rates. We calculate the interest on
												your loan using the formula: Interest = Avanse Base Rate +
												Spread. Our base rate is currently static at 12.65%. The
												spread changes periodically based on your overall credit and
												course profiling. We use a simple interest rate with monthly
												rest to calculate the rate of interest on your <span
													class="c_cyan"> student loan in India.</span>
											</h5>

										</div>
									</div>

								</div>
							</div>
							<div class="tab-pane fade" id="ac" role="tabpanel"
								aria-labelledby="ac-tab">
								<div class="row">
									<div class="col-lg-12 col-md-12">
										<div class="software_service_item mb_70">

											<h5 class=" mb_15">At Avanse, we believe in being
												transparent. We want you to have all the information
												required, so here’s a look at our service charges:</h5>
											<table class="table-responsive table-bordered table-hover"
												width="100%" cellspacing="0" cellpadding="5"
												style="border: 0;">
												<thead>
													<tr>
														<th><strong>Description of Charges</strong></th>
														<th><strong>Charges and Fees</strong></th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>Pre-payment charges</td>
														<td>No pre-payment allowed within 6 months from the
															disbursal of the loan</td>
													</tr>
													<tr>
														<td>Charges for late payment of PMII/EMI</td>
														<td>2% per month</td>
													</tr>
													<tr>
														<td>Cheque/ECS bounce charges (per bounce)</td>
														<td>INR 500/- plus applicable GST</td>
													</tr>
													<tr>
														<td>Document handling charges (during foreclosure)</td>
														<td>INR 2,000 onwards plus applicable GST</td>
													</tr>
												</tbody>
											</table>
											<p class="mt-3">Additional services, as required, will be
												charged at a nominal fee as per Avanse policy.</p>
										</div>
									</div>

								</div>
							</div>
							<div class="tab-pane fade" id="lr" role="tabpanel"
								aria-labelledby="lr-tab">
								<div class="row">
									<div class="col-lg-12 col-md-12">
										<div class="software_service_item mb_70">

											<h5 class=" mb_15">You can choose a study in India loan
												repayment tenure that suits your needs as long as it falls
												within the following limits:</h5>
											<p>Minimum loan repayment tenure – 12 months</p>
											<p>Maximum loan repayment tenure – 120 months (including
												the course duration)</p>
											<p>We also offer a grace period of 6 months from the time
												you complete the course or a grace period of 3 months from
												the time you secure your first job.</p>
										</div>
									</div>

								</div>
							</div>
							<div class="tab-pane fade" id="ro" role="tabpanel"
								aria-labelledby="ro-tab">
								<div class="row">
									<div class="col-lg-12 col-md-12">
										<div class="software_service_item mb_70">

											<h5 class=" mb_15">Our study in India loans are designed
												to help you meet all your education-related financial needs.
												So, we provide multiple repayment options. You can start
												repaying from the time you’re in college or once you
												complete the course and secure a job. While repaying, you
												can choose between:</h5>

											<ul class="check_list">
												<li>Interest servicing during the course</li>
												<li>Partial interest servicing during the course</li>
												<li>EMI repayment during the course</li>
												<li>EMI repayment after a holiday/moratorium period</li>
												<li>Step up repayment facility</li>
											</ul>
										</div>
									</div>

								</div>
							</div>
							<div class="tab-pane fade" id="downloads" role="tabpanel"
								aria-labelledby="downloads-tab">
								<div class="row">
									<div class="col-lg-12 col-md-12">
										<div class="software_service_item mb_70">

											<h5 class=" mb_15">
												Still need some more information about our <span>best
													educational loan in India? </span>Download our document checklists
												and more:
											</h5>

											<ul class="check_list">
												<li><a href="#" class="c_cyan">Application Form</a></li>
												<li>Loan Process</li>
												<li>Document checklist for salaried individuals</li>
												<li>Document checklist for employed professionals</li>
											</ul>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>


		<section class="feedback_area  sec_pad">
			<div class="container">
				<div class="sec_title text-center mb_70 wow fadeInUp"
					data-wow-delay="0.4s">
					<h2 class="f_size_40 l_height50 f_600 ">Student Success
						Stories</h2>
					<p class="f_400  ">Read about the success stories of students
						who have achieved their educational aspiration.</p>
				</div>
				<div class="feedback_slider owl-carousel">
					<div th:each="testimonial, iStat : ${testimonials}">
						<div class="item">
							<div class="feedback_item testimonials-box">
								<div class="feed_back_author">
									<div class="media">
										<div class="img">
											<img
												th:src="@{${'/images/testimonialImages/' + testimonial.picFileName}}"
												alt="">
										</div>
										<div class="media-body">
											<h5 class="w_color f_500" th:text="${testimonial.name}">Nikhil
												Walimbe</h5>
											<h6 class="w_color f_400" th:text="${testimonial.info}">Management
												MSc. Queen Mary University of London, England</h6>
										</div>
									</div>

								</div>

								<div class="testim_info">
									<p class="w_color" th:text="${testimonial.message}">After
										submitting all my documents, my education loan was sanctioned
										within two days. Thank you Avanse Financial Services for such
										an amazing and prompt service.</p>
									<a href="/testimonials" class="learn_btn_two text-white">Read
										More <i class="ti-arrow-right"></i>
									</a>
									<div class="shap_one"></div>
									<div class="shap_two"></div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="text-center">
					<a href="/testimonials" class="btn_six text-center slider_btn yello_btn mt-5">Know
						More</a>
				</div>
			</div>
		</section>

	</div>