  <!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="_LivePagelayout">
<head>
<body id="page-top">

	<!-- Content Wrapper -->
	<div layout:fragment="contentPlus">
  <section class="top_avanse_banner_area abroad_top_bg">
            
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="h_avaneses_content">
                            <h2 class="wow fadeInLeft">Thank you for submitting the details</h2>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="h_avanse_img">
                            <img src="/viewPagesAssets/img/study-abroad-banner.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    </div>
    <footer class="footer_area f_bg">
        <div class="footer_cta fcta_bg">
           <div class="container">
                <div class="row">
                    <div class="col-lg-3 text-lg-left text-sm-center">
                        <img src="/viewPagesAssets/img/logo.png">
                    </div>
                    <div class="col-lg-6 text-lg-center text-sm-center">
                            <h2 class="">Enroll to transform your Lives</h2>
                            <p class="f_size_22"> Get a hassle free education loan is 3 days</p>
                    </div>
                    <div class="col-lg-3 text-lg-right text-sm-center">
                        <a href="" class="btn_yellow ">Apply Now</a>
                    </div>
                </div>
           </div>
        </div>
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget about-widget  wow fadeInLeft" data-wow-delay="0.4s"
                            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_500 text-white f_size_18 mb_40">Education Loan </h3>
                            <ul class="list-unstyled f_list">
                                <li><a href="#">Avanse Education Loans</a></li>
                                <li><a href="#">Study in India Education Loan</a></li>
                                <li><a href="#">Study Abroad Education Loan</a></li>
                                <li><a href="#">Executive Education Loan</a></li>
                                <li><a href="#">Student Loan Refinancing</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget about-widget  wow fadeInLeft" data-wow-delay="0.4s"
                            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_500 text-white f_size_18 mb_40">Calculator</h3>
                            <ul class="list-unstyled f_list">
                                <li><a href="#">Course Expense Calculator</a></li>
                                <li><a href="#">Eligibility Calculator</a></li>
                                <li><a href="#">Eligibility Calculator</a></li>
                                <li><a href="#">Education Loan Repayment Calculator</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget about-widget  wow fadeInLeft" data-wow-delay="0.6s"
                            style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_500 text-white f_size_18 mb_40">Company</h3>
                            <ul class="list-unstyled f_list">
                                    <li><a href="#">About Avanse</a></li>
                                    <li><a href="#">Career</a></li>
                                    <li><a href="#">Investors</a></li>
                                    <li><a href="#">Media Room</a></li>
                                    <li><a href="#">Responsible Lending</a></li>
                                    <li><a href="#">Sitemap</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget about-widget  wow fadeInLeft" data-wow-delay="0.8s"
                            style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_500 text-white f_size_18 mb_40">Resources </h3>
                            <ul class="list-unstyled f_list">
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Good Credit</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Pay Online</a></li>
                                <li><a href="#">WhatsApp Communication</a></li>
                                <li><a href="#">Ex-gratia FAQs</a></li>
                                <li><a href="#">Sarfaesi Notice</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <p class="mb-2 f_300">Copyright © 2021 Avanse Financial Services Ltd. All Rights Reserved .       <a class="ml-4" href="https://www.digistreetmedia.com/" target="_blank">Site Credits</a></p>
                        <p class="mb-2 f_300">CIN : U67120MH1992PLC068060</p>
                    </div>
                    
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="f_social_icon_two text-right mb-2">
                            <a href="#"><i class="ti-facebook"></i></a>
                            <a href="#"><i class="ti-twitter-alt"></i></a>
                            <a href="#"><i class="ti-linkedin"></i></a>
                            <a href="#"><i class="ti-instagram"></i></a>
                        </div>
                        <p class="mb-2 f_300 text-lg-right">Phone support: 1800-266-0200</p>
                    </div>
                    <div class="col-lg-12">
                        <p>Disclaimer | Base Lending Rate | Privacy Policy | Terms & Conditions | Ombudsman Scheme | Customer Complaints | Moratorium Policy | WhatsApp T&C | Communication Policy | Digital Partners</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/viewPagesAssets/js/jquery-3.6.0.min.js"></script>
    <script src="/viewPagesAssets/js/propper.js"></script>
    <script src="/viewPagesAssets/js/bootstrap.min.js"></script>
    <script src="/viewPagesAssets/vendors/wow/wow.min.js"></script>
    <script src="/viewPagesAssets/vendors/sckroller/jquery.parallax-scroll.js"></script>
    <script src="/viewPagesAssets/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/viewPagesAssets/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="/viewPagesAssetsvendors/isotope/isotope-min.js"></script>
    <script src="/viewPagesAssets/vendors/magnify-pop/jquery.magnific-popup.min.js"></script>
    <script src="/viewPagesAssets/vendors/counterup/jquery.counterup.min.js"></script>
    <script src="/viewPagesAssets/vendors/counterup/jquery.waypoints.min.js"></script>
    <script src="/viewPagesAssets/vendors/counterup/appear.js"></script>
    <script src="/viewPagesAssets/vendors/circle-progress/circle-progress.js"></script>
    <script src="/viewPagesAssets/vendors/scroll/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/viewPagesAssets/js/plugins.js"></script>
    <script src="/viewPagesAssets/js/main.js"></script>
</body>
</html>