<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="_LivePagelayout">
<head>
<title>Education Loan Process</title>
  <meta name="description"  content="   " />
  <meta name="keywords"  content="   " />
<script type="text/javascript" src="/viewPagesAssets/js/customGlobalHeader/globalHeader.js"></script><style>
</style>
<body id="page-top">

	<!-- Content Wrapper -->
	<div layout:fragment="contentPlus">
 <section class=" pt-3 pb-3" style="background: #02afb3">
           
            <div class="container">
                <div class="breadcrumb_content text-center">
                    <h1 class="f_p f_500 f_size_40 w_color l_height50 mb_20">Education Loan Process</h1>
                    <p class="f_400 w_color f_size_21 l_height28">Our application process is as smooth as butter. It's fast, transparent and hassle-free, covering all your expenses right from entrance exam fees to your books!

                    </p>
                </div>
            </div>
        </section>
      

        <section class="bg_grey_light sec_pad pt-5">
            <div class="container">
               
                <div class="row">
                    <div class="col-lg-12">
                        <img class="img-fluid" src="/viewPagesAssets/img/loan-process.png">
                    </div>
                   
                    
                </div>
                
            </div>
        </section>
       
    
    <!-- Optional JavaScript -->

 	</body> 
