<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="_LivePagelayout">
<head>
<title></title>
  <meta name="description"  content="   " />
  <meta name="keywords"  content="   " />
<script type="text/javascript" src="/viewPagesAssets/js/customGlobalHeader/globalHeader.js"></script><style>
</style>
<body id="page-top">

	<!-- Content Wrapper -->
	<div layout:fragment="contentPlus">
  <section class="top_avanse_banner_area abroad_top_bg">
            
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="h_avaneses_content">
                            <h2 class="wow fadeInLeft" data-wow-delay="0.4s"> sdfsdf</h2>
                            <h3 class="wow fadeInLeft" data-wow-delay="0.6s"> sdffsd</h3>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="h_avanse_img">
                            <img src="/viewPagesAssets/img/userAddedBannerImages/null" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section><p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.

Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Curabitur aliquet quam id dui posuere blandit. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Donec rutrum congue leo eget malesuada. Proin eget tortor risus.

Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Proin eget tortor risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.

Donec rutrum congue leo eget malesuada. Curabitur aliquet quam id dui posuere blandit. Curabitur aliquet quam id dui posuere blandit. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.<br></p>
 	</body> 
 	</html> 
    <!-- Optional JavaScript -->
<script> let x=23; </script>
