 <!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="_LivePagelayout">
<head>
<title>kljjhlkh</title>
  <meta name="description"  content=" truytru  " />
  <meta name="keywords"  content=" kjlk;j  " />
<script type="text/javascript" src="/viewPagesAssets/js/customGlobalHeader/globalHeader.js"></script><style>
css test.banner_bg_top{
				  background: url('/viewPagesAssets/img/userAddedBannerImages/2021-06-29.png'); max-width:100%; height:auto; 
				}
</style>
</head>
<body id="page-top">

	<!-- Content Wrapper -->
	<div layout:fragment="contentPlus"><section class="top_avanse_banner_area banner_bg_top ">
            
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="h_avaneses_content">
                            <h2 class="wow fadeInLeft" data-wow-delay="0.4s"><span>nnini</span></h2>
                            <h2 class="wow fadeInLeft" data-wow-delay="0.6s">okokok</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section><p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Pellentesque in ipsum id orci porta dapibus. Vivamus suscipit tortor eget felis porttitor volutpat. Proin eget tortor risus. Pellentesque in ipsum id orci porta dapibus.<br></p>
    <!-- Optional JavaScript -->
js test 	</body> 