<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="_LivePagelayout">
<head>
<title></title>
  <meta name="description"  content="   " />
  <meta name="keywords"  content="   " />
<script type="text/javascript" src="/viewPagesAssets/js/customGlobalHeader/globalHeader.js"></script><style>
</style>
<body id="page-top">

	<!-- Content Wrapper -->
	<div layout:fragment="contentPlus">
<p>Whatever you study has to be done thoroughly</p>
    <!-- Optional JavaScript -->

 	</body> 
