<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="_LivePagelayout">
<head>
<title></title>
  <meta name="description"  content="   " />
  <meta name="keywords"  content="   " />
<script type="text/javascript" src="/viewPagesAssets/js/customGlobalHeader/globalHeader.js"></script><style>
</style>
<body id="page-top">

	<!-- Content Wrapper -->
	<div layout:fragment="contentPlus">
  <section class="top_avanse_banner_area abroad_top_bg">
            
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="h_avaneses_content">
                            <h2 class="wow fadeInLeft" data-wow-delay="0.4s"> zxcZcd</h2>
                            <h3 class="wow fadeInLeft" data-wow-delay="0.6s"> adfasdf</h3>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="h_avanse_img">
                            <img src="/viewPagesAssets/img/userAddedBannerImages/2021-06-29.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section><p>zcvxcbxb</p>
    <!-- Optional JavaScript -->

 	</body> 
