<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="_layout">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Awards Add</title>

<!-- Custom fonts for this template-->
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">
<link href="/vendor/summernote/summernote/summernote-bs4.min.css"
	rel="stylesheet">


</head>

<body id="page-top">
	<!-- Page Wrapper -->

	<div id="wrapper">

		<div layout:fragment="content">


			<!-- Begin Page Content -->
			<div class="container-fluid">

				<!-- Page Heading -->
				<div
					class="d-sm-flex align-items-center justify-content-between mb-4">
					<h1 class="h3 mb-0 text-gray-800">Awards Management</h1>
					
						<h6 class="m-0 font-weight-bold text-primary">
							<a href="javascript:history.back()"
								class="btn btn-info btn-icon-split btn-sm float-right mr-3">
								<span class="icon text-white-50"> <i
									class="fas fa-arrow-left"></i>
							</span> <span class="text">Back</span>
							</a>
						</h6>
					
					
				</div>
				
				
					
				

				<!-- Content Row -->
				<div class="row">
					<div class="container-fluid">

						<form th:action="@{/admin/awards/add}" method="post"
							th:object="${awardDTO}" enctype="multipart/form-data">
							<div class="row">
								<div class="col-sm-5">
									<input type="hidden" name="id" th:field="*{id}">
									<div class="form-group">
										<label for="name">Name</label> <input type="text"
											class="form-control" required th:field="*{title}" name="name"
											id="message" placeholder="Enter Title">
									</div>
									
									<div class="form-group">
										<label for="name">Message</label> <input type="text"
											class="form-control" required th:field="*{description}" name="description"
											id="message" placeholder="Enter description (80 characters Max)" maxlength=80 data-max-length=80>
									</div>
									
									<button type="submit" class="btn btn-primary" onClick = "onSubmit()">Submit</button>
								</div>
								
							</div>
						</form>
					</div>
				</div>
				
				<script type="text/javascript">
				function onSubmit() {
					if(document.getElementById('mainForm').checkValidity()) {
						document.getElementById('modalButtonForSpinner').click();
						setTimeout(() => {
							document.getElementById('mainForm').submit();
							},15000);
					}
				}
				
				</script>

				<!-- Content Row -->



		
			<!-- End of Content Wrapper -->

		</div>
		<!-- End of Page Wrapper -->

		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top"> <i
			class="fas fa-angle-up"></i>
		</a>

		
	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>

	<!-- Page level plugins -->
	<script src="/vendor/chart.js/Chart.min.js"></script>

	<!-- Page level custom scripts -->
	<script src="/js/demo/chart-area-demo.js"></script>
	<script src="/js/demo/chart-pie-demo.js"></script>

	</script>

	
</body>

</html>