<div class="row mb-5 mt-5">
                    <div class="col-lg-12">
                        <h4 class="border-bottom ">Fees</h4>
                        <table width="100%" class="table table-bordered mt-5">
                            <thead>
                                <tr>
                                    <th width="40%">Courses</th>
                                    <th width="30%">Duration</th>
                                    <th width="30%">1st Year Tuition Fees</th>
                                </tr>
                            </thead>
                            <tbody>
                                 <tr>
                                                <td width="40%"><span>MS</span><small> (1 Course)</small></td>
                                                <td width="30%">2 years</td>
                                                <td width="30%">INR 7 lakhs</td>
                                            </tr>
                                                                                <tr>
                                                <td width="40%"><span>BBA</span><small> (1 Course)</small></td>
                                                <td width="30%">4 years</td>
                                                <td width="30%">INR 10 lakhs </td>
                                            </tr>
                                                                                <tr>
                                                <td width="40%"><span>BE/Btech</span><small> (1 Course)</small></td>
                                                <td width="30%">4 years</td>
                                                <td width="30%">INR 10 lakhs </td>
                                            </tr>
                                                                                <tr>
                                                <td width="40%"><span>Other Courses</span><small> (1 Course)</small></td>
                                                <td width="30%">2 years</td>
                                                <td width="30%">INR 10.1 lakhs</td>
                                            </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
					<div class="row mb-5">
						<div class="col-lg-12">
							<h4 class="border-bottom ">Entry Criteria</h4>
							
							
											<table width="100%" class="table table-bordered table-strip mt-5">
												<thead>
													<tr>
														<th>Courses</th>
														<th>Exams</th>
					
														<th>&nbsp;</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td><strong>MS</strong>(1 Course)</td>
					
														<td><strong>TOEFL </strong> : 93</td>
														<td><strong> IELTS </strong> : 6.5</td>
													</tr>
					
													<tr>
														<td><strong>BBA</strong>(1 Course)</td>
					
														<td><strong>TOEFL </strong> : 90</td>
														<td><strong> IELTS </strong> : 6.5</td>
													</tr>
					
													<tr>
														<td><strong>BE/Btech</strong>(1 Course)</td>
					
														<td><strong>TOEFL </strong> : 90</td>
														<td><strong> IELTS </strong> : 6.5</td>
													</tr>
					
													<tr>
														<td><strong>Other Courses</strong>(1 Course)</td>
					
														<td><strong>TOEFL </strong> : 93</td>
														<td><strong> IELTS </strong> : 6.5</td>
					
													</tr>
												</tbody>
											</table>
	
							</div>
						</div>
					</div>