<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="_layout">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Course Add</title>

<!-- Custom fonts for this template-->
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">
<link href="/vendor/summernote/summernote/summernote-bs4.min.css"
	rel="stylesheet">


</head>

<body id="page-top">
	<!-- Page Wrapper -->
	<div id="wrapper">

		<div layout:fragment="content">

			<!-- Begin Page Content -->
			<div class="container-fluid">
				<h6 class="m-0 font-weight-bold text-primary">
					<a href="javascript:history.back()"
						class="btn btn-info btn-icon-split btn-sm float-right mr-3"> <span
						class="icon text-white-50"> <i class="fas fa-arrow-left"></i>
					</span> <span class="text">Back</span>
					</a>
				</h6>
				<div class="container">
					<h3>Add a new course</h3>

					<form th:action="@{/admin/courses/add}" method="post"
						th:object="${courseDTO}" enctype="multipart/form-data">
						<div class="row">
							<div class="col-sm-6">

								<input type="hidden" name="id" th:field="*{id}">
								<div class="form-group">
									<label for="name">Title</label> <input type="text"
										class="form-control" required th:field="*{title}" name="title"
										id="title" placeholder="Enter course title">
								</div>

								<div class="form-group">
									<label for="duration">Duration</label> <select
										class="form-control" required th:field="*{duration}"
										name="duration" id="duration"
										placeholder="Enter course duration">

										<option value="">Select Duration</option>
										<option value="1 Year">1 Year</option>
										<option value="2 Years">2 Years</option>
										<option value="3 Years">3 Years</option>
										<option value="4 Years">4 Years</option>
										<option value="5 Years">5 Years</option>

									</select>

								</div>

								<!-- <div class="form-group">
                    <label for="category">Select Course</label>
                    <select class="form-control" th:field="*{categoryId}" id="category" name="category">
                        <option th:each="category :${categories}"
                                th:value="${category.id}"
                                th:text="${category.name}"
                        >
                    </select>
                </div> -->

								<style>
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
</style>
								<div class="form-group">
									<label for="fees">Course Fee</label>
									<div class="row">
										<div class="col-1 text-right" style="top: 5px; left: 14px;">
											<h3>&#8377;</h3>
										</div>
										<div class="col-11">
											<input type="number" class="form-control" required
												th:field="*{fees}" name="fees" id="fees"
												placeholder="Course Fee">
										</div>
									</div>
								</div>

								<div class="form-group">
									<label for="description">Course Description</label>
									<textarea class="form-control" rows="5"
										th:field="*{description}" name="description" id="description"></textarea>
								</div>

								<div class="form-group">
									<label>Course Type </label> </br>
									<div class="row">
										<div th:if="${updateCourseCheck=='true'}">
											<div class="col">
												<span
													th:if="${#lists.contains(currentCourseTypes,'Masters')}">
													<input type="checkbox" name="typeCheckBox" value="Masters"
													checked> <label for="Masters"> Masters</label><br>
												</span> <span
													th:if="${!(#lists.contains(currentCourseTypes,'Masters'))}">
													<input type="checkbox" name="typeCheckBox" value="Masters">
													<label for="Masters"> Masters</label><br>
												</span> <span
													th:if="${#lists.contains(currentCourseTypes,'Bachelors')}">
													<input type="checkbox" name="typeCheckBox"
													value="Bachelors" checked> <label for="Bachelors">
														Bachelors</label><br>
												</span> <span
													th:if="${!(#lists.contains(currentCourseTypes,'Bachelors'))}">
													<input type="checkbox" name="typeCheckBox"
													value="Bachelors"> <label for="Bachelors">
														Bachelors</label><br>
												</span> <span
													th:if="${#lists.contains(currentCourseTypes,'B.tech')}">
													<input type="checkbox" name="typeCheckBox" value="B.tech"
													checked> <label for="B.tech"> B.tech</label><br>
												</span> <span
													th:if="${!(#lists.contains(currentCourseTypes,'B.tech'))}">
													<input type="checkbox" name="typeCheckBox" value="B.tech">
													<label for="B.tech"> B.tech</label><br>
												</span> <span th:if="${#lists.contains(currentCourseTypes,'MS')}">
													<input type="checkbox" name="typeCheckBox" value="MS"
													checked> <label for="MS"> MS</label><br>
												</span> <span
													th:if="${!(#lists.contains(currentCourseTypes,'MS'))}">
													<input type="checkbox" name="typeCheckBox" value="MS">
													<label for="MS"> MS</label><br>
												</span>

											</div>
											<div class="col">
												<span
													th:if="${#lists.contains(currentCourseTypes,'Computers')}">
													<input type="checkbox" name="typeCheckBox"
													value="Computers" checked> <label for="Computers">
														Computers</label><br>
												</span> <span
													th:if="${!(#lists.contains(currentCourseTypes,'Computers'))}">
													<input type="checkbox" name="typeCheckBox"
													value="Computers"> <label for="Computers">
														Computers</label><br>
												</span> <span th:if="${#lists.contains(currentCourseTypes,'BBA')}">
													<input type="checkbox" name="typeCheckBox" value="BBA"
													checked> <label for="BBA"> BBA</label><br>
												</span> <span
													th:if="${!(#lists.contains(currentCourseTypes,'BBA'))}">
													<input type="checkbox" name="typeCheckBox" value="BBA">
													<label for="BBA"> BBA</label><br>
												</span>
											</div>

										</div>
										<div th:if="${updateCourseCheck!='true'}">
											<div class="col">

												<input type="checkbox" name="typeCheckBox" value="Masters">
												<label for="Masters"> Masters</label><br> <input
													type="checkbox" name="typeCheckBox" value="Bachelors">
												<label for="Bachelors"> Bachelors</label><br> <input
													type="checkbox" name="typeCheckBox" value="B.tech">
												<label for=" B.tech"> B.tech</label><br> <input
													type="checkbox" name="typeCheckBox" value="MS"> <label
													for="MS"> MS</label><br>
											</div>
											<div class="col">
												<input type="checkbox" name="typeCheckBox" value="Computers">
												<label for="Computers"> Computers</label><br> <input
													type="checkbox" name="typeCheckBox" value="BBA"> <label
													for="BBA"> BBA</label><br>
											</div>
										</div>
									</div>

								</div>

							</div>


							<div class="col-sm-6">


								<div th:if="${updateCourseCheck=='true'}">
									<div class="form-group">
										<label for="university">University:</label> <select
											class="form-control" name="university_id">
											<option value="">--</option>
											<option th:each="university : ${universities}"
												th:value="${university.id}" th:utext="${university.name}"
												th:selected="${#lists.contains(universities,courseDTO.university)}" />
										</select>
									</div>
								</div>


								<div th:if="${updateCourseCheck!='true'}">
									<div class="form-group">
										<label for="university">University:</label> <select
											class="form-control" name="university_id">
											<option value="">--</option>
											<option th:each="university : ${universities}"
												th:value="${university.id}" th:utext="${university.name}" />
										</select>
									</div>

								</div>


								<div th:if="${updateCourseCheck=='true'}">
									<div class="form-group">
										<label for="documentsRequired">Documents Required</label>
										<div class="row">
											<div class="col">






												<span
													th:if="${#strings.contains(courseDTO.documentsRequired,'Passport')}">

													<input type="checkbox" name="documentsRequired"
													value="Passport" checked><label>Passport </label><br>
												</span> <span
													th:if="${!#strings.contains(courseDTO.documentsRequired,'Passport')}">

													<input type="checkbox" name="documentsRequired"
													value="Passport"><label>Passport </label><br>
												</span> <span
													th:if="${#strings.contains(courseDTO.documentsRequired,'Residence Proof')}">

													<input type="checkbox" name="documentsRequired"
													value="Residence Proof" checked><label>Residence
														Proof </label><br>
												</span> <span
													th:if="${!#strings.contains(courseDTO.documentsRequired,'Residence Proof')}">

													<input type="checkbox" name="documentsRequired"
													value="Residence Proof"><label>Residence
														Proof </label><br>
												</span> <span
													th:if="${#strings.contains(courseDTO.documentsRequired,'Date Of Birth Proof')}">

													<input type="checkbox" name="documentsRequired"
													value="Date Of Birth Proof" checked><label>Date
														Of Birth Proof </label><br>
												</span> <span
													th:if="${!#strings.contains(courseDTO.documentsRequired,'Date Of Birth Proof')}">

													<input type="checkbox" name="documentsRequired"
													value="Date Of Birth Proof"><label>Date Of
														Birth Proof</label><br>
												</span>


											</div>


											<div class="col">



												<span
													th:if="${#strings.contains(courseDTO.documentsRequired,'SOP')}">

													<input type="checkbox" name="documentsRequired" value="SOP"
													checked><label>SOP </label><br>
												</span> <span
													th:if="${!#strings.contains(courseDTO.documentsRequired,'SOP')}">

													<input type="checkbox" name="documentsRequired" value="SOP"><label>SOP</label><br>
												</span> <span
													th:if="${#strings.contains(courseDTO.documentsRequired,'LOR')}">

													<input type="checkbox" name="documentsRequired" value="LOR"
													checked><label>LOR </label><br>
												</span> <span
													th:if="${!#strings.contains(courseDTO.documentsRequired,'LOR')}">

													<input type="checkbox" name="documentsRequired" value="LOR"><label>LOR</label><br>
												</span> <span
													th:if="${#strings.contains(courseDTO.documentsRequired,'Entrance Exam Ceritificate')}">

													<input type="checkbox" name="documentsRequired"
													value="Entrance Exam Ceritificate" checked><label>Entrance
														Exam Ceritificate </label><br>
												</span> <span
													th:if="${!#strings.contains(courseDTO.documentsRequired,'Entrance Exam Ceritificate')}">

													<input type="checkbox" name="documentsRequired"
													value="Entrance Exam Ceritificate"><label>Entrance
														Exam Ceritificate</label><br>
												</span>


											</div>

										</div>


									</div>
								</div>

								<div th:if="${updateCourseCheck!='true'}">
									<div class="form-group">
										<label for="documentsRequired">Documents Required</label>
										<div class="row">
											<div class="col">

												<input type="checkbox" id="passport"
													name="documentsRequired" value="Passport"><label
													for="passport">Passport </label><br> <input
													type="checkbox" name="documentsRequired"
													value="Residence Proof"> <label>Residence
													Proof </label><br> <input type="checkbox"
													name="documentsRequired" value="Date Of Birth Proof">
												<label>Date Of Birth Proof </label><br>
											</div>


											<div class="col">
												<input type="checkbox" name="documentsRequired" value="SOP">
												<label>SOP </label><br> <input type="checkbox"
													name="documentsRequired" value="LOR"> <label>LOR
												</label><br> <input type="checkbox" name="documentsRequired"
													value="Entrance Exam Ceritificate"> <label>Entrance
													Exam Ceritificate </label><br>

											</div>
										</div>
									</div>
								</div>




























								<div th:if="${updateCourseCheck=='true'}">
									<div class="form-group">
										<label for="academicDocumentsRequired">Academic
											Documents Required</label>

										<div class="row">
											<div class="col">


												<span
													th:if="${#strings.contains(courseDTO.academicDocumentsRequired,'Marksheet')}">
													<input type="checkbox" id="marksheet"
													name="academicDocumentsRequired" value="Marksheet" checked>
													<label for="marksheet">Marksheet </label><br>
												</span> <span
													th:if="${!#strings.contains(courseDTO.academicDocumentsRequired,'Marksheet')}">
													<input type="checkbox" id="marksheet"
													name="academicDocumentsRequired" value="Marksheet">
													<label for="marksheet">Marksheet </label><br>
												</span> <span
													th:if="${#strings.contains(courseDTO.academicDocumentsRequired,'Provisional Certificate')}">
													<input type="checkbox" id="provisionalCertificate"
													name="academicDocumentsRequired"
													value="Provisional Certificate" checked> <label
													for="provisionalCertificate">Provisional
														Certificate </label><br>
												</span> <span
													th:if="${!#strings.contains(courseDTO.academicDocumentsRequired,'Provisional Certificate')}">
													<input type="checkbox" id="provisionalCertificate"
													name="academicDocumentsRequired"
													value="Provisional Certificate"> <label
													for="provisionalCertificate">Provisional
														Certificate </label><br>


												</span> <span
													th:if="${#strings.contains(courseDTO.academicDocumentsRequired,'Character Certificate')}">
													<input type="checkbox" id="characterCertificate"
													name="academicDocumentsRequired"
													value="Character Certificate" checked> <label
													for="characterCertificate">Character Certificate </label><br>
												</span> <span
													th:if="${!#strings.contains(courseDTO.academicDocumentsRequired,'Character Certificate')}">
													<input type="checkbox" id="characterCertificate"
													name="academicDocumentsRequired"
													value="Character Certificate"> <label
													for="characterCertificate">Character Certificate </label><br>
												</span>

											</div>


											<div class="col">


												<span
													th:if="${#strings.contains(courseDTO.academicDocumentsRequired,'Migration Certificate')}">
													<input type="checkbox" id="migrationCertificate"
													name="academicDocumentsRequired"
													value="Migration Certificate" checked> <label
													for="migrationCertificate">Migration Certificate </label><br>
												</span> <span
													th:if="${!#strings.contains(courseDTO.academicDocumentsRequired,'Migration Certificate')}">
													<input type="checkbox" id="migrationCertificate"
													name="academicDocumentsRequired"
													value="Migration Certificate"> <label
													for="migrationCertificate">Migration Certificate </label><br>
												</span> <span
													th:if="${#strings.contains(courseDTO.academicDocumentsRequired,'Degree')}">
													<input type="checkbox" id="degree"
													name="academicDocumentsRequired" value="Degree" checked>
													<label for="degree">Degree</label><br>
												</span> <span
													th:if="${!#strings.contains(courseDTO.academicDocumentsRequired,'Degree')}">
													<input type="checkbox" id="degree"
													name="academicDocumentsRequired" value="Degree"> <label
													for="degree">Degree </label><br>
												</span>





											</div>
										</div>
									</div>
								</div>
								<div th:if="${updateCourseCheck!='true'}">
									<div class="form-group">
										<label for="academicDocumentsRequired">Academic
											Documents Required</label>

										<div class="row">
											<div class="col">



												<input type="checkbox" id="marksheet"
													name="academicDocumentsRequired" value="Marksheet">
												<label for="marksheet">Marksheet </label><br> <input
													type="checkbox" name="academicDocumentsRequired"
													value="Provisional Certificate"><label>Provisional
													Certificate </label><br> <input type="checkbox"
													name="academicDocumentsRequired"
													value="Character Certificate"><label>Character
													Certificate </label><br>
											</div>
											<div class="col">
												<input type="checkbox" name="academicDocumentsRequired"
													value="Migration Certificate"> <label>Migration
													Certificate </label><br> <input type="checkbox"
													name="academicDocumentsRequired" value="Degree"> <label>Degree
												</label><br>
											</div>
										</div>
									</div>
								</div>









								<div th:if="${updateCourseCheck=='true'}">
									<div class="container">
										<label for="examsEligibility">Exam Elibility Multiple
											Required</label> </br>
										<div class="row">
											<div class="col">
												<span
													th:if="${#strings.contains(courseDTO.examsEligibility,'IELTS')}">

													<input type="checkbox" id="ielts" name="examCheckBox"
													value="IELTS" checked> <label for="ielts">
														IELTS</label><br>

												</span> <span
													th:if="${!#strings.contains(courseDTO.examsEligibility,'IELTS')}">

													<input type="checkbox" id="ielts" name="examCheckBox"
													value="IELTS"> <label for="ielts"> IELTS</label><br>

												</span> <span
													th:if="${#strings.contains(courseDTO.examsEligibility,'TOEFL')}">

													<input type="checkbox" id="toefl" name="examCheckBox"
													value="TOEFL" checked> <label for="toefl">
														TOEFL</label><br>

												</span> <span
													th:if="${!#strings.contains(courseDTO.examsEligibility,'TOEFL')}">

													<input type="checkbox" id="toefl" name="examCheckBox"
													value="TOEFL"> <label for="toefl"> TOEFL</label><br>

												</span> <span
													th:if="${#strings.contains(courseDTO.examsEligibility,'GMAT')}">

													<input type="checkbox" id="gmat" name="examCheckBox"
													value="GMAT" checked> <label for="gmat">
														GMAT</label><br>

												</span> <span
													th:if="${!#strings.contains(courseDTO.examsEligibility,'GMAT')}">

													<input type="checkbox" id="gmat" name="examCheckBox"
													value="GMAT"> <label for="gmat"> GMAT</label><br>

												</span> <span
													th:if="${#strings.contains(courseDTO.examsEligibility,'GRE')}">

													<input type="checkbox" id="gre" name="examCheckBox"
													value="GRE" checked> <label for="gre"> GRE</label><br>

												</span> <span
													th:if="${!#strings.contains(courseDTO.examsEligibility,'GRE')}">

													<input type="checkbox" id="gre" name="examCheckBox"
													value="GRE"> <label for="gre"> GRE</label><br>

												</span>


											</div>
											<div class="col">

												<span
													th:if="${#strings.contains(courseDTO.examsEligibility,'SAT')}">

													<input type="checkbox" id="sat" name="examCheckBox"
													value="SAT" checked> <label for="sat"> SAT</label><br>

												</span> <span
													th:if="${!#strings.contains(courseDTO.examsEligibility,'SAT')}">

													<input type="checkbox" id="sat" name="examCheckBox"
													value="SAT"> <label for="sat"> SAT</label><br>

												</span> <span
													th:if="${#strings.contains(courseDTO.examsEligibility,'MCAT')}">

													<input type="checkbox" id="mcat" name="examCheckBox"
													value="MCAT" checked> <label for="mcat">
														MCAT</label><br>

												</span> <span
													th:if="${!#strings.contains(courseDTO.examsEligibility,'MCAT')}">

													<input type="checkbox" id="mcat" name="examCheckBox"
													value="MCAT"> <label for="mcat"> MCAT</label><br>

												</span> <span
													th:if="${#strings.contains(courseDTO.examsEligibility,'LSAT')}">

													<input type="checkbox" id="lsat" name="examCheckBox"
													value="LSAT" checked> <label for="lsat">
														LSAT</label><br>

												</span> <span
													th:if="${!#strings.contains(courseDTO.examsEligibility,'LSAT')}">

													<input type="checkbox" id="lsat" name="examCheckBox"
													value="LSAT"> <label for="lsat"> LSAT</label><br>

												</span>


											</div>
										</div>

									</div>
								</div>










								<div th:if="${updateCourseCheck!='true'}">
									<div class="container">
										<label for="examsEligibility">Exam Elibility Multiple
											Required</label> </br>
										<div class="row">
											<div class="col">

												<input type="checkbox" name="examCheckBox" value="IELTS">
												<label for="IELTS"> IELTS</label><br> <input
													type="checkbox" name="examCheckBox" value="TOEFL">
												<label for="TOEFL"> TOEFL</label><br> <input
													type="checkbox" name="examCheckBox" value="GMAT"> <label
													for="GMAT"> GMAT</label><br> <input type="checkbox"
													name="examCheckBox" value="GRE"> <label for="GRE">
													GRE</label><br>
											</div>
											<div class="col">
												<input type="checkbox" name="examCheckBox" value="SAT">
												<label for="SAT"> SAT</label><br> <input
													type="checkbox" name="examCheckBox" value="MCAT"> <label
													for="MCAT"> MCAT</label><br> <input type="checkbox"
													name="examCheckBox" value="LSAT"> <label for="LSAT">
													LSAT</label><br>
											</div>
										</div>

									</div>
								</div>







								<div class="form-group">
									​
									<div class="col-lg-12">
										<label class="col-lg-12 control-label">Static Content</label>
										<textarea class="form-control summernote" id="summernote"
											name="staticContent" th:field="*{staticContent}"></textarea>
										​
									</div>
									<button type="submit" class="btn btn-primary">Submit</button>

								</div>
							</div>
					</form>
				</div>
			</div>

			<!-- Content Row -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->


</body>

</html>