<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="_layout">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Course Add</title>

<!-- Custom fonts for this template-->
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">
<link href="/vendor/summernote/summernote/summernote-bs4.min.css"
	rel="stylesheet">


</head>

<body id="page-top">
	<!-- Page Wrapper -->
	<div id="wrapper">

		<div layout:fragment="content">

			<!-- Begin Page Content -->
			<div class="container-fluid">
				<h6 class="m-0 font-weight-bold text-primary">
					<a href="javascript:history.back()"
						class="btn btn-info btn-icon-split btn-sm float-right mr-3"> <span
						class="icon text-white-50"> <i class="fas fa-arrow-left"></i>
					</span> <span class="text">Back</span>
					</a>
				</h6>
				<div class="container">
					<h3>Add a new course</h3>

					<form th:action="@{/admin/courses/add}" method="post"
						th:object="${courseDTO}" enctype="multipart/form-data">
						<div class="row">
							<div class="col-sm-5">

								<input type="hidden" name="id" th:field="*{id}">
								<div class="form-group">
									<label for="name">Title</label> <input type="text"
										class="form-control" required th:field="*{title}" name="title"
										id="title" placeholder="Enter course title">
								</div>

								<div class="form-group">
									<label for="duration">Duration</label> <select
										class="form-control" required th:field="*{duration}"
										name="duration" id="duration"
										placeholder="Enter course duration">

										<option value="">Select Duration</option>
										<option value="1 Year">1 Year</option>
										<option value="2 Years">2 Years</option>
										<option value="3 Years">3 Years</option>
										<option value="4 Years">4 Years</option>
										<option value="5 Years">5 Years</option>

									</select>

								</div>

								<!-- <div class="form-group">
                    <label for="category">Select Course</label>
                    <select class="form-control" th:field="*{categoryId}" id="category" name="category">
                        <option th:each="category :${categories}"
                                th:value="${category.id}"
                                th:text="${category.name}"
                        >
                    </select>
                </div> -->

								<style>
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
</style>
								<div class="form-group">
									<label for="fees">Course Fee</label>
									<div class="row">
										<div class="col-1 text-right" style="top: 5px; left: 14px;">
											<h3>&#8377;</h3>
										</div>
										<div class="col-11">
											<input type="number" class="form-control" required
												th:field="*{fees}" name="fees" id="fees"
												placeholder="Course Fee">
										</div>
									</div>
								</div>


								<div class="form-group">
									<label for="description">Course Description</label>
									<textarea class="form-control" rows="5"
										th:field="*{description}" name="description" id="description"></textarea>
								</div>

								<div class="form-group">
									<label for="documentsRequired">Course Type </label> </br>
									<div class="row">
										<div th:if="${updateCourseCheck=='true'}">
											<div class="col">

												<span
													th:if="${#lists.contains(currentCourseTypes,'Masters')}">
													<input type="checkbox" name="typeCheckBox" value="Masters"
													checked> <label for="Masters"> Masters</label><br>
												</span> <span
													th:if="${!(#lists.contains(currentCourseTypes,'Masters'))}">
													<input type="checkbox" name="typeCheckBox" value="Masters">
													<label for="Masters"> Masters</label><br>
												</span> <span
													th:if="${#lists.contains(currentCourseTypes,'Bachelors')}">
													<input type="checkbox" name="typeCheckBox"
													value="Bachelors" checked> <label for="Bachelors">
														Bachelors</label><br>
												</span> <span
													th:if="${!(#lists.contains(currentCourseTypes,'Bachelors'))}">
													<input type="checkbox" name="typeCheckBox"
													value="Bachelors"> <label for="Bachelors">
														Bachelors</label><br>
												</span> <span
													th:if="${#lists.contains(currentCourseTypes,'B.tech')}">
													<input type="checkbox" name="typeCheckBox" value="B.tech"
													checked> <label for="B.tech"> B.tech</label><br>
												</span> <span
													th:if="${!(#lists.contains(currentCourseTypes,'B.tech'))}">
													<input type="checkbox" name="typeCheckBox" value="B.tech">
													<label for="B.tech"> B.tech</label><br>
												</span> <span th:if="${#lists.contains(currentCourseTypes,'MS')}">
													<input type="checkbox" name="typeCheckBox" value="MS"
													checked> <label for="MS"> MS</label><br>
												</span> <span
													th:if="${!(#lists.contains(currentCourseTypes,'MS'))}">
													<input type="checkbox" name="typeCheckBox" value="MS">
													<label for="MS"> MS</label><br>
												</span>

											</div>
											<div class="col">
												<span
													th:if="${#lists.contains(currentCourseTypes,'Computers')}">
													<input type="checkbox" name="typeCheckBox"
													value="Computers" checked> <label for="Computers">
														Computers</label><br>
												</span> <span
													th:if="${!(#lists.contains(currentCourseTypes,'Computers'))}">
													<input type="checkbox" name="typeCheckBox"
													value="Computers"> <label for="Computers">
														Computers</label><br>
												</span> <span th:if="${#lists.contains(currentCourseTypes,'BBA')}">
													<input type="checkbox" name="typeCheckBox" value="BBA"
													checked> <label for="BBA"> BBA</label><br>
												</span> <span
													th:if="${!(#lists.contains(currentCourseTypes,'BBA'))}">
													<input type="checkbox" name="typeCheckBox" value="BBA">
													<label for="BBA"> BBA</label><br>
												</span>
											</div>

										</div>
										<div th:if="${updateCourseCheck!='true'}">
											<div class="col">

												<input type="checkbox" name="typeCheckBox" value="Masters">
												<label for="Masters"> Masters</label><br> <input
													type="checkbox" name="typeCheckBox" value="Bachelors">
												<label for="Bachelors"> Bachelors</label><br> <input
													type="checkbox" name="typeCheckBox" value="B.tech">
												<label for=" B.tech"> B.tech</label><br> <input
													type="checkbox" name="typeCheckBox" value="MS"> <label
													for="MS"> MS</label><br>
											</div>
											<div class="col">
												<input type="checkbox" name="typeCheckBox" value="Computers">
												<label for="Computers"> Computers</label><br> <input
													type="checkbox" name="typeCheckBox" value="BBA"> <label
													for="BBA"> BBA</label><br>
											</div>
										</div>
									</div>



								</div>

							</div>


							<div class="col-sm-5">


								<div th:if="${updateCourseCheck=='true'}">
									<div class="form-group">
										<label for="university">University:</label> <select
											class="form-control" name="university_id">
											<option value="">--</option>
											<option th:each="university : ${universities}"
												th:value="${university.id}" th:utext="${university.name}"
												th:selected="${#lists.contains(universities,courseDTO.university)}" />
										</select>
									</div>
								</div>


								<div th:if="${updateCourseCheck!='true'}">
									<div class="form-group">
										<label for="university">University:</label> <select
											class="form-control" name="university_id">
											<option value="">--</option>
											<option th:each="university : ${universities}"
												th:value="${university.id}" th:utext="${university.name}" />
										</select>
									</div>

								</div>


								<div class="form-group">

									<label for="documentsRequired">Documents Required</label> <select
										class="form-control" required th:field="*{documentsRequired}"
										name="documentsRequired" id="documentsRequired"
										placeholder="Documents Required">

										<option value="">Select Main Documents Required</option>
										<option value="Passport">Passport</option>
										<option value="Residence Proof">Residence Proof</option>
										<option value="Date of Birth Proof">Date of Birth
											Proof</option>
										<option value="SOP">SOP</option>
										<option value="LOR">LOR</option>
										<option value="Entrance Exam Certificate">Entrance
											Exam Certificate</option>

									</select>


								</div>

								<div class="form-group">

									<label for="documentsRequired">Academic Documents
										Multiple Required</label> <select class="form-control"
										name="academicDocumentsRequired"
										th:field="*{academicDocumentsRequired}" id="academicDocumentsRequired"
										placeholder="Academic Documents Required">

										<option value="">Select Academic Documents Multiple
											Required</option>
										<option value="Passport">Marksheet</option>
										<option value="Residence Proof">Provisional
											Certificate</option>
										<option value="Date of Birth Proof">Character
											Certificate</option>
										<option value="SOP">Migration Certificate</option>
										<option value="LOR">Degree</option>


									</select>

								</div>


								<div class="container">
									<label for="examsEligibility">Exam Elibility Multiple
										Required</label> </br>
									<div class="row">
										<div class="col">

											<input type="checkbox" name="examCheckBox" value="IELTS">
											<label for="IELTS"> IELTS</label><br> <input
												type="checkbox" name="examCheckBox" value="TOEFL"> <label
												for="TOEFL"> TOEFL</label><br> <input type="checkbox"
												name="examCheckBox" value="GMAT"> <label for="GMAT">
												GMAT</label><br> <input type="checkbox" name="examCheckBox"
												value="GRE"> <label for="GRE"> GRE</label><br>
										</div>
										<div class="col">
											<input type="checkbox" name="examCheckBox" value="SAT">
											<label for="SAT"> SAT</label><br> <input type="checkbox"
												name="examCheckBox" value="MCAT"> <label for="MCAT">
												MCAT</label><br> <input type="checkbox" name="examCheckBox"
												value="LSAT"> <label for="LSAT"> LSAT</label><br>
										</div>
									</div>


								</div>

								<div class="form-group">
									​
									<div class="col-lg-12">
										<label class="col-lg-12 control-label">Static Content</label>
										<textarea class="form-control summernote" id="summernote"
											name="staticContent" th:field="*{staticContent}"></textarea>
										​
									</div>
									<button type="submit" class="btn btn-primary">Submit</button>

								</div>
							</div>
					</form>
				</div>
			</div>

			<!-- Content Row -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->


</body>

</html>