<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="_layout">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Courses</title>



</head>

<body id="page-top">
	<!-- Page Wrapper -->

	<div id="wrapper">

		<div layout:fragment="content">

			<!-- Begin Page Content -->
			<div class="container-fluid">

				<!-- Page Heading -->
				<div
					class="d-sm-flex align-items-center justify-content-between mb-4">
					<h1 class="h3 mb-0 text-gray-800">Course Management</h1>
					<h6 class="m-0 font-weight-bold text-primary">
						<a href="javascript:history.back()"
							class="btn btn-info btn-icon-split btn-sm float-right mr-3">
							<span class="icon text-white-50"> <i
								class="fas fa-arrow-left"></i>
						</span> <span class="text">Back</span>
						</a>
					</h6>
				</div>


				<script th:inline="javascript" type="text/javascript">
					/* let contextPath = 'http://localhost:8080'; */

					let contextPath = window.location.origin;
					function toggleCourseStatus(id) {
						console.log('toggling id = ' + id);

						let customSwitch = 'customSwitch' + id;

						console.log(document.getElementById(customSwitch));

						console.log(document.getElementById(customSwitch).checked);

						if (document.getElementById(customSwitch).checked == true
								|| document.getElementById(customSwitch).checked == null) {

							document.getElementById(customSwitch).checked = false;

							/* deactivate in controller */
							console.log('Deactivating..');

							let http = new XMLHttpRequest();
							let url = contextPath + '/' + 'admin/'
									+ 'activateDeactivateCourse' + '/' + id
									+ '/' + 'DeactivateCourse';

							http.open("GET", url, false);
							http.send(null);
							console.log(http.responseText);
							document.getElementById('courseStatus' + id).innerHTML = 'Course Inactive';
						}

						else {

							document.getElementById(customSwitch).checked = true;
							let http = new XMLHttpRequest();
							let url = contextPath + '/' + 'admin/'
									+ 'activateDeactivateCourse' + '/' + id
									+ '/' + 'ActivateCourse';
							console.log('Activating..')
							http.open("GET", url, false);
							http.send(null);
							console.log(http.responseText);
							document.getElementById('courseStatus' + id).innerHTML = 'Course Active';
						}

					}
				</script>





				<!-- Content Row -->
				<div class="row">

					<div class="container-fluid">

						<a th:href="@{/admin/courses/add}" style="margin: 20px 0"
							class="btn btn-primary">Add Course</a>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%"
									cellspacing="0">
									<thead class="thead-light">
										<tr>
											<th scope="col">SN</th>
											<th scope="col">Course Name</th>
											<th scope="col">University</th>
											<th scope="col">Duration</th>
											<th scope="col">Fees</th>

											<th scope="col">Description</th>
											<th scope="col">Documents Required</th>
											
											<!-- 
											<th scope="col">Status</th> -->


											<th scope="col">Update</th>
											<th scope="col">Delete</th>

										</tr>
									</thead>
									<tbody>

										<tr th:each="course, iStat : ${courses}">
											<th scope="row" th:text="${iStat.index + 1}">1</th>
											<td th:text="${course.title}">Engineering</td>
											<td th:text="${course.university.name}">Engineering</td>
											<td th:text="${course.duration}">1 year</td>
											<td th:text="${course.fees}">INR 20,0000</td>

											<td><a href="#" data-toggle="modal"
												th:data-target="'#myModal'+${course.id}">Course
													Description</a> <!-- Modal -->
												<div class="modal fade" th:id="'myModal'+${course.id}"
													role="dialog">
													<div class="modal-dialog modal-xl">

														<!-- Modal content-->
														<div class="modal-content">
															<div class="modal-header">
																<h4 class="modal-title" th:text="${course.title}">Course
																	Title</h4>
																<button type="button" class="close" data-dismiss="modal">&times;</button>

															</div>
															<div class="modal-body">

																<p th:utext="${course.description}">Some text in the
																	modal.</p>
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-default"
																	data-dismiss="modal">Close</button>
															</div>
														</div>

													</div>
												</div></td>











											<td th:text="${course.documentsRequired}">Degree</td>
					
											<!-- 
											<td>
												<div class="custom-control custom-switch"
													th:onclick="'toggleCourseStatus('+${course.id}+')'">
													<input th:inline="text" type="checkbox"
														th:if="${course.isCourseActive==true}" checked
														class="custom-control-input"
														th:id="'customSwitch'+${course.id}"> <input
														type="checkbox" th:if="${course.isCourseActive==false}"
														class="custom-control-input"
														th:id="'customSwitch'+${course.id}"> <label
														class="custom-control-label"
														th:for="'customSwitch'+${course.id}"><span
														th:id="'courseStatus'+${course.id}"
														th:text="${course.isCourseActive==true ?'Course Active':'Course Inactive'}"></span></label>
												</div>
											</td>
											 -->
											
											
											
											<td><a href=""
												th:href="@{/admin/course/update/{id}(id=${course.id})}"
												class="btn btn-warning">Update</a></td>
											


											<td><button type="button" class="btn btn-danger"
													data-toggle="modal"
													th:data-target="'#deleteModal'+${course.id}"
													th:href="@{/admin/course/delete/{id}(id=${course.id})}">
													Delete</button> <!-- Modal -->
												<div class="modal fade"
													th:id="'deleteModal'+${course.id}" tabindex="-1"
													aria-labelledby="deleteModalLabel" aria-hidden="true">
													<div class="modal-dialog">
														<div class="modal-content">
															<div class="modal-header">
																<h5 class="modal-title" id="deleteModalLabel">Delete
																	Course</h5>
																<button type="button" class="close" data-dismiss="modal"
																	aria-label="Close">
																	<span aria-hidden="true">&times;</span>
																</button>
															</div>
															<div class="modal-body">Are you sure you want to
																delete this item?</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-secondary"
																	data-dismiss="modal">Close</button>

																<a class="btn btn-danger" href="#"
																	th:href=@{/admin/course/delete/{id}(id=${course.id})}>Confirm
																	Delete</a>
															</div>
														</div>
													</div>
												</div></td>



										</tr>
									</tbody>
								</table>
							</div>
						</div>

					</div>

				</div>


				<!-- Content Row -->




			</div>
			<!-- End of Content Wrapper -->

		</div>

	</div>


</body>

</html>