<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="_layout">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Jobs Applicants</title>

<!-- Custom fonts for this template-->
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">
<link href="/vendor/summernote/summernote/summernote-bs4.min.css"
	rel="stylesheet">
</head>
<body id="page-top">
	<!-- Page Wrapper -->
	<div id="wrapper">
		<div layout:fragment="content">
			<!-- Begin Page Content -->
			<div class="container-fluid">
				<!-- Page Heading -->
				<div
					class="d-sm-flex align-items-center justify-content-between mb-4">
					<h1 class="h3 mb-0 text-gray-800">Job Management</h1>
				</div>
				<!-- Content Row -->
				<div class="row">
					<div class="container-fluid">
						<a  style="margin: 20px 0"
							class="btn btn-primary">Post Job</a>
						<table class="table">
							<thead class="thead-light">
								<tr>
									<th scope="col">SN</th>
									<th scope="col">First Name</th>
									<th scope="col">Last Name</th>
									<th scope="col">Email</th>
									<th scope="col">Phone</th>
									<th scope="col">Post Applied for</th>
									<th scope="col">Job Location</th>
									<th scope="col">Hiring Person</th>
									<th scope="col">Resume</th>
									<th scope="col">Delete</th>
								</tr>
							</thead>
							<tbody>


								<!-- <tr th:each="job, iStat : ${jobs}">
            <th scope="row" th:text="${iStat.index + 1}">1</th>
            <td th:text="${job.id}">1</td>
            <td><a href="" th:href="@{/admin/job/delete/{id}(id=${job.id})}" class="btn btn-danger">Delete</a></td>
            <td><a href="" th:href="@{/admin/job/update/{id}(id=${job.id})}" class="btn btn-warning">Update</a></td>

        </tr> -->


							</tbody>
						</table>
					</div>
				</div>


				<!-- Content Row -->

			</div>
			<!-- End of Content Wrapper -->

		</div>

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>



</body>

</html>