<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="_layout">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Job Add</title>

<!-- Custom fonts for this template-->
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">
<link href="/vendor/summernote/summernote/summernote-bs4.min.css"
	rel="stylesheet">


</head>

<body id="page-top">
	<!-- Page Wrapper -->
	<div id="wrapper">

		<div layout:fragment="content">

			<h6 class="m-0 font-weight-bold text-primary">
				<a href="javascript:history.back()"
					class="btn btn-info btn-icon-split btn-sm float-right mr-3"> <span
					class="icon text-white-50"> <i class="fas fa-arrow-left"></i>
				</span> <span class="text">Back</span>
				</a>
			</h6>


			<!-- Begin Page Content -->
			<div class="container-fluid">
				<div class="container">
					<h3>Post a new Job</h3>
					<form th:action="@{/admin/jobs/add}" method="post"
						th:object="${jobDTO}" enctype="multipart/form-data">
						<input type="hidden" name="id" th:field="*{id}">
						
						<div class="row">
							<div class="col-sm-5">
								<div class="form-group">
									<label for="name">Job Title</label> <input type="text"
										class="form-control" required th:field="*{title}" name="title"
										id="title" placeholder="Enter Job Title">
								</div>

								<div class="form-group">
									<label for="postedBy">Posted By</label> <input type="text"
										class="form-control" required th:field="*{postedBy}"
										name="postedBy" id="postedBy" placeholder="Posted By">
								</div>

								<div class="form-group">
									<label for="postedBy">Skills </label> <input type="text"
										class="form-control" required th:field="*{skills}"
										name="postedBy" id="postedBy"
										placeholder="Seperate Skills by comma(,)">
								</div>

								<div class="form-group">
									<label for="experienceInYears">Experience In Years</label> <select
										class="form-control" required th:field="*{experienceInYears}"
										name="experienceInYears" id="experienceInYears"
										placeholder="Experience In Years">
										<option value="">Select Experience In Years</option>
									</select>
									<script type="text/javascript">
										let establishedYearBox = document
												.getElementById('experienceInYears');
										for (let i = 0; i < 20; i++) {
											establishedYearBox.innerHTML = establishedYearBox.innerHTML
													+ '<option value='+i+'>'
													+ i + '</option>';
										}
									</script>
								</div>



							</div>



							<div class="col-sm-5">

								<div class="form-group">

									<!--When new job is created this block will be rendered -->
									<div th:if="${locationsSelectedForThisJob == null}"
										class="col-sm-10">
										<label class="col-sm-5 control-label">Location To
											Attach</label>
										<div th:each="location, iStat : ${locations}">
											<input type="checkbox" th:id="${location.id}"
											th:name = "selectedLocations" th:value="${location.id}"> <label
												th:for="${location.id}" th:text="${location.city}"
												class="col-sm-5 control-label">Location </label>
										</div>
									</div>



									<!-- While Updating this block will be rendered -->
									<div th:if="${locationsSelectedForThisJob!=null}"
										class="col-sm-10">
										<input name="updateOperation" type="text"
											value="updateOperationInputText" hidden> <label
											class="col-sm-2 control-label">Locations to attach</label>
										<div th:each="location, iStat : ${locations}">
											<input type="checkbox" th:id="${location.id}"
												th:name="selectedLocations" th:value="${location.id}"
												th:checked="${#lists.contains(locationsSelectedForThisJob,location)}">
											<label th:for="${location.id}"
												th:text="${location.city}"
												class="col-sm-2 control-label">Category</label>
										</div>
									</div>





									<!-- 
									<label for="location" class="col-sm-5 control-label">Location</label>
									<div th:each="location, iStat : ${locations}">
										<input type="checkbox" th:id="${location.id}"
											th:name="selectedLocations" th:value="${location.id}">
										<label th:for="${location.id}" th:text="${location.city}"
											class="col-sm-5 control-label">Location</label>
									</div>
									 -->

								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="col-lg-10 control-label">Short Description
								<em>(250 Characters)</em>
							</label> ​
							<div class="col-lg-10">
								<textarea class="form-control " id="" name="shortDescription"
									th:field="*{shortDescription}"
									placeholder="ShortDescription in plain text to show in cards"
									maxlength=150 data-max-length=150></textarea>
							</div>
							</br>

							<div class="form-group">
								<label class="col-lg-10 control-label">Detailed Job
									Description</label> ​
								<div class="col-lg-10">
									<textarea class="form-control summernote" id="summernote"
										name="jobDescription" th:field="*{description}"></textarea>

									<br>
									<button type="submit" class="btn btn-primary">Submit</button>								​
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>

			<!-- Content Row -->
		</div>
		<!-- End of Content Wrapper -->
	</div>
	<!-- End of Page Wrapper -->
</body>

</html>