<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="_layout">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Change Password</title>

<!-- Custom fonts for this template-->
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">
<link href="/vendor/summernote/summernote/summernote-bs4.min.css"
	rel="stylesheet">


</head>

<body id="page-top">

	<div id="wrapper">


		<!-- Page Wrapper -->
		<div layout:fragment="content">

			<h6 class="m-0 font-weight-bold text-primary">
				<a href="javascript:history.back()"
					class="btn btn-info btn-icon-split btn-sm float-right mr-3"> <span
					class="icon text-white-50"> <i class="fas fa-arrow-left"></i>
				</span> <span class="text">Back</span>
				</a>
			</h6>

			<!-- Begin Page Content -->
			<div class="container-fluid">
				<div class="container">
					<h3>Change Password</h3>
					<!-- <form> -->
						<div class="row">
							<div class="col-sm-5">


<!-- 
								<script>
									// Function to check Whether both passwords
									// is same or not.
									function checkPassword(form) {
										password1 = form.password1.value;
										password2 = form.password2.value;

										// If password not entered
										if (password1 == '')
											alert("Please enter Password");

										// If confirm password not entered
										else if (password2 == '')
											alert("Please enter confirm password");

										// If Not same return False.    
										else if (password1 != password2) {
											alert("\nPassword did not match: Please try again...")
											return false;
										}

										// If same return True.
										else {
											alert("Password Match!")
											return true;
										}
									}
								</script>

 -->


								<input type="hidden" name="id">
								<div class="form-group">
									<label for="name">Current password</label><input id="currentPassword" type="password"
										class="form-control" required name="currentPassword"
										placeholder="Enter Current Password">
								</div>
								<div class="form-group">
									<label for="name">New password</label><input id="newPassword" type="password"
										class="form-control" required name="newPassword"
										placeholder="Enter new Password">
								</div>

								<div class="form-group">
									<label for="name">Confirm password</label><input id="confirmNewPassword"
										type="password" class="form-control" required name="confirmNewPassword"
										placeholder="Confirm Password">
								</div>

								<button class="btn btn-primary" onclick="submitNewPassword()">Submit</button>
							</div>
						</div>
					<!-- </form> -->
				</div>
			</div>
			
			
			<div class="modal fade" id="messageModal" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered" role="document">
			    <div class="modal-content"> 
			      <div id="modalBodyContent" class="modal-body">
			        
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" onclick="okayClick()">okay</button>
			      </div>
			    </div>
			  </div>
			</div>
			
			<script type="text/javascript">
					let responseText='';
					let modalEle = document.getElementById('messageModal');
					let modalB;
					function submitNewPassword() {
						modalB = new bootstrap.Modal(modalEle,{backdrop : 'static'});
						let http = new XMLHttpRequest();
						let obj = {
								currentPassword : document.getElementById('currentPassword').value,
								newPassword : document.getElementById('newPassword').value,
								confirmNewPassword :  document.getElementById('confirmNewPassword').value
						}
						http.open('POST', window.location.origin + '/admin/update-password/change-action');
						http.setRequestHeader('Content-Type','application/json');
						http.onloadend = () => {
							responseText = http.responseText;
							
							document.getElementById('modalBodyContent').innerHTML='<b>'+ responseText + '</b>';
							modalB.show();
							
						}
						http.send(JSON.stringify(obj));
					}
					function okayClick() {
						if(responseText === 'Password Updated') {
							modalB.hide();
							window.location.assign(window.location.origin+'/admin');
						} else if(responseText === 'New Password and the Confirm Password does not match') {
							modalB.hide();
						} else {
							modalB.hide();
						}
					}
			</script>

			<!-- Content Row -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->